.example-card {
    // max-width: 335px;
    box-shadow: none !important;
    border: none !important;
    padding: 15px !important;
    border-radius: 0 !important;
    margin: 0 auto;
    overflow-x: visible !important;
    .mat-card-actions{
        img{
            width:15px;
        }
        .img-more-footer{
            width:3px !important;
            height: auto;
        }
    }
    .mat-card-header,.mat-card-content,.mat-card-actions{
        margin:0 -25px;
    }
    .social-card-footer {
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: left;
        span {
        color: #666666;  
        cursor: pointer;  
        position: relative;      
        }
        button#dropdownMenuButton {
            border: none;
        }
        .dropdown-toggle::after{
            display: none;
        }
        .dropdown-menu a{
            font-size: 14px;
            color: #666666;
        }
        .dropdown-menu {
            position: absolute !important;;
            // top: 60% !important;
            // left: -146px !important;
            width: 175px;
            height: auto;
            background-origin: padding-box;
            border: none !important;
            border-radius: 5px;
            background-color: #ffffff;
            box-shadow: 0px 1.5px 18px 0 rgba(0, 0, 0, 0.15);
            line-height: 2.5;
        }
    }
    .mat-card-header{
        vertical-align: middle;
        input.input-commet{
            width: 290px;
            height: 30px;
            border-radius: 15px;
            background-color: #ffffff;
            border: solid 1.5px #f7f7f7;
            margin-top:5px;
            padding:0 15px;
        }
    }
    .mat-card-title {
        margin-bottom: 10px;
    }
    .social-image{
        min-width: 380px;
        max-height: 165px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 3px;
        height: 100%;
        text-align: center;
        -o-object-fit: fill;
        object-fit: fill;
        -webkit-object-fit: fill;
        position: relative;
        left: -30px;
        img{
            // width:100%;
            // height: 100%;
            border-radius: 3px;
            background-color: #4a2565;
        }
    }
  }
 
  .pos-post-cards{
    margin-left:-35px;
    padding-top: 35px;
}
ul li{
    list-style: none !important;
    border-bottom: 1.5px solid #f5f5f5;
}
.example-header-image {
    background-image: url('/assets/profile_user.jpg');
    background-size: cover;
  }


.nav-social{
   position: relative;
    .nav-social-inner{
        position:fixed;
        z-index:99;
        background:#fff; 
        border-bottom:1px solid #f5f5f5;
        min-width:410px !important;
        margin-left:-24px;
        padding:17px 15px;
        margin-top:-14px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
}

.social-cards-header{
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    h6{
        margin-bottom: 0;
    }
  }  
.social-cards-header-icnons{
    font-family: Roboto;
    font-size: 13px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    img{
        width:13px;
        height: auto;
    }
    .img-more{
        width:3px !important;
        height: auto;
    }
    span{
        cursor: pointer;
        position: relative;
    }
    button#dropdownMenuButton {
        border: none;
    }
    .dropdown-toggle::after{
        display: none;
    }
    .dropdown-menu a{
        font-size: 14px;
        color: #666666;
    }
    .dropdown-menu{
        position: absolute !important;
        // top: -35px !important;
        // left: -25rem !important;
        width: 175px !important;
        height: auto;
        background-origin: padding-box;
        border: none !important;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0px 1.5px 18px 0 rgba(0, 0, 0, 0.15);
        line-height: 2.5;
    }
  }