<ol>

  <li>


    <mat-form-field class="example-full-width" *ngIf="data.images?.length > 1">
      <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl" [(ngModel)]="selectedOption">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of data.options" [value]="option">
          {{option.title}}
        </mat-option>
        
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" [(ngModel)]="description"></textarea>
    </mat-form-field>

  </li>
  <li>
    <div *ngFor="let image of data.images">
        <img src='data:image/png;base64,{{image}}' width="100px" height="100px">
    </div>
    
  </li>
  <button (click)="saveFiles()">Save</button>
  <button (click)="closeDialog()">Close</button>
</ol>
