<div class="upload_popup" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="15px">
  <div fxFlex.lg="30%" fxFlex class="uploaded_files" fxLayoutAlign="center center">
    <div *ngFor="let image of data.images">
      <img src='data:image/png;base64,{{image}}' width="100px" height="100px">
    </div>
  </div>

  <div fxFlex fxLayout="column" fxLayoutGap="20px">

    <div class="custom_input_mat select_folder" fxLayout="column" fxLayoutGap="12px" *ngIf="data.images?.length > 1">
      <p>Image / Gallery Name</p>
      <mat-form-field class="select_dropdown">
        <input matInput placeholder="Enter image / gallery name" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl"
          [(ngModel)]="selectedOption">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of data.options" [value]="option">
            {{option.title}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="custom_input_mat popup_description" fxLayout="column" fxLayoutGap="12px">
      <p>Description</p>
      <mat-form-field class="select_dropdown">
        <input type="text" name="" id="" placeholder="Enter text" matInput [formControl]="file_name_control" formControlName="file_name">
      </mat-form-field>
    </div>

    <div class="file_action" fxLayoutAlign="end center">
      <button class="button_cancel" (click)="closeDialog()">Cancel</button>
      <button class="button_submit" (click)="saveFiles()">Save</button>
    </div>
  </div>

</div>

<!-- 
<ol>

  <li>


    <mat-form-field class="example-full-width" *ngIf="data.images?.length > 1">
      <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl" [(ngModel)]="selectedOption">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of data.options" [value]="option">
          {{option.title}}
        </mat-option>
        
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" [(ngModel)]="description"></textarea>
    </mat-form-field>

  </li>
  <li>
    <div *ngFor="let image of data.images">
        <img src='data:image/png;base64,{{image}}' width="100px" height="100px">
    </div>
    
  </li>
  <button (click)="saveFiles()">Save</button>
  <button (click)="closeDialog()">Close</button>
</ol> -->
