<div class="container">
    <ngx-alerts maxMessages="3" timeout="3000"></ngx-alerts>
    <ng4-loading-spinner></ng4-loading-spinner>
    <form [formGroup]="mediaManagementForm" enctype="multipart/form-data">
        <div class="col-md-12 form-group">
            <!-- <input  type="file" id="image" (change)="selectMedia($event)" #fileInput multiple> -->
            <image-upload id="image" (change)="selectMedia($event)" #fileInput></image-upload>
            <button class="btn btn-info upload" type="submit" (click)="mediaManagementFormSubmit(mediaManagementForm.value)">Upload</button>
        </div>
    </form>
    <button class="btn btn-info create" type="submit" (click)="changeShowStatus()">Select Images to Create Gallery</button>
    <form [formGroup]="submitAlbumData" enctype="multipart/form-data">
        
        <div >
                <label for="title">Title :</label>
                <input placeholder="Enter Album title here" type="text" formControlName="title">
            </div>
        <div class="row text-center text-lg-left">
            <div class="col-lg-3 col-md-4 col-xs-6 img-box" *ngFor="let items of mediaData,let i = index" (click)="hightlightStatus[i]=!hightlightStatus[i]; getImageId(items)"
                [class.highlight]="hightlightStatus[i]">
                <div class="img-item">
                    <div class="bg-layer"></div>
                    <img class="img-fluid img-thumbnail" src='data:image/png;base64,{{items.image}}' alt="">
                    <div class="delete-img" (click)="deleteMediaImage(items.id)">
                        <!-- <img src="../assets/icons/error.svg" class="img-fluid close-icon" (click)="deleteMediaImage(items.id)"> -->
                        <i class="fa fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" (click)="submitAlbumDataPost(submitAlbumData.value)" [disabled]="!submitAlbumData.valid">Create Gallery</button>
        <!-- <button class="btn btn-primary" (click)="submitAlbumDataPost(submitAlbumData.value)">Cancel</button> -->
    </form>
</div>