@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
button {
  outline: none;
}
#gjs {
  border: 3px solid #444;
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}
// table stylessssss
.table-bordered{
  background-color: rgb(255, 255, 255);
}
.table-bordered thead th, tbody td{
  vertical-align: middle !important;
}
.table-bordered thead tr, tbody tr{
  height: 70px;
}
.table-bordered th{
font-family: 'Roboto';
font-size: 13px;
font-weight: 500;
color: #666666;
// color: var(--brownish-grey);
}
.table-bordered td{
  font-family: 'Roboto';
font-size: 13px;
color: #666666;
}
.table-bordered td .name-feedback{
  font-family: 'Roboto';
font-size: 14px;
font-weight: 500;
color: #333333;
}
.table-bordered th, .table-bordered td{
  border-left:none;
  border-right:none;
  
}
.fb-first-field input, p{
  margin:0 5px
}

.table-bordered input[type=checkbox]:checked{
  background: #4a2565 !important;
  transition: all 5s ease-in-out !important;
}
.btn-stack {
  button {
    background: none;
    border: none;
    margin: 0;
  }
}
.btn:focus {
  outline: 0;
  box-shadow: none;
}

button i {
  font-family: FontAwesome !important;
  opacity: 0.6;
}
.asset-btn-flujo:hover{
  opacity: 1;
}
button i:hover {
  opacity: 1;
}
td.btn-pages{
  text-align: center;
  padding:0rem;
  button{
    margin: 0;
  }
}
.pages-total{
  max-height: calc( 100vh - 200px);
  position: relative;
  // padding: 8px;
  .pages-data{
    min-width: 800px;
    overflow: auto;
  }
}
// input, input:focus {
//     outline: none;
//     box-shadow: none;
// }
.addview-buttons {
  text-align: right;
  padding: 15px 0;
  float: right;
  button {
    margin-right: 15px;
    background: none;
    border: none;
    color: #666666;
    box-shadow: none;
  }
  .page_viewButton img {
    max-height: 18.5px;
  }
}

img {
  max-width: 100px;
  max-height: 100px;
  vertical-align: middle;
}

// .table {
//   thead {
//     tr {
//       border-bottom: 1px solid #dee2e6;
//     }
//   }
//   td,
//   th,
//   button {
//     border: none;

//     font-size: 14px;
//     font-family: 'Roboto';
//     font-size: 14px;
//     font-weight: 500; // line-height: 1.43;
//     // text-align: left;
//     color: #666666;
//   }
//   button {
//     color: #fff;
//   }
// }

// input {
//     border-radius: 0;
//     padding: 8px;
//     font-size: 14px;
//     color: #666666;
// }
.add-pages {
  select {
    height: 38px;
    cursor: pointer;
    outline: none; // margin-left: 15px;
  } // .form-group {
  //     input {
  //         width: auto;
  //         display: initial;
  //         // margin-left: 15px;
  //     }
  // }
}
.main-pages{
  margin-left: -15px;
  position: relative;
  .main-page{
    max-width: 270px !important;
    .mat-card-actions{
      margin-left: 0;
      margin-right: 0;
    }
    .example-card:hover .page-controls img{
      display: block;
    }
    .example-card {
      width: 270px;
      padding: 0;
      border-radius: 2px;
      position: relative;
      .page-controls{
        position: absolute;
        z-index: 999;
        padding: 10px;
        width:100%;
        
        img{
          cursor: pointer;
          display:none;
        }
      }
      #pageview {
        width: 100%;
        height: 160px;
        background-color: brown;
        background-image: linear-gradient(49deg, #425be0, #e677f8);
        background-position: center center;
        background-size: contain;
        border-radius: 2px 2px 0 0;
        position: relative;
        .page-screenshot {
          position: absolute;
          border-radius: 2px 2px 0 0;
          max-width: 100%;
          max-height: 100%;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

}

.grid-tile {
  border-radius: 5px;
}



#pageheader {
  padding: 20px 10px 0;
  .edit-title h6,
  i {
    display: inline;
    opacity: 0.6;
  }
  .edit-title {
    h6#page-title {
      // max-width: 50%;
      white-space: nowrap;
      width: 5em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.button-row {
  width: 100%;
  padding: 25px 10px 25px 20px; // margin:10px auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  button {
    margin: -10px;
  } // .button-stack:hover button{
  //     margin: initial;
  //     z-index: 99;
  // }
  a {
    margin-left: 15px;
    opacity: 0.6;
  }
}

// .btn-addpage {
//   background: none;
//   border: 1px solid #666666 !important;
//   border-radius: 30px !important;
//   line-height: 30px;
//   font-size: 11px;
//   font-weight: 500;
//   text-align: center;
//   color: #666666;
// }

.divider {
  width: auto;
  height: 1.5px;
  background-color: #d8d8d8;
  margin: 15px 0;
}

.main-category {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #666666;
}

.parent-pages {
  height: auto;
  position: relative;
}

.child-pages {
  margin-left: 0;
  position: relative;
  .child-page {
    white-space: nowrap;
    max-width: 175px !important;
    display: inline;
    margin-left: -15px;
    margin-right: 30px !important;
    .mat-card-actions{
      margin-left: 15px;
      margin-right: 15px;
    }
    .example-card{
      #pageview {
        width: 100%;
        height: 160px;
        background-color: brown;
        background-image: linear-gradient(49deg, #425be0, #e677f8);
        background-position: center center;
        background-size: contain;
        border-radius: 2px 2px 0 0;
        position: relative;
      }
      .page-screenshot {
        position: absolute;
        border-radius: 2px 2px 0 0;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
      }
      width:175px;
      padding: 0;
      border-radius: 2px;
      position: relative;
      #pageview{
        height: 130px !important;
      }
    }
  }
  .add-child-page{
    width: 175px;
    height: 196px;
    border-radius: 2px;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-right:2px;
    .addapageicon{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color:transparent;
      border: solid 2px #f5f5f5;
      text-align: center;
      vertical-align: middle;
      margin-bottom: 15px;
      img{
        line-height: 50;
        margin-top: 15px;
      }
    }
    .addapage{
      font-family: Roboto;
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #d8d8d8;
    }
  }
}

.colorPickerInput {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  font-size: 8px;
  text-align: center;
  border: 0.5px solid #ccc;
}

.select_box {
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  border: solid 1.5px #d8d8d8;
  select {
    border-color: transparent;
    background-color: transparent;
    height: auto;
  }
}
/* LOcal image popup design */
.img-box.highlight:hover {
  .delete-img {
    display: none;
  }
}

.highlight {
  .img-item {
    position: relative;
    box-shadow: 7px 10px 17px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(59, 234, 15);
  }
  .img-item:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    font-size: 30px;
    position: absolute;
    right: 15px;
    top: 0;
    color: green;
    z-index: 9999999999;
  }
  .bg-layer {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.grid-gallery {
  .grid-item {
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 0;
    cursor: pointer;
    p {
      color: #369;
      margin: 0;
      font-size: 14px;
    }
  }
}


/* PopUp */
.grid-gallery-popUp {
  .bg-layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
  }
  .img-block {
    position: relative;
    margin-bottom: 15px;
  }
  .img-box.active {
    .bg-layer {
      display: block;
    }
  }
  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
  }
}

.editor-popGallery {
  .button_submit {
    min-width: 100px;
  }
}

.input_box {
  input {
    border-color: #d8d8d8;
  } 
  input:focus {
    border-color: #0cc0df;
  }
}
