<ngx-alerts maxMessages="3" timeout="5000"></ngx-alerts>
<div class="flujo_card_block" fxLayoutAlign="center center">
  <div class="card_block">
    <form [formGroup]="changePasswordForm"  data-toggle="validator">
      <div class="card_header">
        <h3 class="header_title">
          Change Password
        </h3>
      </div>
      <div class="card_body" fxLayout="column" fxLayoutGap="20px">
        <div class="input_box">
          <label for="">Old Password</label>
          <input type="password" placeholder="Old password" id="old_password" formControlName="old_password">
        </div>
        <div class="input_box">
          <label for="">New Password</label>
          <input type="password" [(ngModel)]="password" id="password" placeholder="New Password" formControlName="new_password">
        </div>
        <div class="input_box">
          <label for="">Confirm Password</label>
          <input type="confirm_password" [(ngModel)]="confirm_password" type="password" id="confirm_new_password" match="password"
            placeholder="Confirm New Password" formControlName="confirm_new_password">
        </div>
      </div>
      <div class="card_footer" fxLayoutAlign="end ">
        <button class="button_cancel" (click)="cancelChangePassword()" >
            Cancel
        </button>
        <button fxLayoutAlign="center" (click)="onSubmit(changePasswordForm.value)" type="submit" class="button_submit" [disabled]="changePasswordForm.invalid">
          Change Password
        </button>
      </div>
    </form>
  </div>
</div>
