<ngx-alerts maxMessages="3" timeout="5000"></ngx-alerts>
<div fxLayoutAlign="center center" class="loginfield mt-5" fxLayout>
  <mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <form [formGroup]="changePasswordForm" (submit)="onSubmit(changePasswordForm.value)" data-toggle="validator">
        <div fxLayout="column card" fxFlex="100%">
          <mat-form-field fxFlex>
            <input type="password" matInput placeholder="Old password" id="old_password" formControlName="old_password">
            <span matPrefix>
              <i class="fa fa-key">&nbsp;</i>
            </span>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input type="password" [(ngModel)]="password" id="password" matInput placeholder="New Password" formControlName="new_password">
            <span matPrefix>
              <i class="fa fa-key">&nbsp;</i>
            </span>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input type="confirm_password" [(ngModel)]="confirm_password" type="password" id="confirm_new_password" match="password" matInput
              placeholder="Confirm New Password" formControlName="confirm_new_password">
            <span matPrefix>
              <i class="fa fa-key">&nbsp;</i>
            </span>
            <span *ngIf="changePasswordForm.hasError('isMatch')" class="alert">Passwords are not match!</span>
          </mat-form-field>
          <mat-card-actions fxLayoutAlign="center stretch">
            <button fxFlex fxLayoutAlign="center" type="submit" mat-raised-button class="btn-login mt-2 p-2" [disabled]="changePasswordForm.invalid"
              color="accent">
              <h6>Update
                <i class="fa fa-angle-right"></i>
              </h6>
            </button>
          </mat-card-actions>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>