<ng4-loading-spinner></ng4-loading-spinner>
<div fxLayout="column" fxLayoutGap="15px">
  <div>
    <h6 class="issues">Change Maker</h6>
    <div fxLayoutAlign="center center">
      <app-headerurls></app-headerurls>
    </div>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="30px">
    <!-- <div fxLayoutAlign="center center" class="text-center button-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-secondary  btn-actissue">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Active Issues
      </label>
      <label class="btn btn-outline-secondary btn-pastissue">
        <input type="radio" name="options" id="option2" autocomplete="off"> Past Issues
      </label>
    </div> -->
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
      <!-- <div  class=" text-center button-group btn-group-toggle" data-toggle="buttons">
         <label class="pull-right btn btn-outline-secondary   btn-view-grid" >
            <input type="radio"  name="options" id="view1" autocomplete="off" checked> <i class="fa fa-th"></i>
         </label>
         <label class="pull-right btn btn-outline-secondary   btn-view-list">
           <input type="radio"  name="options" id="view2" autocomplete="off"> <i class="fa fa-th-list"></i>
         </label>
        </div> -->
      <button (click)="exportChangermakereport()" class="btn btn-outline-secondary btn-sm btn-report pull-right">Export as CSV</button>
      <div class="dropdown" matSort (matSortChange)="sortData($event)">
        <ul class="pull-right btn btn-outline-secondary btn-issues dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sort By
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li class="dropdown-item" mat-sort-header="name">Name</li>
            <li class="dropdown-item" mat-sort-header="date_now">Date</li>
            <li class="dropdown-item" mat-sort-header="email">Email</li>
          </div>
        </ul>
      </div>
      <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
    </div>
  </div>
  <div class="changemaker_table" [perfectScrollbar]="config">
    <div *ngFor="let report of changemakerData2 | paginate: { itemsPerPage: 10, currentPage: p }" class="link-row" fxLayout.xs="column"
      fxLayout="row">
      <div class="problem-box" fxFlex fxLayout="column" fxLayoutGap="15px">
        <div fxLayout="row" fxLayoutGap="3rem">
          <div class="" fxFlex="20%" fxLayoutAlign="start center">
            <span fxLayoutGap="5px">
              <p class="text-muted d-inline">
                <i class="fa fa-ellipsis-v"></i>&nbsp;
                <i class="fa fa-ellipsis-v"></i>
              </p>
              <input class="d-inline" type="checkbox">
              <b>
                <p class="d-inline">{{report.name}}</p>
              </b>
            </span>
          </div>
          <div fxFlex="25%" fxLayoutAlign="start center">
            <span class="text-muted d-inline">
              4 hrs ago&nbsp;
            </span>
            <span class="d-inline">{{report.date_now}}</span>
          </div>
          <div fxFlex="20%" fxLayoutAlign="start center">
            <span class="text-muted d-inline">
              Source:&nbsp;
            </span>
            <span class="d-inline">Website</span>
          </div>
          <div fxFlex fxLayoutAlign="end end">
            <span class="text-muted d-inline">
              <p class="d-inline">
                <i class="fa fa-ellipsis-v"></i>
              </p>
            </span>
          </div>

        </div>
        <div class="divide-line"></div>
        <div fxLayout="row" fxLayoutGap="3rem">
          <div fxFlex="20%" fxLayoutAlign="start">
            <span class="text-muted">
              Email:&nbsp;
            </span>
            <span>{{report.email}}</span>
          </div>
          <div fxFlex="25%" fxLayoutAlign="start">
            <span class="text-muted">
              Phone:&nbsp;
            </span>
            <span >{{report.phone}}</span>
          </div>
          <div fxFlex="40%" fxLayoutAlign="start">
            <span class="text-muted">
              <i class="fa fa-paperclip"> </i> &nbsp;
            </span>
            <span class="report-file-descr"> Now is the time for all good men to come to the aid of their party</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feedback_footer" fxLayout="row" fxLayoutAlign="space-between ">
    <div class="sendMail-data">
      <div class="sendMail-data">
        <form action="" [formGroup]="changeMakerCsvMail" fxLayout="row" fxLayoutGap="15px">
          <input class="form-control" formControlName="email" id="email" placeholder="Enter email">
          <div [hidden]="changeMakerCsvMail.controls.email.valid || (changeMakerCsvMail.controls.email.pristine && !submitted)" class="form-error-msg">
            enter valid email
          </div>
          <div>
            <button  mat-raised-button class="button_submit" (click)="changeMakerCsvMailSubmit(changeMakerCsvMail.value)" [disabled]="changeMakerCsvMail.invalid">Send As Email</button>
          </div>
        </form>
      </div>
    </div>
      <mat-paginator *ngIf="changemakerData2" class="paginationn" #paginator
                    [length]="changemakerData2.length"
                    [pageIndex]="0"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
  </div>
  <!-- <pagination-controls class="paginationn" (pageChange)="p = $event"></pagination-controls> -->
</div>