<ng4-loading-spinner></ng4-loading-spinner>

<div class="page_padding p-rel" fxLayout="column" fxLayoutGap="15px">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap="wrap">
    <h6 class="issues">Feedback</h6>
    <div fxLayoutAlign="center center">
      <app-headerurls></app-headerurls>
    </div>
    <div fxLayoutAlign="end center">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center" *ngIf="componentName === 'feedback'">
        <button fxFlex (click)="exportFeedbackData()" class="choose_button">Export as CSV</button>
        <div fxFlex class="custom_input_mat">
          <mat-form-field class="select_dropdown">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="componentName === 'feedback'">
    <div>
      <p>Total Count: {{elementData?.length}}</p>
    </div>
    <div class="feedback_table" [perfectScrollbar]="config">

      <div class="feedback-data">
        <mat-table #table [dataSource]="dataSource" matSortDirection="desc" matSort>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let elementData"> {{elementData?.name}} </mat-cell>
          </ng-container>
          <!-- Update column -->
          <ng-container matColumnDef="updated">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Updated </mat-header-cell>
            <mat-cell *matCellDef="let elementData"> {{elementData?.datenow}} </mat-cell>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let elementData"> {{elementData?.email}} </mat-cell>
          </ng-container>
          <!-- Phone Column -->
          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </mat-header-cell>
            <mat-cell *matCellDef="let elementData"> {{elementData?.phone}} </mat-cell>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="message">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Message </mat-header-cell>
            <mat-cell *matCellDef="let elementData"> {{elementData?.message}} </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
    <div class="feedback_footer" fxLayout="row" fxLayoutAlign="space-between ">
      <div class="sendMail-data form-group">
        <form action="" [formGroup]="feedbackCsvMail" fxLayout="row" fxLayoutGap="15px">
          <div class="input_box p-rel">
            <input formControlName="email" id="email" placeholder="Enter email">
            <div [hidden]="feedbackCsvMail.controls.email.valid || (feedbackCsvMail.controls.email.pristine && !submitted)" class="form-error-msg">
              enter valid email
            </div>
          </div>
          <div>
            <button mat-button class="button_submit" (click)="feedbackCsvMailSubmit(feedbackCsvMail.value)" [disabled]="feedbackCsvMail.invalid">Send As Email</button>
          </div>
        </form>
      </div>
      <mat-paginator class="paginationn" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
    <!-- <pagination-controls class="paginationn" (pageChange)="p = $event"></pagination-controls> -->
  </div>

  <app-changemaker *ngIf="componentName === 'changemakerreport'"></app-changemaker>

</div>
