<div class="group_btns" fxLayout="row">
  <button (click)="radioChange('feedback', 7)" name="options" id="option1" [ngClass]="{'active':isActive}" autocomplete="off"
    checked>Feedback</button>
  <button (click)="radioChange('changemakerreport', 8)" name="options" id="option2" autocomplete="off"> Change maker</button>
  <button (click)="radioChange('surveys', 9)" name="options" id="option2" autocomplete="off">
    Surveys</button>
  <button (click)="radioChange('database', 10)" name="options" id="option2" autocomplete="off">
    Database</button>
</div>
