
@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather|Montserrat|PT+Sans|Raleway|Risque|Roboto|Roboto+Slab|Source+Sans+Pro');
.form-control{
    box-shadow: none;
}

.colorPickerBox {
    position: relative;
}

*{
    font-family: 'Roboto' , sans-serif;
}
.theme-global{
    color:#666666;
    font-size: 14px;
}
.theme-header{
    font-size: 30px;
	font-weight: 100;
	text-align: left;
    color: #666666;
    margin-bottom: 15px !important;
}
.border-hor-one{
    height: 1.5px;
    border-radius: 0.8px;
    background-color: #d8d8d8;
}

.rounded-rectangle-2360 {
    width: 1.5px;
    height: 350px;
    margin-top: 80px;
	border-radius: 0.8px;
	background-color: #d8d8d8;
}
.rounded-rectangle-2358 {
	height: 1.5px;
	border-radius: 0.8px;
	background-color: #d8d8d8;
}
select.from-cntrol{
    border: none !important;
}
.btn-new{
    border-radius: 35px;
    padding:5px 18px;
}
#ChildMenuOverColor,#PrimaryMenuTitleColor, #ChildMenuTitleColor,#PrimaryMenuOverColor{
    width: 40px;
    height: 40px;
    border-radius: 50%;
	background-color: #452c59;
	border: solid 1.5px #ffffff;
}
.preview-theme-header{
    font-size: 21px;
}
.pad-20{
    padding: 20px;
}
.hash-code{
    position: absolute;
    left:4rem;
    top :2.5rem;
}
input{
    cursor: pointer;
}