
  
  .tconfig {
    // width: 300px;
    margin: 0 auto; 
    margin-top: 60px;
    input,
    textarea{
      padding: 8px 15px;
      outline: none;
      width: 100%;
      margin-bottom: 20px;
      box-shadow: none;
    }
    .select-wrap{
        padding: 8px 15px;
        border-radius: 20px;
        background-color: #ffffff;
        border: solid 1.5px #d8d8d8;
        position: relative;
        margin-bottom: 20px;
    }
    .file-box {
      box-shadow: none;
      border: none;
  
    }
     // control-messages,
    // .form-error-msg {
    //   color: #E82C0C;
    //   margin: 6px 0;
    // }
  }
  
  
  .button_submit {
    width: 100px;
  }
  
  .choose-button {
    background: none;
    border: 1px solid #666666 !important;
    border-radius: 30px !important;
    line-height: 30px;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    color: #666666;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    box-shadow: none !important;
    overflow: hidden;
  }
  select {
    border: none;
    padding: 8px 15px;
    outline: none;
    width: 100%;
    box-shadow: none;
  }

  div.template-preview{
    width:100%;
    max-height: 400px;
    height: 100%;
    margin-bottom: 20px;
    box-shadow: none;
    overflow: hidden;
    border-radius: 20px;
    background-color: #ffffff;
    border: solid 1.5px #d8d8d8;
    position: relative;
    margin-bottom: 20px;
  }
  .file-box {
    box-shadow: none;
    border: none;
  } // control-messages,
  // .form-error-msg {
  //   color: #E82C0C;
  //   margin: 6px 0;
  // }

.button_submit {
  width: 100px;
}

.choose-button {
  background: none;
  border: 1px solid #666666 !important;
  border-radius: 30px !important;
  line-height: 30px;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  color: #666666;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  box-shadow: none !important;
  overflow: hidden;
}

select {
  border: none;
  padding: 8px 15px;
  outline: none;
  width: 100%;
  box-shadow: none;
}

div.template-preview {
  width: 100%;
  max-height: 400px;
  height: 100%;
  margin-bottom: 20px;
  box-shadow: none;
  overflow: auto;
  border-radius: 20px;
  background-color: #ffffff;
  border: solid 1.5px #d8d8d8;
  position: relative;
  padding: 0.1rem 1rem;
  margin: 0 auto;
  text-align: center;
  img {
    // position: absolute;
    width: auto;
    height: 100%;
  }
}
.title {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: #666666;
}
.floder_block {
  height: 60px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 1.5px 7.5px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 175px;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
  .floder_name {
    font-size: 13px;
    color: #919191;
  }
  .fa-folder-open {
    display: none;
  }
}

.floder_block.active:after {
  content: "";
  background-color: #50d166;
  width: 7px;
  height: 7px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.file_block {
  // width: 175px;
  height: 210px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 1.5px 7.5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
  .file_icon {
      // height: calc(100% - 55.5px);
      box-shadow: none;
      border: none;
      position: relative !important;
      // max-width: 175px;
      width: 100%;
      max-height: 126px;
      height: 100%;
      overflow: hidden;
      padding: 0.1rem 5px;
      margin: 0 auto;
      text-align: center;
      img {
        // position: absolute;
        width: auto;
        height: auto;
      }
      div.preview-thumbnail{
        position: absolute !important;
        width:auto !important;
        height: auto !important;
        top: 0;
        bottom: 0;
      }
      i{
      font-size: 80px;
      }
    }
}
.file_footer {
  padding: 14px 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1.5px solid #f7f7f7;
  .title {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #919191;
    margin-bottom: 5px;
  }
}
.file_actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 1;
  .action {
    padding: 12px;
    background-color: #ffffff;
  }
}
.trash-icon {
  display: block;
  margin-left: auto;
  float:right;
}
 