<div class="social-tabs-inner">
  <div class="social-tabs-hub-inner" [perfectScrollbar]="config">
    <div class="social-tabs-hub-inner-row" fxLayoutGap="0.5px" fxLayout="row">
      <div class="col-md-4">
        <div class="social-card" [perfectScrollbar]="config">
          <div class="nav-social" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="social-cards-header">
              <h6>Mentions</h6>
            </div>
            <div class="social-cards-header-icnons d-inline">
              <div fxLayout="row" fxLayoutGap="1rem">
                <span>
                  <img src="../assets/social/search-so-icon-normal@3x.png" class="">
                </span>
                <span>
                  <img src="../assets/social/refresh-so-icon-normal@3x.png" class="">
                </span>
                <span class="stream dropdown">
                  <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-more" src="../assets/social/more-so-icon-normal@3x.png">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Text Only</a>
                    <a class="dropdown-item">Text + Images</a>
                    <a class="dropdown-item">Remove Stream</a>
                  </div>
                </span>
              </div>
            </div>
          </div>
          <ul class="pos-post-cards">
            <li>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                  </p>
                </mat-card-content>
                <br/>
                <div class="social-image">
                  <img mat-card-image src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350"
                    alt="Photo of a Shiba Inu">
                </div>
                <mat-card-actions>
                  <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="btn-likes" fxLayout=row fxLayoutGap="5px" fxLayoutAlign="center center">
                      <span class="icons-default d-inline">
                        <img  src="../assets/social/like-icon-normal@3x.png" class="like-icon">
                        <img  src="../assets/social/liked-icon-normal@3x.png" class="liked-icon">
                      </span>
                      <span class="d-inline">Like</span>
                    </div>
                    <div>
                      <span (click)="doComment= !doComment">
                        <img src="../assets/social/comment-icon-normal@3x.png" class="">&nbsp; Comment
                      </span>
                    </div>
                    <div>
                      <span>
                        <img src="../assets/social/share-icon-normal@3x.png" class="">&nbsp; Share
                      </span>
                    </div>
                    <div>
                      <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="../assets/social/more-so-icon-normal@3x.png" class="img-more-footer">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Send Email</a>
                            <a class="dropdown-item" href="#">Create Stream</a>
                            <a class="dropdown-item" href="#">Delete Post</a>
                          </div>
                      </div>
                    </div>
                  </div>
                  <br/>
                </mat-card-actions>
                <mat-card-actions class="header-as-footer">
                  <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="btn-likes" fxLayout=row fxLayoutGap="5px" fxLayoutAlign="center center">
                      <span class="icons-default d-inline">
                        <img src="../assets/social/like-icon-normal@3x.png" class="like-icon">
                        <!-- <img src="../assets/social/liked-icon-normal@3x.png" class="liked-icon"> -->
                      </span>
                      <span class="d-inline">22</span>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">
                      <span>
                        12 &nbsp; Comments
                      </span>
                      <span>
                        12 &nbsp; Shares
                      </span>
                    </div>
                  </div>
                </mat-card-actions><br/>
                <mat-card-header fxLayout="column" fxLayoutGap="10px" class="social-card-footer comments-section">
                  <div fxLayout="row"  fxLayoutGap="10px">
                    <div mat-card-avatar class="d-inline">
                      <img class="comments-avatar" src="../assets/profile_user.jpg">
                    </div>
                    <div fxLayout="column" fxLayoutGap="5px" class="d-inline">
                      <div fxLayout="row" fxLayoutGap="5px">
                        <span><b>Abhiram</b></span>
                        <span>commented by commentor  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.</span>
                      </div>
                      <div fxLayout="row" fxLayoutGap="5px">
                        <span>Like</span> <span>|</span>
                        <span>Reply</span>
                        <span>1 &nbsp;<span>day</span></span>
                      </div>
                    </div>
                  </div>

                  <div fxLayout="row"  fxLayoutGap="10px">
                    <div mat-card-avatar class="d-inline">
                      <img class="comments-avatar" src="../assets/profile_user.jpg">
                    </div>
                    <div fxLayout="column" fxLayoutGap="5px" class="d-inline">
                      <div fxLayout="row" fxLayoutGap="5px">
                        <span><b>Abhiram</b></span>
                        <span>commented by commentor</span>
                      </div>
                      <div fxLayout="row" fxLayoutGap="5px">
                        <span>Like</span> <span>|</span>
                        <span>Reply</span>
                        <span>1 &nbsp;<span>day</span></span>
                      </div>
                    </div>
                  </div>

                  
                </mat-card-header>
                <mat-card-header *ngIf="doComment">
                  <div mat-card-avatar class="d-inline example-header-image"></div>
                  <input class="d-inline input-commet" type="text" placeholder="Comment">
                </mat-card-header>
              </mat-card>
            </li>

            <li>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                  </p>
                </mat-card-content>
                <br/>
                <div class="social-image">
                  <img mat-card-image src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350"
                    alt="Photo of a Shiba Inu">
                </div>
                <mat-card-actions>
                  <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                      <span class="icons-default">
                        <img src="../assets/social/like-icon-normal@3x.png" class="">&nbsp; Like
                      </span>
                    </div>
                    <div>
                      <span>
                        <img src="../assets/social/comment-icon-normal@3x.png" class="">&nbsp; Comment
                      </span>
                    </div>
                    <div>
                      <span>
                        <img src="../assets/social/share-icon-normal@3x.png" class="">&nbsp; Share
                      </span>
                    </div>
                    <div>
                      <span class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="../assets/social/more-so-icon-normal@3x.png" class="img-more-footer">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item">Edit</a>
                          <a class="dropdown-item">Send Email</a>
                          <a class="dropdown-item">Create Stream</a>
                          <a class="dropdown-item">Delete Post</a>
                        </div>
                      </span>
                    </div>
                  </div>
                  <br/>
                </mat-card-actions>
                <mat-card-header>
                  <div mat-card-avatar class="d-inline example-header-image"></div>
                  <input class="d-inline input-commet" type="text" placeholder="Comment">
                </mat-card-header>
              </mat-card>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="social-card" [perfectScrollbar]="config">
          <div class="nav-social" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="social-cards-header">
              <h6>Mentions</h6>
            </div>
            <div class="social-cards-header-icnons d-inline">
              <div fxLayout="row" fxLayoutGap="1rem">
                <span>
                  <img src="../assets/social/search-so-icon-normal@3x.png" class="">
                </span>
                <span>
                  <img src="../assets/social/refresh-so-icon-normal@3x.png" class="">
                </span>
                <span class="dropdown">
                  <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-more" src="../assets/social/more-so-icon-normal@3x.png">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Text Only</a>
                    <a class="dropdown-item">Text + Images</a>
                    <a class="dropdown-item">Remove Stream</a>
                  </div>
                </span>
              </div>
            </div>
          </div>
          <ul class="pos-post-cards">
            <li>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                  </p>
                </mat-card-content>
                <br/>
                <div class="social-image">
                  <img mat-card-image src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350"
                    alt="Photo of a Shiba Inu">
                </div>
                <mat-card-actions>
                  <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                      <span class="icons-default">
                        <img src="../assets/social/like-icon-normal@3x.png" class="">&nbsp; Like
                      </span>
                    </div>
                    <div>
                      <span>
                        <img src="../assets/social/comment-icon-normal@3x.png" class="">&nbsp; Comment
                      </span>
                    </div>
                    <div>
                      <span>
                        <img src="../assets/social/share-icon-normal@3x.png" class="">&nbsp; Share
                      </span>
                    </div>
                    <div>
                      <span class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="../assets/social/more-so-icon-normal@3x.png" class="img-more-footer">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item">Edit</a>
                          <a class="dropdown-item">Send Email</a>
                          <a class="dropdown-item">Create Stream</a>
                          <a class="dropdown-item">Delete Post</a>
                        </div>
                      </span>
                    </div>
                  </div>
                  <br/>
                </mat-card-actions>
                <mat-card-header>
                  <div mat-card-avatar class="d-inline example-header-image"></div>
                  <input class="d-inline input-commet" type="text" placeholder="Comment">
                </mat-card-header>
              </mat-card>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="social-card" [perfectScrollbar]="config">
          <div class="nav-social" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="social-cards-header">
              <h6>Shares</h6>
            </div>
            <div class="social-cards-header-icnons d-inline">
              <div fxLayout="row" fxLayoutGap="1rem">
                <span>
                  <img src="../assets/social/search-so-icon-normal@3x.png" class="">
                </span>
                <span>
                  <img src="../assets/social/refresh-so-icon-normal@3x.png" class="">
                </span>
                <span class="dropdown">
                  <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-more" src="../assets/social/more-so-icon-normal@3x.png">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Text Only</a>
                    <a class="dropdown-item">Text + Images</a>
                    <a class="dropdown-item">Remove Stream</a>
                  </div>
                </span>
              </div>
            </div>
          </div>
          <ul class="pos-post-cards">
            <li>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                  </p>
                </mat-card-content>
                <br/>
                <div class="social-image">
                  <img mat-card-image src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350"
                    alt="Photo of a Shiba Inu">
                </div>
                <mat-card-actions>
                  <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                      <span class="icons-default">
                        <img src="../assets/social/like-icon-normal@3x.png" class="">&nbsp; Like
                      </span>
                    </div>
                    <div>
                      <span>
                        <img src="../assets/social/comment-icon-normal@3x.png" class="">&nbsp; Comment
                      </span>
                    </div>
                    <div>
                      <span>
                        <img src="../assets/social/share-icon-normal@3x.png" class="">&nbsp; Share
                      </span>
                    </div>
                    <div>
                      <span class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="../assets/social/more-so-icon-normal@3x.png" class="img-more-footer">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item">Edit</a>
                          <a class="dropdown-item">Send Email</a>
                          <a class="dropdown-item">Create Stream</a>
                          <a class="dropdown-item">Delete Post</a>
                        </div>
                      </span>
                    </div>
                  </div>
                  <br/>
                </mat-card-actions>
                <mat-card-header>
                  <div mat-card-avatar class="d-inline example-header-image"></div>
                  <input class="d-inline input-commet" type="text" placeholder="Comment">
                </mat-card-header>
              </mat-card>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="social-card" [perfectScrollbar]="config">
          <div class="nav-social" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="social-cards-header">
              <h6>Likes</h6>
            </div>
            <div class="social-cards-header-icnons d-inline">
              <div fxLayout="row" fxLayoutGap="1rem">
                <span>
                  <img src="../assets/social/search-so-icon-normal@3x.png" class="">
                </span>
                <span>
                  <img src="../assets/social/refresh-so-icon-normal@3x.png" class="">
                </span>
                <span class="dropdown">
                  <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-more" src="../assets/social/more-so-icon-normal@3x.png">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Text Only</a>
                    <a class="dropdown-item">Text + Images</a>
                    <a class="dropdown-item">Remove Stream</a>
                  </div>
                </span>
              </div>
            </div>
          </div>
          <ul class="pos-post-cards">
            <li>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                  </p>
                </mat-card-content>
                <br/>
                <div class="social-image">
                  <img mat-card-image src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350"
                    alt="Photo of a Shiba Inu">
                </div>
                <mat-card-actions>
                  <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                      <span class="icons-default">
                        <img src="../assets/social/like-icon-normal@3x.png" class="">&nbsp; Like
                      </span>
                    </div>
                    <div>
                      <span>
                        <img src="../assets/social/comment-icon-normal@3x.png" class="">&nbsp; Comment
                      </span>
                    </div>
                    <div>
                      <span>
                        <img src="../assets/social/share-icon-normal@3x.png" class="">&nbsp; Share
                      </span>
                    </div>
                    <div>
                      <span class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="../assets/social/more-so-icon-normal@3x.png" class="img-more-footer">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item">Edit</a>
                          <a class="dropdown-item">Send Email</a>
                          <a class="dropdown-item">Create Stream</a>
                          <a class="dropdown-item">Delete Post</a>
                        </div>
                      </span>
                    </div>
                  </div>
                  <br/>
                </mat-card-actions>
                <mat-card-header>
                  <div mat-card-avatar class="d-inline example-header-image"></div>
                  <input class="d-inline input-commet" type="text" placeholder="Comment">
                </mat-card-header>
              </mat-card>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="social-card" [perfectScrollbar]="config">
          <div class="nav-social" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="social-cards-header">
              <h6>Comments</h6>
            </div>
            <div class="social-cards-header-icnons d-inline">
              <div fxLayout="row" fxLayoutGap="1rem">
                <span>
                  <img src="../assets/social/search-so-icon-normal@3x.png" class="">
                </span>
                <span>
                  <img src="../assets/social/refresh-so-icon-normal@3x.png" class="">
                </span>
                <span class="dropdown">
                  <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-more" src="../assets/social/more-so-icon-normal@3x.png">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Text Only</a>
                    <a class="dropdown-item">Text + Images</a>
                    <a class="dropdown-item">Remove Stream</a>
                  </div>
                </span>
              </div>
            </div>
          </div>
          <ul class="pos-post-cards">
            <li>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                  </p>
                </mat-card-content>
                <br/>
                <div class="social-image">
                  <img mat-card-image src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350"
                    alt="Photo of a Shiba Inu">
                </div>
                <mat-card-actions>
                  <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                      <span class="icons-default">
                        <img src="../assets/social/like-icon-normal@3x.png" class="">&nbsp; Like
                      </span>
                    </div>
                    <div>
                      <span>
                        <img src="../assets/social/comment-icon-normal@3x.png" class="">&nbsp; Comment
                      </span>
                    </div>
                    <div>
                      <span>
                        <img src="../assets/social/share-icon-normal@3x.png" class="">&nbsp; Share
                      </span>
                    </div>
                    <div>
                      <span class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="../assets/social/more-so-icon-normal@3x.png" class="img-more-footer">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item">Edit</a>
                          <a class="dropdown-item">Send Email</a>
                          <a class="dropdown-item">Create Stream</a>
                          <a class="dropdown-item">Delete Post</a>
                        </div>
                      </span>
                    </div>
                  </div>
                  <br/>
                </mat-card-actions>
                <mat-card-header>
                  <div mat-card-avatar class="d-inline example-header-image"></div>
                  <input class="d-inline input-commet" type="text" placeholder="Comment">
                </mat-card-header>
              </mat-card>
            </li>

          </ul>
        </div>
      </div>

    </div>
    <br>
  </div>
</div>