<div class="social-tabs-inner" [perfectScrollbar]="config">
  <div fxLayoutGap="0.5px" fxLayout="row" >
      <div class="col-md-4" [perfectScrollbar]="config">
        <div class="social-card">
          <div class="nav-social" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="social-cards-header">
              <h6>Mentions</h6>
            </div>
            <div class="social-cards-header-icnons d-inline">
              <div fxLayout="row" fxLayoutGap="1rem">
                <span><i class="fa fa-search"></i></span>
                <span><i class="fa fa-repeat"></i></span>
                <span><i class="fa fa-ellipsis-v"></i></span>
              </div>
            </div>
          </div>
          <ul class="pos-post-cards">
            <li>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                  </p>
                </mat-card-content>
                <br/>
                <div class="social-image">
                  <img mat-card-image src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350"
                    alt="Photo of a Shiba Inu">
                </div>
                <mat-card-actions>
                  <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                      <span>
                        <i class="fa fa-thumbs-o-up"></i>&nbsp; Like</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-comment-o"></i>&nbsp; Comment</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-share"></i>&nbsp; Share</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                    </div>
                  </div>
                  <br/>
                </mat-card-actions>
                <mat-card-header>
                  <div mat-card-avatar class="d-inline example-header-image"></div>
                  <input class="d-inline input-commet" type="text" placeholder="Comment">
                </mat-card-header>
              </mat-card>
            </li>
            <li>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                  </p>
                </mat-card-content>
                <br/>
                <div class="social-image">
                  <img mat-card-image src="../assets/profile_user.jpg" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-actions>
                  <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                      <span>
                        <i class="fa fa-thumbs-o-up"></i>&nbsp; Like</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-comment-o"></i>&nbsp; Comment</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-share"></i>&nbsp; Share</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                    </div>
                  </div>
                  <br/>
                </mat-card-actions>
                <mat-card-header>
                  <div mat-card-avatar class="d-inline example-header-image"></div>
                  <input class="d-inline input-commet" type="text" placeholder="Comment">
                </mat-card-header>
              </mat-card>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4" [perfectScrollbar]="config">
        <div class="social-card">
          <div class="nav-social" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="social-cards-header">
              <h6>Mentions</h6>
            </div>
            <div class="social-cards-header-icnons d-inline">
              <div fxLayout="row" fxLayoutGap="1rem">
                  <span><i class="fa fa-search"></i></span>
                  <span><i class="fa fa-repeat"></i></span>
                  <span><i class="fa fa-ellipsis-v"></i></span>
              </div>
            </div>
          </div>
          <ul class="pos-post-cards">
            <li>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                  </p>
                </mat-card-content>
                <br/>
                <div class="social-image">
                  <img mat-card-image src="../assets/profile_user.jpg" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-actions>
                  <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                      <span>
                        <i class="fa fa-thumbs-o-up"></i>&nbsp; Like</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-comment-o"></i>&nbsp; Comment</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-share"></i>&nbsp; Share</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                    </div>
                  </div>
                  <br/>
                </mat-card-actions>
                <mat-card-header>
                  <div mat-card-avatar class="d-inline example-header-image"></div>
                  <input class="d-inline input-commet" type="text" placeholder="Comment">
                </mat-card-header>
              </mat-card>
            </li>
            <li>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                  </p>
                </mat-card-content>
                <br/>
                <div class="social-image">
                  <img mat-card-image src="../assets/profile_user.jpg" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-actions>
                  <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                      <span>
                        <i class="fa fa-thumbs-o-up"></i>&nbsp; Like</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-comment-o"></i>&nbsp; Comment</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-share"></i>&nbsp; Share</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                    </div>
                  </div>
                  <br/>
                </mat-card-actions>
                <mat-card-header>
                  <div mat-card-avatar class="d-inline example-header-image"></div>
                  <input class="d-inline input-commet" type="text" placeholder="Comment">
                </mat-card-header>
              </mat-card>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4" [perfectScrollbar]="config">
        <div class="social-card">
          <div class="nav-social" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="social-cards-header">
              <h6>Mentions</h6>
            </div>
            <div class="social-cards-header-icnons d-inline">
              <div fxLayout="row" fxLayoutGap="1rem">
                  <span><i class="fa fa-search"></i></span>
                  <span><i class="fa fa-repeat"></i></span>
                  <span><i class="fa fa-ellipsis-v"></i></span>
              </div>
            </div>
          </div>
          <ul class="pos-post-cards">
            <li>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                  </p>
                </mat-card-content>
                <br/>
                <div class="social-image">
                  <img mat-card-image src="../assets/profile_user.jpg" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-actions>
                  <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                      <span>
                        <i class="fa fa-thumbs-o-up"></i>&nbsp; Like</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-comment-o"></i>&nbsp; Comment</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-share"></i>&nbsp; Share</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                    </div>
                  </div>
                  <br/>
                </mat-card-actions>
                <mat-card-header>
                  <div mat-card-avatar class="d-inline example-header-image"></div>
                  <input class="d-inline input-commet" type="text" placeholder="Comment">
                </mat-card-header>
              </mat-card>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4" [perfectScrollbar]="config">
        <div class="social-card">
          <div class="nav-social" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="social-cards-header">
              <h6>Mentions</h6>
            </div>
            <div class="social-cards-header-icnons d-inline">
              <div fxLayout="row" fxLayoutGap="1rem">
                  <span><i class="fa fa-search"></i></span>
                  <span><i class="fa fa-repeat"></i></span>
                  <span><i class="fa fa-ellipsis-v"></i></span>
              </div>
            </div>
          </div>
          <ul class="pos-post-cards">
            <li>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                  </p>
                </mat-card-content>
                <br/>
                <div class="social-image">
                  <img mat-card-image src="../assets/profile_user.jpg" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-actions>
                  <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                      <span>
                        <i class="fa fa-thumbs-o-up"></i>&nbsp; Like</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-comment-o"></i>&nbsp; Comment</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-share"></i>&nbsp; Share</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                    </div>
                  </div>
                  <br/>
                </mat-card-actions>
                <mat-card-header>
                  <div mat-card-avatar class="d-inline example-header-image"></div>
                  <input class="d-inline input-commet" type="text" placeholder="Comment">
                </mat-card-header>
              </mat-card>
            </li>
          </ul>
        </div>
      </div>          
      <div class="col-md-4" [perfectScrollbar]="config">
        <div class="social-card">
          <div class="nav-social" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="social-cards-header">
              <h6>Mentions</h6>
            </div>
            <div class="social-cards-header-icnons d-inline">
              <div fxLayout="row" fxLayoutGap="1rem">
                  <span><i class="fa fa-search"></i></span>
                  <span><i class="fa fa-repeat"></i></span>
                  <span><i class="fa fa-ellipsis-v"></i></span>
              </div>
            </div>
          </div>
          <ul class="pos-post-cards">
            <li>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                  </p>
                </mat-card-content>
                <br/>
                <div class="social-image">
                  <img mat-card-image src="../assets/profile_user.jpg" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-actions>
                  <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                      <span>
                        <i class="fa fa-thumbs-o-up"></i>&nbsp; Like</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-comment-o"></i>&nbsp; Comment</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-share"></i>&nbsp; Share</span>
                    </div>
                    <div>
                      <span>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                    </div>
                  </div>
                  <br/>
                </mat-card-actions>
                <mat-card-header>
                  <div mat-card-avatar class="d-inline example-header-image"></div>
                  <input class="d-inline input-commet" type="text" placeholder="Comment">
                </mat-card-header>
              </mat-card>
            </li>
          </ul>
        </div>
      </div>          
    </div><br>
</div>