<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar" value=""></mat-progress-bar>

<div class="container">

  <p>
    Be in touch with your customers. Add your registered domain details here and send emails to your customers on the go.
  </p>
  <div>
    <mat-form-field [formGroup]="domainForm" class="example-full-width">
      <input matInput [readonly]="domaindetails" formControlName="domain_name" placeholder="Domain Name">
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button [disabled]="domaindetails || domainForm.invalid || showProgressBar" (click)="onSubmit()">Submit</button>
  </div>
</div>

<app-list-of-domains></app-list-of-domains>