
<div *ngIf="showSignIn">
    <!-- <input type="text" [(ngModel)]="status">
    <button (click)="postStatus()">Post status</button> -->
    <button (click)="signInTwitter()"> Sign in for twitter</button>
    <a [attr.href]="twitterUserLogin" target="_blank">  sign in for twitter</a>
</div>

<div *ngIf="twitHomeTimeLine">
  <div class="social-tabs-inner">
    <div class="social-tabs-hub-inner" [perfectScrollbar]="config">
      <div class="social-tabs-hub-inner-row" fxLayoutGap="0.5px" fxLayout="row">
        <div class="col-md-4">
            <div class="social-card" [perfectScrollbar]="config">
              <app-twitter-timeline [twitHomeTimeLine]="twitHomeTimeLine"></app-twitter-timeline>
            </div>
        </div>
        <div class="col-md-4">
            <div class="social-card" [perfectScrollbar]="config">
                <app-twitter-timeline [twitHomeTimeLine]="twitHomeTimeLine"></app-twitter-timeline>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>