<!-- ========= Social Links Edit Block ====== -->
<div *ngIf="isEdit" class="social-edit">
  <h2>Add social liks </h2>
  <form [formGroup]="socialLinksForm" method="post" enctype="multipart/form-data">
    <div class="form-group row">
      <div class="col-sm-6">
        <div class="form-input-block">
          <label>Facebook Url:</label>
          <input class="form-control" formControlName="facebook" id="facebook">
          <control-messages [control]="socialLinksForm.controls.facebook"></control-messages>
        </div>
        <div class="form-input-block">
          <label>Twitter Url:</label>
          <input class="form-control" formControlName="twitter" id="twitter">
          <control-messages [control]="socialLinksForm.controls.twitter"></control-messages>
        </div>
        <div class="form-input-block">
          <label>Wikipedia Url:</label>
          <input class="form-control" formControlName="wikipedia" id="wikipedia">
          <control-messages [control]="socialLinksForm.controls.wikipedia"></control-messages>
        </div>
        <div class="form-input-block">
          <label>Youtube Url:</label>
          <input class="form-control" formControlName="youtube" id="youtube">
          <control-messages [control]="socialLinksForm.controls.youtube"></control-messages>
        </div>
        <button type="submit" [hidden]="Ishide3" class="btn btn-success" (click)="socialLinksFormSubmit(socialLinksForm.value)" [disabled]="!socialLinksForm.valid"> Update <!-- {{form_btntext}} --> </button>
        <button type="submit" class="btn btn-danger" (click)="socialLinksFormDelete(socialLinksForm.value)">Delete</button>
        <div class="" ng-show="successMessagebool ">
          <ngx-alerts maxMessages="3" timeout="5000">
            <strong>{{successMessage }}</strong>
            <strong>{{deleteMessage}}</strong>
          </ngx-alerts>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- ========= Social Links View Block ====== -->
<div *ngIf="!isEdit">
  <!-- <table *ngIf="socialItems" class="table table-hover">
    <tbody>
      <tr>
        <th>Facebook </th>
        <td>{{socialItems.facebook}}</td>
      </tr>

      <tr>
        <th>Twitter</th>
        <td>{{socialItems.twitter}}</td>
      </tr>
      <tr>
        <th>Wikipedia</th>
        <td>{{socialItems.wikipedia}}</td>
      </tr>
      <tr>
        <th>Youtube</th>
        <td> {{socialItems.youtube}}</td>
      </tr>

      <tr>
        <td colspan=2>
          <button class="mt-5 btn btn-primary" colspan="2" (click)="EditSocialLinks(socialItems)">Edit</button>
        </td>
      </tr>

    </tbody>
  </table> -->

  <div *ngIf="socialItems" class="social-links" fxLayout="column" fxLayoutGap="30px">
    <div *ngFor="let socialitem of socialItems" class="link-item" fxLayout="row" fxLayoutGap="30px">
      <h3>{{socialitem.socialitem_name}}</h3>
      <p>{{socialitem.socialitem_url}}</p>
    </div>
    <!-- <div class="link-item" fxLayout="row" fxLayoutGap="30px">
      <h3>Twitter</h3>
      <p>https://www.facebook.com/krishnakanththati</p>
      
    </div>
    <div class="link-item" fxLayout="row" fxLayoutGap="30px">
      <h3>WikiPedia</h3>
      <p>https://www.facebook.com/krishnakanththati</p>
      
    </div>
    <div class="link-item" fxLayout="row" fxLayoutGap="30px">
      <h3>YouTube</h3>
      <p>https://www.facebook.com/krishnakanththati</p>
      
    </div> -->
    <button mat-raised-button class="edit-button" (click)="EditSocialLinks(socialItems)">Edit</button>
  </div>

</div>
