/* ======== New Styles =========== */
.login__block {
    background: #452d59;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .login__form {
        border-radius: 33px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.05);
        padding: 50px 110px;
        min-width: 550px;
        text-align: center;
        position: relative;
        overflow: hidden;
        .loader__login {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.89);
            svg {
                width: 66px;
                animation: rotateAnimation 1s infinite 0s linear;
            }
        }
    }
    .logos {
        display: flex;
        margin-bottom: 35px;
        justify-content: center;
        align-items: center;
        .logo_item {
            width: 84px;
            height: 84px;
            border-radius: 50%;
            background: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;
            img {
                object-fit: cover;
                height: 88%;
            }
        }
        .plus_icon {
            margin: 0 13px;
            svg {
                fill: #ffffff;
            }
        }
    }
    .login__title {
        margin-bottom: 30px;
        p {
            margin: 0;
            font-family: Roboto;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }
    }
    .login_inputs {
        margin-bottom: 30px;
        input {
            border-radius: 25px;
            border: solid 1px #14c0de;
            padding: 12px 36px;
            font-family: Montserrat;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            background: transparent;
            width: 100%;
            &::placeholder {
                color: rgba(255, 255, 255, 0.08);
            }
        }
    }
    .forgot_password {
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: normal;
        color: #ffffff;
        text-decoration: underline;
        cursor: pointer;
    }
    .login_submit {
        button {
            border-radius: 25px;
            background-color: #14c0de;
            outline: none;
            border: none;
            padding: 12px 30px;
            font-family: Roboto;
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }
    }
}

@media (max-width: 767px) {
    .login__block {
        .login__form {
            min-width: initial;
            width: 90%;
            padding: 50px 8vw;
        }
    }
}

@keyframes rotateAnimation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}