// .ng-valid[required], .ng-valid.required  {
//     border-left: 5px solid #42A948; /* green */
//   }
  
// .ng-invalid:not(form)  {
//     border-left: 5px solid #a94442; /* red */
//   }

.form-group{
  position: relative !important; 
}
div.alert{
  position: absolute;
  top:30px;
  left:9%;
  color:darken($color: #d60808, $amount: 0);
}
#createuserform .form-control{
  box-shadow: none !important;
}
