<div  fxLayout="column" fxLayoutGap="1rem">
  <div  class="form-header">
    <h2>Create User</h2>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex=60%>
      <form [formGroup]="CreateUserForm" (ngSubmit)="onSubmit()" fxLayout="column" fxFlex=40% fxLayoutAlign="start" fxLayoutGap="40px" class="form-inline">
        <div  fxLayout="row"  fxLayoutAlign="space-between" class="form-group">
          <label for="name">Name :</label>
          <input fxFlex="75%" type="text" pattern="[A-Za-z]+" title="letters only"   class="form-control" id="name" formControlName = "name" required placeholder="Name">
          <div  [hidden]="CreateUserForm.controls.name.valid || CreateUserForm.controls.name.pristine && !submitted" class="alert alert-danger">
            Name is required
          </div>
        </div>
        
        <div fxLayout="row"  fxLayoutAlign="space-between" class="form-group">
          <label for="email">Email :</label>
          <input fxFlex="75%" type="Email"  formControlName="email" class="form-control" id="email" placeholder="Email" required>
          <div [hidden]="CreateUserForm.controls.email.valid || CreateUserForm.controls.email.pristine && !submitted" class="alert alert-danger">
              Valid Email is required
            </div>
        </div>
    
        <div fxLayout="row"  fxLayoutAlign="space-between" class="form-group">
          <label for="role">Role :</label>
          <input fxFlex="75%" type="text" formControlName="role" class="form-control" placeholder="Role" required id="role">
          <div [hidden]="CreateUserForm.controls.role.valid || CreateUserForm.controls.role.pristine && !submitted" class="alert alert-danger">
              Role is required
            </div>
        </div>
    
        <div  fxLayout="row"  fxLayoutAlign="space-between" class="form-group">
          <label for="phonenumber">Phone :</label>
          <input fxFlex="75%" type="tel" class="form-control" maxlength="10" formControlName="phone"  id="phone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Phone Number" required>
          <div [hidden]="CreateUserForm.controls.phone.valid || CreateUserForm.controls.phone.pristine && !submitted" class="alert alert-danger">
              Valid Phone number is required
          </div>
        </div>   
      </form>
    </div>
        <div>
          <button type="submit" class="btn btn-success" [disabled]="!CreateUserForm.valid">Submit</button>
        </div>
</div>
