// .ng-valid[required], .ng-valid.required  {
//     border-left: 5px solid #42A948; /* green */
//   }
// .ng-invalid:not(form)  {
//     border-left: 5px solid #a94442; /* red */
//   }
.form-group {
  position: relative !important;
}
.addview-buttons {
  text-align: right;
  padding: 15px 0;
  float: right;
  button {
    margin-right: 15px;
    background: none;
    border: none;
    color: #666666;
    box-shadow: none;
  }
  .page_viewButton img {
    max-height: 18.5px;
  }
}
div.alert {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  color: #ee286b;
}
.create-user-table{
  .create-user-data{
    min-width: 800px;
    overflow: auto;
    .pc-checkbox{
      width: 15px !important;
      height: 15px !important;
      border-radius: 2px !important;
      background-color: #ffffff !important;
      border: solid 1px #d8d8d8 !important;
      }

  }
}
#createuserform .form-control {
  box-shadow: none !important;
}
.table-bordered {
  background-color: rgb(255, 255, 255);
}

.table-bordered thead th,
tbody td {
  vertical-align: middle !important;
}

.table-bordered thead tr,
tbody tr {
  height: 70px;
}

.table-bordered th {
  font-size: 13px;
  font-weight: 500;
  color: #666666;
}
.table-bordered tr {
  font-size: 13px;
  font-weight: 500;
  color: #919191;
}

.table-bordered td:first-child {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}

.table-bordered th,
.table-bordered td {
  border-left: none;
  border-right: none;
}
td.btn-usert{
  text-align: center;
  padding:0rem;
  button{
    margin: 0;
  }
}
.btn-stack {
  button {
    background: none;
    border: none;
    margin: 0;
  }
  .btn:focus {
    outline: 0;
    box-shadow: none;
  }
  button i {
    font-family: FontAwesome !important;
    opacity: 0.6;
  }
  button i:hover {
    opacity: 1;
  }
  
}
.btn-userflujo{
  width: auto !important;
  height: 13px !important;
}
.form-header {
  font-size: 30px;
  font-weight: 300;
  color: #666666;
}

button i {
  font-family: FontAwesome !important;
}

.profile-edit {
  .form-group {
    margin-bottom: 15px;
    label {
      min-width: 150px;
    }
    .form-control {
      box-shadow: none;
      outline: none;
      width: auto;
      display: initial;
      margin-left: 15px;
    }
  }
  button {
    padding: 5px 15px;
    margin-right: 15px;
  }
  button:hover {
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.5);
  }
}

.profile_block {
  height: 100%;
  max-width: 52vw;
  margin: 0 auto;
  /*   Logo_Header */
  .profile_logo {
    min-width: 45vw;
    min-height: 400px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1.5px 18px 0 rgba(0, 0, 0, 0.15);
    .profile_header {
      padding: 22px;
      border-bottom: 1px solid #f7f7f7;
      position: relative;
      .header_title {
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: 500;
        text-align: left;
        color: #666666;
        text-transform: uppercase;
      }
      .menu-icon {
        position: absolute;
        right: 14px;
        top: 14px;
      }
    }
    /* Logo_Body */
    .profile_body {
      padding: 20px;
      .profile_img {
        width: 220px;
        height: 220px;
        border: 1px solid #cdcdcd;
        border-radius: 5px;
        position: relative;
        .logo-img {
          height: 100%;
          padding: 15px;
          img {
            border-radius: 5px;
            max-height: 190px;
          }
        }
        .upload-logo {
          input[type=file] {
            max-width: 100%;
            min-width: 100%;
            left: 0;
            right: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: 0;
            opacity: 0;
            cursor: pointer;
            z-index: 9;
          }
          .hover-upload {
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            position: absolute;
            top: 40%;
            width: 100%;
            display: none;
            z-index: 1;
          }
          .bg-layer {
            position: absolute;
            top: 15px;
            bottom: 15px;
            left: 15px;
            right: 15px;
            background-color: rgba(0, 0, 0, 0.45);
            display: none;
            border-radius: 5px;
          }
          button.delete_logo {
            background: transparent;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 99;
            box-shadow: none;
            outline: none;
            border: none;
            cursor: pointer;
          }
          button.delete_logo:hover {
            background-color: transparent;
          }
        }
        .upload-logo:hover {
          .hover-upload {
            display: block;
          }
          .bg-layer {
            display: block;
          }
        }
      }
    }
    /* Logo_Footer */
    .profile_footer {
      padding: 20px;
      border-top: 1px solid #f7f7f7;
      position: relative;
      vertical-align: middle;
      p {
        font-size: 15px;
        font-style: italic;
        line-height: 1.6;
        text-align: left;
        color: #c1c1c1;
      }
    }
  }
}

.defaultavatar {
  position: relative;
  max-width: 300px;
  max-height: 300px;
  .hoverbuttons {
    // position: absolute;
    // top: 60%;
    // left:50%;
    // bottom: 0;
    // display: none;
    opacity: 0;
  }
  .figure {
    cursor: pointer;
  }
  #uploadbutton {
    position: absolute;
    top: 40%;
    left: 10px;
    #btn-ed.mat-raised-button,
    #btn-tr.mat-raised-button {
      padding: 4px;
      max-width: 20px !important;
    }
    #btn-ed i,
    #btn-tr i {
      padding: 0px 2px;
    }
  }
  button {
    padding: 0;
  }
  button.mat-raised-button i {
    line-height: 40px;
    vertical-align: middle;
  }
}

.defaultavatar:hover .hoverbuttons {
  // display:block;
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
}

// ========= Access Level Pop Styles ======
.access-popUp {
  position: relative;
  .header {
    margin: -24px;
    padding: 18px;
    border-bottom: 1.5px solid #f7f7f7;
    h4 {
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #666666;
      text-transform: uppercase;
    }
  }
  .headings {
    padding: 18px 0;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
  }
  .overflow_data {
    height: calc(70vh - 180px);
    position: relative;
    .access-item {
      min-height: 30px;
    }
  }
  .access_actions {
    margin: -24px;
    margin-top: 0;
    padding: 18px;
    border-top: 1.5px solid #f7f7f7;
    button,
    .button_submit {
      width: 100px;
    }
  }
}

.input_box {
  position: relative;
  input {
    border-color: #d8d8d8;
  }
  input:focus {
    border-color: #0cc0df;
  }
}
.user_width {
  max-width: 80vw;
}
.featue_details{
  padding-left: 3rem; 
}
.features{
  display: flex;
  align-items: center;
  -webkit-box-align: baseline;
}
.toggle_features{
  margin: auto;
}
.feature_name_details{
  margin-top: 10px;
}