<div  fxLayout="column" fxLayoutGap="1rem">
  <div  class="form-header">
    <h2>Create User</h2>
  </div>
      <form [formGroup]="CreateUserForm" (ngSubmit)="onSubmit()">
        <div fxLayout="column" fxLayoutGap="3rem">

          <div  fxLayout="row" fxLayoutGap="10px" class="form-group">
            <label fxLayoutAlign="start" fxFlex="10" for="name">Name :</label>
            <input fxFlex="50" type="text"  class="form-control" id="name" formControlName = "name" required placeholder="Name">
            <div [hidden]="CreateUserForm.controls.name.valid || CreateUserForm.controls.name.pristine && !submitted" class="alert">
              Name is required
            </div>
          </div>
          
          <div fxLayout="row"  fxLayoutGap="10px" class="form-group">
            <label fxLayoutAlign="start" fxFlex="10" for="email">Email :</label>
            <input fxFlex="50" type="Email"  formControlName="email" class="form-control" id="email" placeholder="Email" required>
            <div [hidden]="CreateUserForm.controls.email.valid || CreateUserForm.controls.email.pristine && !submitted" class="alert">
                Valid Email is required
            </div>
          </div>
      
          <div fxLayout="row"  fxLayoutGap="10px" class="form-group">
            <label fxLayoutAlign="start" fxFlex="10" for="role">Role :</label>
            <select fxFlex="50"  formControlName="role" class="form-control" id="bodyfontfamily" required id="role">
              <option value="">Select Role</option>
              <option value="1">1 - Social Manager</option>
              <option value="2">2 - Content Manager</option>
            </select>
            <div [hidden]="CreateUserForm.controls.role.valid || CreateUserForm.controls.role.pristine && !submitted" class="alert">
                Role is required
            </div>
          </div>
      
          <div  fxLayout="row"  fxLayoutGap="10px" class="form-group">
            <label fxLayoutAlign="start" fxFlex="10" for="phonenumber">Phone :</label>
            <input fxFlex="50" type="tel" class="form-control" maxlength="10" formControlName="phone"  id="phone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Phone Number" required>
            <div [hidden]="CreateUserForm.controls.phone.valid || CreateUserForm.controls.phone.pristine && !submitted" class="alert">
                Valid Phone number is required
            </div>
          </div>   
        </div>
      </form>
        <div>
          <button type="submit" class="btn btn-success" [disabled]="!CreateUserForm.valid">Submit</button>
        </div>
</div>
