<div class="container smsContact page_padding">
  <ng4-loading-spinner></ng4-loading-spinner>
  <ngx-alerts maxMessages="3" timeout="5000">
  </ngx-alerts>

  <div fxLayout="row" class="p-rel">
    <div class="page-header">
      SMS
    </div>
    <button mat-raised-button class="choose-button">Choose Template +</button>
  </div>

  <form role="form" class="admin-form" [formGroup]="smsContactForm" method="post" enctype="multipart/form-data">
    <div fxLayout="row" fxLayoutGap="48px">
      <div fxFlex fxLayout="column" fxLayoutGap="13px" class="input_box">
        <label for="phone">Mobile Number</label>
        <div>
          <input type="text" formControlName="phone" oninput="this.value = this.value.replace(/[^0-9.,]/g, '').replace(/(\..*)\./g, '$1');"
            id="phone" placeholder="Add Number(s)">
          <div [hidden]="smsContactForm.controls.phone.valid || (smsContactForm.controls.phone.pristine && !submitted)" class="form-error-msg">
            enter valid phone number
          </div>
        </div>
      </div>
      <div fxLayoutAlign="center center" class="atRate">
        @
      </div>
      <div fxFlex fxLayout="column" fxLayoutGap="13px" class="input_box">
        <label for="checkbox">Get contacts from db</label>
        <div>
          <input type="checkbox" formControlName="check" class="form-control" id="checkbox">
        </div>
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap="13px" class="input_box">
      <label for="inputPassword1">Get contacts from csv file</label>
      <div>
        <input type="file" formControlName="file" class="form-control file-box">
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap="13px" class="input_box">
      <label for="message">SMS Content</label>
      <div>
        <textarea formControlName="message" id="message" placeholder="Message"></textarea>
        <control-messages [control]="smsContactForm.controls.message"></control-messages>
      </div>
    </div>

    <!-- <div class="row">
      <label for="checkbox">Get contacts from db</label>
      <div>
        <input type="checkbox" formControlName="check" class="form-control" id="checkbox">
      </div>
    </div> -->
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="end center">
      <button type="button" mat-button (click)="cancelFileEdit()" color="deafault">Cancel</button>
      <button type="submit" class="button_submit" (click)="smsContactFormSubmit(smsContactForm.value)">Send</button>
    </div>
  </form>
</div>






<!-- //$api_url ='http://api-alerts.solutionsinfini.com/v3/?method=sms&api_key=Afef8b80a6450bc8c9750205e0d892578&to='.$mobile.'&sender='.$sender_id.'&message='.$sms_text;
  //Envoking the API url and getting the response 
  $otp_response = file_get_contents( $api_url);
        
  $json = json_decode($otp_response, true);     
       
  $otp_satus=$json['status']; 
    
  if($otp_satus == 'OK'){
                        
            echo json_encode($otp_satus);
        }else {
            echo json_encode($otp_satus);
        } -->
