<div class="smsContact" fxFlex>
  <form action="" fxLayout="column" class="d-block" fxLayoutGap="20px">
    <div fxFlex fxLayout="row">
      <label fxFlex="20" for="phone">Phone Number</label>
      <input fxFlex type="text" placeholder="Phone Number">
    </div>
    <div fxFlex fxLayout="row">
      <label fxFlex="20" for="subject">Subject</label>
      <input type="text" placeholder="Subject">
    </div>
    <div fxFlex fxLayout="row">
        <label fxFlex="20" for="message">Message</label>
      <textarea id="" cols="30" rows="10" placeholder="Message"></textarea>
    </div>
    <div fxFlex fxLayout="row">
        <label fxFlex="20" for="csv">csv</label>
      <input type="file">
    </div>
    <div fxFlex fxLayout="row">
        <label for="check">Check box</label>
      <input type="checkbox">
    </div>
    <div fxFlex>
      <button type="submit">Send</button>
    </div>
  </form>
</div>