.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

.smsContact {
  // width: 300px;
  margin: 0 auto; // margin-top: 50px;
  input,
  textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 13px 20px;
  }
  .file-box {
    box-shadow: none;
    border: none;

  } // control-messages,
  .form-error-msg {
    color: #E82C0C;
    margin: 6px 0;
    bottom: -8px;
    top: auto;
  }
}


.button_submit {
  width: 100px;
}

/* Popup */
.sms_popup {
  padding: 2vh 3vw;
  max-height:100%;
  overflow-y: scroll;
  .head {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
    text-transform: uppercase;
  }
  .sms_msg_item {
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 4.5px 3px 0 #f1f1f1;
    padding: 15px;
    margin-bottom: 15px;
    min-height: 150px;
    cursor: pointer;
    position: relative;
  }
  .sms_msg_item.selected:after {
      content: "\f00c";
      font-family: 'fontAwesome';
      color: #50d166;
      font-size: 26px;
      border-radius: 50px;
      position: absolute;
      top: 10px;
      right: 10px;
  }
  .sms_msg_item.selected {
    border-color: #4a2565;
    box-shadow: 0px 4.5px 3px 0 #4a2565;
  }
  .msg_title {
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin: 0;
    margin-bottom: 10px;
  }
  .msg_content {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
    margin: 0;
  }
}
.error_box {
  // border: 1px solid #ee286b;
  box-shadow: 0px 1.5px 18px 0 rgba(238, 40, 107, 0.15);
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px 25px;
  background: #ffffff;
  z-index: 2;
  border-radius: 5px;
  h3 {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    margin: 0;
  }
  p {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    // text-align: center;
    color: #ee286b;
  }
}