.message-compose-pop{
    position: relative;
      .col-list-accounts{
          border-right:1.5px solid #f5f5f5;
          i.fa-twitter{
            color: #1dcaff;
          }
          i.fa-facebook{
            color: #3b5998;
          }
          label{
              cursor: pointer;
          }
      }
      ul{
          line-height: normal;
          list-style:none;
          padding-left: 0;
          li{
              border-bottom:1.5px solid#f5f5f5;
              width:100%;
              height: 70px;
              padding-right:15px;
              padding-left:15px;
          }
          li:last-child{
              border-bottom:none;
              padding-bottom: 0;
          }
      }
      .btn-stack-action{
        position: absolute;
        bottom: 10px;
        right:10px;
    }
    .hor-line{
        border: 1.5px solid #f7f7f7;
        margin-left: 15px;
    }
  }
 

.message-config-box{
    padding-top: 24px;
    padding-left: 24px;
    font-family: Roboto;
    position: relative;
    .postt-msg {
      // width: 555px;
      height: 75px;
      border-radius: 5px;
      background-color: #ffffff;
      border: solid 1px #f5f5f5;
      padding:0 15px;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #999999;
      position: relative;
      .emoji-stack{
          position: absolute;
          bottom: 10px;
          right: 10px;
      }
      textarea{
          padding: 0;
          border: none;
          outline: none;
          resize: none;
      }
      i{
          opacity: 0.6;
      }
    }
    .head-msg{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #666666;
    }
    .account-target-count{
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #c1c1c1;
    }
    input{
      height: 40px;
      border-radius: 20px;
      background-color: #ffffff;
      border: solid 1.5px #f7f7f7;
      padding: 0 15px ;
    }
    label,input{
      display: inline-block;
      vertical-align: middle;
  }
  label{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #666666;   
  }
 
 
}
