<mat-tab-group (click)="$event.stopPropagation()">
  <mat-tab (click)="$event.stopPropagation();" label="Team">
    <div class="chatUser_list">
      <div *ngFor="let item of loggedinUsersList" class="team-member">
        <button (click)="getUser(item)" class="chatUser-name">
          <span class="user_pic"></span>
          {{item.name}}
        </button>
      </div>
      <!-- <app-chat-box></app-chat-box> -->
    </div>
  </mat-tab>
  <mat-tab (click)="$event.stopPropagation();" label="Groups"> Groups Data </mat-tab>
</mat-tab-group>