.chatUser_list {
    padding: 16px 0;
    line-height: initial;
    .team-member {
        .chatUser-name {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 8px 20px;
            margin-bottom: 5px;
            border: none;
            outline: none;
            background: transparent;
            font-size: 18px;
            font-family: Roboto;
            text-align: left;
            .user_pic {
                margin-right: 20px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #f1f1f1;
            }
            &:hover {
                background: #f1f1f1;
            }
        }
    }
}



