<ng4-loading-spinner></ng4-loading-spinner>
<div *ngIf="sending_dns_records">
  <div style="display: flex">
    <h1>
      TXT records/Sending Records
    </h1>
    <button mat-button raised color="primary" (click)="refresh()">Refresh</button>
  </div>
  <div>
    <div class="domain_details">
      <div class="detail_item">
        <h3>Type</h3>
      </div>
      <div class="detail_item">
        <h3>Host name</h3>
      </div>
      <div class="detail_item">
        <h3>Enter this value</h3>
      </div>
      <div class="detail_item">
        <h3>Current Value</h3>
      </div>
    </div>
    <div *ngFor="let item of sending_dns_records">
      <div class="domain_details">
        <div class="detail_item">
          <p>{{item.record_type}}</p>
        </div>
        <div class="detail_item">
          <p>{{item.name}}</p>
        </div>
        <div class="detail_item">
          <textarea [disabled]="true">
              {{item.value}}
          </textarea>
          <p></p>
        </div>
        <div class="detail_item">
          <p>{{item.valid}}</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h2>
    MX records/ Receiving Records
  </h2>
  <div>
    <div class="domain_details">
      <div class="detail_item">
        <h3>Type</h3>
      </div>
      <div class="detail_item">
        <h3>Priority</h3>
      </div>
      <div class="detail_item">
        <h3>Enter this value</h3>
      </div>
      <div class="detail_item">
        <h3>Current Value</h3>
      </div>
    </div>
    <div *ngFor="let item of receiving_dns_records">
      <div class="domain_details">
        <div class="detail_item">
          <p>{{item.record_type}}</p>
        </div>
        <div class="detail_item">
          <p>{{item.priority}}</p>
        </div>
        <div class="detail_item">
          <textarea [disabled]="true">
                {{item.value}}
            </textarea>
          <p></p>
        </div>
        <div class="detail_item">
          <p>{{item.valid}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <button mat-button color="warn" (click)="deleteDomain()" >Delete Details</button> -->
</div>