<!-- <div class="">
    <nav *ngIf="!authService.authenticated" class="navbar navbar-default mat-elevation-z8">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/"></a>
      </div>
      <ul class="nav navbar-nav">
        <li>{{authService.authenticated}}
          <a routerLink="/login" *ngIf="!authService.authenticated" routerLinkActive="active">LOGIN PAGE</a>
        </li>
      </ul>
  
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a  (click)="authService.login()">Log In</a>
        </li>
        <li> -->
<!-- <a (click)="authService.logout()" *ngIf="authService.authenticated">Log Out</a> -->
<!-- </li>
      </ul>
    </nav>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
   -->
<div class="">
  
  <!-- <nav *ngIf="!loginAuthService.authenticated" class="navbar navbar-default mat-elevation-z8">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/"></a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/login" *ngIf="!loginAuthService.authenticated" routerLinkActive="active">LOGIN PAGE</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>

        <a style="color:aliceblue" (click)="authService.login()">Log In</a>

      </li>
      <li>

      </li>
    </ul>
  </nav> -->
  <div>
    <router-outlet></router-outlet>
  </div>
  
</div>