<!-- TopNav -->
<ng4-loading-spinner></ng4-loading-spinner>
<nav class="navbar navbarTop" role="navigation">
  <div class="navbar-header" (mouseenter)="sidebarToggleOpen()" (mouseleave)="sidebarToggleClose()" [ngClass]="{'navbar-header-open':sidebarToggledButton}">
    <div fxLayout="row" fxLayoutGap="0.1rem" fxLayoutAlign="start center">
      <a class="navbar-brand" fxLayoutAlign="center center" (click)="sidebarToggledButton=sidebarToggledButton">
        <img src="assets/flujo-logo-dashboard.svg" class="img-fluid" alt="Logo">
      </a>
      <div class="nav  login-info">
        <div class="nav-item userpopup dropdown">
          <a class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false">
            <!-- <img src="assets/icons/web-icon-normal@2x.png" alt="web icon"> -->
            <span>{{clientName}}</span>
            <span class="active-indication">
              <span class="nickname">{{name}}</span>
              <span class="active-info">
                <sup>.</sup>
              </span>
            </span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-item dropdown-submenu">
              <a class="" tabindex="-1">
                <span>Status</span>
              </a>
              <ul class="second-Level dropdown-menu">
                <li class="dropdown-item">
                  <a>Away</a>
                </li>
                <li class="dropdown-item">
                  <a>Idle</a>
                </li>
                <li class="dropdown-item">
                  <a>Busy</a>
                </li>
              </ul>
            </li>
            <li class="dropdown-item">
              <a routerLink="./profile" routerLinkActive="active">
                Profile & Account
              </a>
            </li>
            <li class="dropdown-item">
              <a routerLink="./profile" routerLinkActive="active">
                Preferences
              </a>
            </li>
            <li class="dropdown-item">
              <a routerLink="./profile" routerLinkActive="active">
                Manage Team
              </a>
            </li>
            <li class="dropdown-item">
              <a routerLink="./profile" routerLinkActive="active">
                Settings
              </a>
            </li>
            <li class="dropdown-item">
              <a routerLink="./profile" routerLinkActive="active">
                Help
              </a>
            </li>
            <li class="dropdown-item">
              <a routerLink="./profile" routerLinkActive="active">
                Signout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-content" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <div class="admin-website mr-auto">
      <p class="title">
        <span>{{clientName}} : </span>
        <span class="page-title">{{CurrentPageName}}</span>
      </p>
    </div>
    <ul class="nav top-nav">
      <li class="dropdown chat-dropdown-wind navbarItem">
        <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/icons/chat-icon-normal@2x.png" class="img-fluid" alt="chat">
          <div class="dropdown-menu">
            <div *ngIf="!doSearch" class="dr-menu-inner" fxLayout="row">
              <div class="d-inline" fxFlex>
                <mat-tab-group (selectedTabChange)="onLinkClick($event)" (click)="$event.stopPropagation();">
                  <mat-tab label="Teams" (click)="$event.stopPropagation();">
                    <div class="overflow_box">
                      <ul>
                        <li *ngFor="let chatItem of loggedinUsersList">
                          <div fxLayout="row" fxLayoutGap="1.5rem" fxLayoutAlign="start center">
                            <div fxLayoutAlign="start center" class="user-avatar-chat">
                              <img class="user-avatar-chat-img img-fluid" src="../assets/profile_user.jpg">
                              <div [ngClass]="{'active': chatItem.is_logged_in==1}" class="user-avatar-chat-img-status"></div>
                            </div>
                            <div fxLayoutAlign="start center">{{chatItem.name}}</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </mat-tab>
                  <mat-tab label="Groups" (click)="$event.stopPropagation();">
                    <ul [perfectScrollbar]="config">
                      <li *ngFor="let hero of heroes">
                        <div>
                          <div fxLayout="row" fxLayoutGap="1.5rem" fxLayoutAlign="start center">
                            <div fxLayoutAlign="start center" class="user-avatar-chat-group">
                              <span [ngStyle]="{'background-color': hero.color}" class="avatar-chat-group-img">
                                <!--change background color randomly to each li item-->
                                <span class="avatar-text" fxLayoutAlign="center center">
                                  {{hero?.name | slice:0:2}}
                                  <!-- bind first two letters from below div content -->
                                </span>
                              </span>
                            </div>
                            <div fxLayoutAlign="start center">{{hero?.name}}</div>
                            <div fxLayout="row" fxLayoutGap="-10px" fxLayoutAlign="center end" class="ml-auto user-avatar-chat-group">
                              <img class="user-avatar-chat-group-img img-fluid" src="../assets/profile_user.jpg">
                              <img class="user-avatar-chat-group-img img-fluid" src="../assets/profile_user.jpg">
                              <img class="user-avatar-chat-group-img img-fluid" src="../assets/profile_user.jpg">
                              <span class="user-avatar-chat-group-more">
                                <span class="more-text" fxLayoutAlign="center center">+2</span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div fxFlex fxLayout="row" fxLayoutGap="1.5rem" fxLayoutAlign="start center">
                          <div fxLayoutAlign="start center" class="user-avatar-chat-group">
                            <span [ngStyle]="{'background-color': randombgcolor}" class="avatar-chat-group-img">
                              <span class="avatar-text" fxLayoutAlign="center center">
                                Ui
                              </span>
                            </span>
                          </div>
                          <div fxLayoutAlign="start center">Ui Development</div>
                          <div fxLayout="row" fxLayoutGap="-10px" fxLayoutAlign="center end" class="ml-auto user-avatar-chat-group">
                            <img class="user-avatar-chat-group-img img-fluid" src="../assets/profile_user.jpg">
                            <img class="user-avatar-chat-group-img img-fluid" src="../assets/profile_user.jpg">
                            <img class="user-avatar-chat-group-img img-fluid" src="../assets/profile_user.jpg">
                            <span class="user-avatar-chat-group-more">
                              <span class="more-text" fxLayoutAlign="center center">+2</span>
                            </span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </mat-tab>
                </mat-tab-group>
              </div>
              <div class="d-inline pull-right ml-auto chat-option-etc" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
                <span>
                  <img (click)="searchChatData($event)" src="assets/team/chat-search-icon@3x.png" class="img-fluid" alt="search">
                </span>
                <span>
                  <span *ngIf="!label">
                    <img src="assets/team/chat-add-user-icon@3x.png" class="img-fluid btn-add-icons" alt="add" (click)="$event.stopPropagation();">
                  </span>
                  <span *ngIf="label">
                    <img src="assets/team/chat-add-group-icon@3x.png" class="img-fluid btn-add-icons" alt="add" (click)="$event.stopPropagation();">
                  </span>
                </span>
                <span>
                  <img src="assets/team/chat-settings-icon@3x.png" class="img-fluid" alt="settins" (click)="$event.stopPropagation();">
                </span>
              </div>
            </div>
            <div *ngIf="doSearch" class="dr-menu-inner" fxLayout="column">
              <div class="search-bar-head" fxLayout="row" fxLayoutAlign="space-between center">
                <span fxFlex="15">
                  <img (click)="gobacktoChatUsers($event)" src="assets/team/chat-back-icon@3x.png" alt="back arrow">
                </span>
                <span fxFlex="70">
                  <input class="search-groups-users" placeholder="search" type="text" autocomplete="true" (click)="$event.stopPropagation();">
                </span>
                <span fxFlex="15" class="ml-auto pull-right" fxLayoutAlign="end center">
                  <img src="assets/team/chat-search-icon@3x.png" alt="search icon">
                </span>
              </div>
              <div>
                <ul [perfectScrollbar]="config">
                  <li>
                    <div fxLayout="row" fxLayoutGap="1.5rem" fxLayoutAlign="start center">
                      <div fxLayoutAlign="start center" class="user-avatar-chat">
                        <img class="user-avatar-chat-img img-fluid" src="../assets/profile_user.jpg">
                        <div class="user-avatar-chat-img-status"></div>
                      </div>
                      <div fxLayoutAlign="start center">User1</div>
                    </div>
                  </li>
                  <li>
                    <div fxLayout="row" fxLayoutGap="1.5rem" fxLayoutAlign="start center">
                      <div fxLayoutAlign="start center" class="user-avatar-chat">
                        <img class="user-avatar-chat-img img-fluid" src="../assets/profile_user.jpg">
                        <div [ngStyle]="{'backgroundColor': '#fdd10c'}" class="user-avatar-chat-img-status"></div>
                      </div>
                      <div fxLayoutAlign="start center">User1</div>
                    </div>
                  </li>
                  <li>
                    <div fxLayout="row" fxLayoutGap="1.5rem" fxLayoutAlign="start center">
                      <div fxLayoutAlign="start center" class="user-avatar-chat">
                        <img class="user-avatar-chat-img img-fluid" src="../assets/profile_user.jpg">
                      </div>
                      <div fxLayoutAlign="start center">User1</div>
                    </div>
                  </li>
                  <li>
                    <div fxLayout="row" fxLayoutGap="1.5rem" fxLayoutAlign="start center">
                      <div fxLayoutAlign="start center" class="user-avatar-chat">
                        <img class="user-avatar-chat-img img-fluid" src="../assets/profile_user.jpg">
                      </div>
                      <div fxLayoutAlign="start center">User1</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="navbarItem">
        <a href="#notifications" class="nav-link">
          <img src="assets/icons/help-icon-normal@2x.png" class="img-fluid" alt="chat">
        </a>
      </li>
      <li class="navbarItem">
        <a href="#notifications" class="nav-link">
          <img src="assets/icons/info-icon-normal@2x.png" class="img-fluid" alt="chat">
        </a>
      </li>
      <li class="navbarItem dropdown admin-profile">
        <a class="nav-link" data-toggle="dropdown">
          <img src="assets/icons/more-icon-normal@2x.png" class="img-fluid" alt="chat">
        </a>
        <ul class="dropdown-menu" [perfectScrollbar]="config">
          <li>
            <a class="activity">
              <i class="fa fa-user"></i>{{name}}</a>
          </li>
          <div *ngFor="let item of adminMenu; let i = index">
            <div *ngFor="let useraccesitem of userAccessLevelData">
              <li>
                <a class="activity" *ngIf="useraccesitem.name === item.title && useraccesitem.enable" (click)="navigatePage(item, i)">
                  {{item.title}}
                </a>
              </li>
            </div>
          </div>

          <li>
            <a class="activity" (click)="loginAuthService.logout(false)">
              <i class="fa fa-power-off"></i>Log Out</a>
          </li>

        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- // Top Nav -->

<!-- Body Wrapper -->

<div id="wrapper" ngClass.md="page-content_md" ngClass.lt-md="page-content_lt-md" ngClass.xs="page-content_XS" fxLayout="row"
  class="contentBody">

  <!-- Sidebar Wrapper -->
  <aside id="sidebar-wrapper" class="sidebar-default" (mouseenter)="sidebarToggleOpen()" (mouseleave)="sidebarToggleClose()"
    [ngClass]="{'sidebar-menu-open':sidebarToggledButton}" [perfectScrollbar]="config">
    <ul class="nav flex-column">
      <div *ngFor="let item of editor; let i = index">
        <div *ngFor="let useraccesitem of userAccessLevelData">
          <li class="nav-item" *ngIf="useraccesitem.name === item.title && useraccesitem.enable" (click)="navigatePage(item, i)">
            <a class="nav-link editor-link" [ngClass]="{'active': item.isActive }">
              <span class="link_img">
                <img src="assets/icons/editor-color-nav-icon-normal@2x.png" class="normal_img" alt="buffer icon">
                <img src="assets/icons/editor-color-nav-icon-active@2x.png" class="active_img" alt="buffer icon">
              </span>
              <span class="link_title">{{item.title}}</span>
            </a>
          </li>
        </div>
      </div>
      <div *ngFor="let item of domain; let i = index">
          <div *ngFor="let useraccesitem of userAccessLevelData">
            <li class="nav-item" *ngIf="useraccesitem.name === item.title && useraccesitem.enable" (click)="navigatePage(item, i)">
              <a class="nav-link editor-link" [ngClass]="{'active': item.isActive }">
                <span class="link_img">
                  <img src="assets/icons/editor-color-nav-icon-normal@2x.png" class="normal_img" alt="buffer icon">
                  <img src="assets/icons/editor-color-nav-icon-active@2x.png" class="active_img" alt="buffer icon">
                </span>
                <span class="link_title">{{item.title}}</span>
              </a>
            </li>
          </div>
        </div>
      <li class="divider-line"></li>
      <!-- Communication Block -->
      <li class="nav-title">Flow
        <i class="fa fa-cog"></i>
      </li>
      <div *ngFor="let flowitem of flow; let i = index">
        <div *ngFor="let useraccesitem of userAccessLevelData">
          <li class="nav-item" *ngIf="useraccesitem.name === flowitem.title && useraccesitem.enable" (click)="navigatePage(flowitem, i, 'flow')">
            <a class="nav-link flow_link" [ngClass]="{'active': flowitem.isActive }">
              <span class="link_img">
                <img src="{{flowitem.normalicon}}" class="normal_img" alt="buffer icon">
                <img src="{{flowitem.activeicon}}" class="active_img" alt="buffer icon">
              </span>
              <span class="link_title">{{flowitem.title}}</span>
            </a>
          </li>
        </div>
      </div>
      <li class="divider-line"></li>

      <li class="nav-title">Nucleus
        <i class="fa fa-cog"></i>
      </li>
      <div *ngFor="let item of nucleus; let i = index">
        <div *ngFor="let useraccesitem of userAccessLevelData">
          <li class="nav-item" *ngIf="useraccesitem.name === item.title && useraccesitem.enable" (click)="navigatePage(item, i, 'nucleus')">
            <a class="nav-link" [ngClass]="{'active': item.isActive }">
              <span class="link_img">
                <img src="{{item.normalicon}}" class="normal_img" alt="buffer icon">
                <img src="{{item.activeicon}}" class="active_img" alt="buffer icon">
              </span>
              <span class="link_title">{{item.title}}</span>
            </a>
          </li>
        </div>
      </div>
      <li class="divider-line"></li>
      <div *ngFor="let item of drive; let i = index">
        <div *ngFor="let useraccesitem of userAccessLevelData">
          <li class="nav-item" *ngIf="useraccesitem.name === item.title && useraccesitem.enable" (click)="navigatePage(item, i, 'drive')">
            <a class="nav-link" [ngClass]="{'active': item.isActive }">
              <span class="link_img">
                <img src="assets/icons/drive-color-nav-icon-normal@2x.png" class="normal_img" alt="buffer icon">
                <img src="assets/icons/drive-color-nav-icon-active@2x.png" class="active_img" alt="buffer icon">
              </span>
              <span class="link_title">{{item.title}}</span>
            </a>
          </li>
        </div>
      </div>

      <li class="divider-line"></li>

      <!-- Team Chat -->
      <!-- <li class="nav-title" *ngIf="userAccessLevelData && userAccessLevelData[11]?.enable">Your teams
        <i class="fa fa-cog"></i>
      </li>
      <li class="team_icon">
        <a class="nav-link">
          <img src="assets/icons/teams-color-nav-icon-normal@2x.png" class="normal_img" alt="buffer icon">
        </a>
      </li>
      <ul class="team-items">
        <li *ngFor="let chatItem of loggedinUsersList">
          <a class="team-user" routerLinkActive="active">
            <i class="team-user-icon user-logo">
              <img src="assets/team/abhi.jpeg" class="img-fluid" alt="K"> </i>
            <span class="userStatus" (click)=OnetoOne(chatItem) [ngClass]="{'active': chatItem.is_logged_in==1}">{{chatItem.name}}</span>
          </a>
        </li>

      </ul> -->
    </ul>

  </aside>
  <!-- // Sidebar Wrapper -->

  <!-- Content Body -->
  <div fxFlex id="page-content-wrapper" [perfectScrollbar]="config">

    <router-outlet></router-outlet>

  </div>
  <!-- // Content Body -->

</div>
