@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
/* **=======** Navbar CSS **=======** */

.navbarTop {
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.1);
  margin: 0;
  border-radius: 0;
  padding: 0;
  padding-right: 30px;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  .admin-website {
    margin-left: 25px;
    .title {
      font-size: 14px;
      text-align: left;
      color: #c1c1c1;
      margin: 0;
      letter-spacing: 0.5px;
      .page-title {
        color: #666666;
        font-weight: 500;
      }
    }
  }
  .top-nav {
    li.navbarItem {
      a.nav-link {
        padding: 0 15px;
        line-height: 70px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        i {
          font-size: 24px;
          color: #c1c1c1;
        }
        img {
          max-height: 20px;
        }
      }
      a.nav-link:hover {
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
      }
    }
    .admin-profile {
      .nav-link {
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        color: #808080; // min-width: 220px;
      }
      .default-profile-icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color: #f2f2f2;
        border-radius: 50%;
        overflow: hidden;
        padding: 12px;
        text-transform: uppercase;
        font-weight: 600;
        margin-right: 10px;
      }
      .dropdown-toggle:after {
        content: "\F107";
        font-family: 'FontAwesome';
        width: auto;
        height: auto;
        float: right;
        border: none;
        margin-left: 15px;
      }
      .dropdown-menu {
        width: 100%;
        border-radius: 0;
        min-width: 270px;
        left: auto;
        right: 0;
        .activity {
          width: 100%;
          position: relative;
          display: inline-block;
          padding: 8px 15px;
          position: relative;
          padding-left: 25%;
          color: #808080;
          i {
            position: absolute;
            left: 13%;
            margin-top: 5px;
          }
        }
        .activity:hover {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  .navbar-header {
    background-color: #4a2565;
    width: 240px;
    border-bottom: 1px solid #52306b;
    -webkit-transition: 0.3s ease-in-out;
    /* Safari */
    transition: 0.3s ease-in-out;
  }
  .navbar-brand {
    cursor: pointer;
    width: 50%;
    padding: 18px;
    height: 70px;
    margin: 0; // border-bottom: 1px solid #52306b;
    img {
      max-height: 30px;
      max-width: 50px;
    }
  } //   Toggle Header
  .navbar-header.navbar-header-toggle {
    width: 80px;
    .navbar-brand {
      width: 100%;
    }
    .login-info {
      display: none;
    }
  }
}

.contentBody {
  height: calc(100vh - 70px);
  position: relative;
}

// **=======** Side-Bar Styles **=======**
.sidebar-menu {
  width: 240px;
  position: relative;
  background-color: #4a2565;
  color: #7e678f;
  -webkit-transition: 0.3s ease-in-out;
  /* Safari */
  transition: 0.3s ease-in-out;
  .divider-line {
    border-bottom: 1px solid #52306b;
    margin: 10px 0;
  }
  .nav-item {
    min-height: 30px;
    line-height: 15px !important;
    margin-bottom: 0 !important;
  }
  .nav-item-divider {
    height: 30px;
  }
  .nav-title {
    font-size: 14px;
    text-align: left;
    color: #604077;
    padding: 15px 15px 15px 12%;
    i {
      float: right;
      margin-top: 5px;
    }
  }
  .nav-link {
    font-size: 14px;
    text-align: left;
    color: #7e678f;
    padding: 15px 15px;
    position: relative;
    padding-left: 34%;
    cursor: pointer;
    img {
      max-width: 20px;
      max-height: 20px;
      position: absolute;
      left: 13%;
    }
    .active_img {
      display: none;
    }
  }
  .nav-link.editor-link {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .nav-link.active {
    .active_img {
      display: block;
    }
    .normal_img {
      display: none;
    }
  }
  .nav-item.open>.dropdown-menu {
    display: block;
  }
  .nav-link.dropdown-toggle:after {
    float: right;
    border: none;
    transition: 0.3s;
    content: "\f107";
    font-family: 'FontAwesome';
    width: auto;
    height: auto;
  }
  .nav-item> {
    .nav-link:hover,
    .nav-link.active {
      background-color: #52306b;
      color: #c5b6d1;
    }
  }
  .nav-item.open> {
    .nav-link {
      color: #c5b6d1;
      background-color: #52306b;
    }
    .dropdown-menu {
      background-color: #52306b;
    }
    .nav-link.dropdown-toggle::after {
      transform: rotate(180deg);
    }
  }
  .dropdown-menu {
    position: initial !important;
    transform: initial !important;
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    border: none;
    margin: 0;
    .nav-item {
      min-height: auto;
    }
    .dropdown-toggle:after {
      margin-right: 15%;
    }
    .dropdown-item,
    .subNav-link {
      font-size: 14px;
      color: #7e678f;
      cursor: pointer;
      padding: 8px 8px 8px 22%;
    }
    .dropdown-item.active {
      color: #c5b6d1;
      background-color: transparent;
    }
    .dropdown-item:hover {
      background-color: #3f165d;
    } // .nav-link.subNav-link.dropdown-toggle::after {
    //   content: "\f103";
    // }
    // Sub Dropdown
    .nav-item.open {
      display: inline-block;
      width: 100%;
      .dropdown-item,
      .nav-link {
        color: #c5b6d1;
      }
    } // 2nd Level Dropdown
    .dropdown-menu {
      padding-left: 5%;
      .dropdown-toggle:after {
        margin-right: 25%;
      }
    }
  } // Team Chat 
  .team-items {
    list-style: none;
    padding: 0; // max-height: 600px;
    position: relative;
    .team-user {
      display: inline-block;
      position: relative;
      width: 100%;
      padding: 15px;
      padding-left: 34%;
      font-size: 14px;
      font-weight: 500;
      text-align: left;
      color: rgba(255, 255, 255, 0.2);
      cursor: pointer;
      .team-user-icon {
        // display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 5px;
        position: absolute;
        left: 13%;
        top: 15%;
      }
      .userStatus {
        opacity: 0.5;
      }
      .userStatus.active {
        opacity: 1;
      }
      .userStatus:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border: 1px solid #c5b6d1;
        right: 15px;
        top: 20px;
        border-radius: 50px;
      }
      .userStatus.active:after {
        background-color: #50d166;
        border-color: transparent;
      }
    }
    .team-user:hover {
      background-color: #52306b;
    }
  }
}

/* **=======** END Side-Bar Styles **=======** */

/* **=======** Sidebar Toggle Styles **=======** */

/* .sidebar-toggle {
  width: 80px;
  overflow: visible !important;
  .nav-item.open>.dropdown-menu {
    display: none;
  }
  .team-items {
    display: none;
  }
  .nav-link {
    img {
      position: initial;
    }
    span {
      display: none;
      position: absolute;
    //   left: 150%;
      z-index: 9999;
      top: 18px;
      color: #fff;
      background: #52306b;
      min-width: 130px;
      left: 100%;
      top: 0;
      text-align: center;
      padding: 30px 0;
    }
  }
  .dropdown-toggle:after {
    display: none;
  }
  .nav-title,
  .divider-line,
  .divider {
    display: none;
  }
  .nav-item:hover span {
    display: block;
  }
  .nav-item:hover>.dropdown-menu {
    display: block;
  }
  .nav-item {
    position: relative;
    .dropdown-menu {
      position: absolute !important;
      top: 0;
      left: 100%;
      background-color: #52306b;
      padding-top: 80px;
      width: calc(100% + 100px);
      .dropdown-item {
          padding-left: 20%;
      }
      .dropdown-menu {
        padding: 0;
        width: 126%;
        .dropdown-item {
          padding: 8px 15px;
          padding-left: 20%;
        }
      }
      .nav-link {
        span {
          display: block;
          position: initial;
          color: #7e678f;
          text-align: initial;
          padding: 0;
          padding-left: 15%;
        }
      }
    }
  }
}
*/

/* **=======** END Sidebar Toggle Styles **=======** */

// **=======** Page Wrapper Styles **=======**
#page-content-wrapper {
  // margin: 15px; //   padding: 30px;
  // // background-color: #ffffff;
  // box-shadow: 0 1.5px 7px 0 rgba(0, 0, 0, 0.1);
  // position: relative;
  padding: 15px 40px 20px 15px; // padding-right: 9vw;
}

/* ========== Side-Bar Toggled =========== */

.sidebar-toggle {
  width: 80px;
  overflow: visible !important;
  .nav-item.open>.dropdown-menu {
    display: none;
  }
  .team-items {
    display: none;
  }
  .nav-link {
    img {
      position: initial;
    }
    span {
      display: none;
    }
  }
  .dropdown-toggle:after {
    display: none;
  }
  .nav-title,
  .divider-line,
  .divider {
    display: none;
  }
}

/* || ====****==== END Side-Bar Toggled ====****==== || */

/* ======= Side-Bar Hover Effect ======= */

// .sidebar-toggle:hover {
//   width: 240px;
//   .nav-title,
//   .divider-line,
//   .divider,
//   .team-items,
//   .login-info,
//   .nav-item.open>.dropdown-menu {
//     display: block;
//   }
//   .dropdown-toggle:after {
//     display: inline-block;
//   }
//   .nav-link {
//     img {
//       position: absolute;
//     }
//     span {
//       display: block;
//       position: initial;
//       min-width: auto;
//       padding: initial;
//       background: transparent;
//       left: initial;
//       text-align: initial;
//     }
//   }
// }

/* || ====****==== END Side-Bar Hover Effect ====****==== || */

.login-info {
  width: 60%;
  position: relative;
  a.nav-link {
    font-family: Roboto;
    font-size: 13px;
    line-height: 1.54;
    text-align: left;
    color: #7e678f; // margin-top: 8px;
    .active-info {
      color: turquoise;
      font-size: 4em;
      position: absolute;
      top: -0.75em;
    }
    span {
      word-wrap: none;
      white-space: nowrap;
    }
  }
  .dropdown-toggle::after {
    vertical-align: middle !important;
  }
  .nav-link {
    font-size: 14px;
    text-align: left;
    color: #7e678f;
    padding: 15px 15px;
    position: relative; // padding-left: 34%;
    cursor: pointer;
    img {
      max-width: 20px;
      max-height: 20px;
      position: absolute;
      left: 0;
    }
  }
  .nav-item.open>.dropdown-menu {
    display: block;
  }
  .nav-link.dropdown-toggle:after {
    position: absolute;
    top: 15px;
    left: 70%; // float: right;
    border: none;
    transition: 0.3s;
    content: "\f107";
    font-family: 'FontAwesome';
    width: auto;
    height: auto;
  }
  .nav-item> {
    .nav-link:hover,
    .nav-link.active {
      // background-color: #52306b;
      color: #c5b6d1;
    }
  }
  .nav-item.open> {
    .nav-link {
      color: #c5b6d1; // background-color: #52306b;
    }
    .dropdown-menu {
      background-color: #52306b;
      min-width: auto !important;
    }
    .nav-link.dropdown-toggle::after {
      transform: rotate(180deg);
    }
  }
  .show.active {
    color: #c5b6d1 !important;
    ;
  }
  .dropdown-menu {
    position: absolute;
    ;
    transform: initial !important;
    width: 90% !important;
    background-color: transparent;
    border-radius: 0;
    border: none;
    margin: 0;
    color: #c5b6d1 !important;
    .nav-item {
      min-height: auto;
    }
    .dropdown-toggle:after {
      margin-right: 15%;
    }
    .dropdown-item,
    .subNav-link {
      font-size: 14px;
      color: #c5b6d1 !important;
      cursor: pointer;
      padding: 8px 8px 8px 22%;
    }
    .dropdown-item.active {
      color: #c5b6d1;
      background-color: #3f165d;
      width: 90% !important;
    }
    a.dropdown-item {
      width: 90% !important;
      margin-top: -15px;
    }
    .dropdown-item:hover {
      background-color: #3f165d;
    } // .nav-link.subNav-link.dropdown-toggle::after {
    //   content: "\f103";
    // }
    // Sub Dropdown
    .nav-item.open {
      display: inline-block;
      width: 100%;
      .dropdown-item,
      .nav-link {
        color: #c5b6d1;
      }
    } // 2nd Level Dropdown
    // .dropdown-menu {
    //   padding-left: 5%;
    //   .dropdown-toggle:after {
    //     margin-right: 25%;
    //   }
    // }
  }
  .nickname {
    display: inline-block;
    white-space: nowrap;
    width: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .active-indication {
    position: relative;
  }
}
