<!-- TopNav -->
<nav class="navbar navbarTop" role="navigation">
  <div class="navbar-header" (mouseenter)="sidebarToggleOpen()" (mouseleave)="sidebarToggleClose()" [ngClass]="{'navbar-header-toggle':!sidebarToggledButton}">
    <div fxLayout="row" fxLayoutGap="0.1rem" fxLayoutAlign="start center">
      <a class="navbar-brand" (click)="sidebarToggledButton=!sidebarToggledButton">
        <img src="assets/flujo-logo-dashboard.svg" class="img-fluid" alt="Logo">
      </a>
      <div class="nav flex-column login-info">
        <div class="nav-item userpopup dropdown">
          <a class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false">
            <!-- <img src="assets/icons/web-icon-normal@2x.png" alt="web icon"> -->
            <span>Art Republiq</span>
            <span class="active-indication">
              <span class="nickname">{{name}}</span>
            <span class="active-info">
                <sup>.</sup>
              </span>
            </span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-item dropdown-submenu">
              <a class="" tabindex="-1">
                <span>Status</span>
              </a>
              <ul class="second-Level dropdown-menu">
                <li class="dropdown-item">
                  <a>Away</a>
                </li>
                <li class="dropdown-item">
                  <a>Idle</a>
                </li>
                <li class="dropdown-item">
                  <a>Busy</a>
                </li>
              </ul>
            </li>
            <li class="dropdown-item">
              <a routerLink="./profile" routerLinkActive="active">
                Profile & Account
              </a>
            </li>
            <li class="dropdown-item">
              <a routerLink="./profile" routerLinkActive="active">
                Preferences
              </a>
            </li>
            <li class="dropdown-item">
              <a routerLink="./profile" routerLinkActive="active">
                Manage Team
              </a>
            </li>
            <li class="dropdown-item">
              <a routerLink="./profile" routerLinkActive="active">
                Settings
              </a>
            </li>
            <li class="dropdown-item">
              <a routerLink="./profile" routerLinkActive="active">
                Help
              </a>
            </li>
            <li class="dropdown-item">
              <a routerLink="./profile" routerLinkActive="active">
                Signout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="admin-website mr-auto">
    <p class="title">
      <span>DVB Website : </span>
      <span class="page-title">{{CurrentPageName}}</span>
    </p>
  </div>
  <ul class="nav top-nav">
    <li class="navbarItem">
      <a href="#notifications" class="nav-link">
        <img src="assets/icons/chat-icon-normal@2x.png" class="img-fluid" alt="chat">
      </a>
    </li>
    <li class="navbarItem">
      <a href="#notifications" class="nav-link">
        <img src="assets/icons/help-icon-normal@2x.png" class="img-fluid" alt="chat">
      </a>
    </li>
    <li class="navbarItem">
      <a href="#notifications" class="nav-link">
        <img src="assets/icons/info-icon-normal@2x.png" class="img-fluid" alt="chat">
      </a>
    </li>
    <li class="navbarItem dropdown admin-profile">
      <a class="nav-link" data-toggle="dropdown">
        <img src="assets/icons/more-icon-normal@2x.png" class="img-fluid" alt="chat">
      </a>
      <ul class="dropdown-menu">
        <li>
          <a class="activity">{{name}}</a>
        </li>
        <div *ngFor="let item of adminMenu; let i = index">
          <div *ngFor="let useraccesitem of userAccessLevelData">
            <a class="activity" *ngIf="useraccesitem.name === item.title && useraccesitem.enable" (click)="navigatePage(item, i)">
              <i class="fa fa-user"></i>{{item.title}}
            </a>
          </div>
        </div>
        <li>
          <a class="activity" (click)="loginAuthService.logout()">
              <i class="fa fa-power-off"></i>Log Out</a>
        </li>

      </ul>
    </li>
  </ul>
</nav>
<!-- // Top Nav -->

<!-- Body Wrapper -->

<div id="wrapper" fxLayout="row" class="contentBody">

  <!-- Side Navigation -->
  <aside id="sidebar-wrapper" class="sidebar-menu ps" (mouseenter)="sidebarToggleOpen()" (mouseleave)="sidebarToggleClose()" [ngClass]="{'sidebar-toggle':!sidebarToggledButton}" [perfectScrollbar]="config">
    <ul class="nav flex-column">
      <div *ngFor="let item of editor; let i = index">
        <div *ngFor="let useraccesitem of userAccessLevelData">
          <li class="nav-item" *ngIf="useraccesitem.name === item.title && useraccesitem.enable" (click)="navigatePage(item, i)">
            <a class="nav-link editor-link" [ngClass]="{'active': item.isActive }">
          <img src="assets/icons/editor-color-nav-icon-normal@2x.png" class="normal_img" alt="buffer icon">
          <img src="assets/icons/editor-color-nav-icon-active@2x.png" class="active_img" alt="buffer icon">
          <!-- <i class="fa fa-ionic"></i> -->
          <span>{{item.title}}</span>
        </a>
          </li>
        </div>
      </div>
      <li class="divider-line"></li>
      <!-- Communication Block -->
      <li class="nav-title">Flow
        <i class="fa fa-cog"></i>
      </li>
      <div *ngFor="let flowitem of flow; let i = index">
        <div *ngFor="let useraccesitem of userAccessLevelData">
          <li class="nav-item" *ngIf="useraccesitem.name === flowitem.title && useraccesitem.enable" (click)="navigatePage(flowitem, i, 'flow')">
            <a class="nav-link" [ngClass]="{'active': flowitem.isActive }">
          <img src="{{flowitem.normalicon}}" class="normal_img" alt="buffer icon">
          <img src="{{flowitem.activeicon}}" class="active_img" alt="buffer icon">
          <span>{{flowitem.title}}</span>
        </a>
          </li>
        </div>
      </div>
      <li class="divider-line"></li>

      <li class="nav-title">Nucleus
        <i class="fa fa-cog"></i>
      </li>
      <div *ngFor="let item of nucleus; let i = index">
        <div *ngFor="let useraccesitem of userAccessLevelData">
          <li class="nav-item" *ngIf="useraccesitem.name === item.title && useraccesitem.enable" (click)="navigatePage(item, i, 'nucleus')">
            <a class="nav-link" [ngClass]="{'active': item.isActive }">
            <img src="{{item.normalicon}}" class="normal_img" alt="buffer icon">
            <img src="{{item.activeicon}}" class="active_img" alt="buffer icon">
            <span>{{item.title}}</span>
          </a>
          </li>
        </div>
      </div>
      <li class="divider-line"></li>
      <li class="nav-item" *ngIf="userAccessLevelData && userAccessLevelData[10]?.enable">
        <a class="nav-link" routerLink="./filerepository" routerLinkActive="active">
          <img src="assets/icons/drive-color-nav-icon-normal@2x.png" class="normal_img" alt="mailChimp icon">
          <img src="assets/icons/drive-color-nav-icon-active@2x.png" class="active_img" alt="mailChimp icon">

          <span>Drive</span>
        </a>
      </li>
      <li class="divider-line"></li>

      <!-- Team Chat -->
      <li class="nav-title" *ngIf="userAccessLevelData && userAccessLevelData[11]?.enable">Your teams
        <i class="fa fa-cog"></i>
      </li>
      <ul class="team-items">
        <li *ngFor="let chatItem of activeUsers">
          <a class="team-user" routerLinkActive="active">
              <i class="team-user-icon user-logo">
                <img src="assets/team/abhi.jpeg" class="img-fluid" alt="K"> </i>
              <span class="userStatus" (click)=ChatIO(chatItem) [ngClass]="{'active': chatItem.isUserActive}">{{chatItem.name}}</span>

            </a>
        </li>

      </ul>
    </ul>

</aside>
<div fxFlex id="page-content-wrapper" [perfectScrollbar]="config" class="ps">
  <router-outlet></router-outlet>
</div>