<div  fxLayout="column" fxLayoutGap="15px">
    <div fxLayout="row"  fxLayout.sm="column"  fxLayout.xs="column" fxLayoutAlign="start center">
      <div fxFlex="30">
        <h6 class="issues">Issues</h6>
      </div>
      <div  fxFlex="40"fxLayoutAlign="center center" class="text-center button-group btn-group-toggle" data-toggle="buttons">
       <label class="btn btn-outline-secondary  btn-actissue" >
          <input type="radio"  name="options" id="option1" autocomplete="off" checked> Active Issues
       </label>
       <label class="btn btn-outline-secondary btn-pastissue">
         <input type="radio"  name="options" id="option2" autocomplete="off"> Past Issues
       </label>
      </div>
      <div fxFlex="30" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
        <div  class=" text-center button-group btn-group-toggle" data-toggle="buttons">
         <label class="pull-right btn btn-outline-secondary  btn-view-grid" >
            <input type="radio"  name="options" id="view1" autocomplete="off" checked> <i class="fa fa-th"></i>
         </label>
         <label class="pull-right btn btn-outline-secondary  btn-view-list">
           <input type="radio"  name="options" id="view2" autocomplete="off"> <i class="fa fa-th-list"></i>
         </label>
        </div>
        <div class="dropdown">
            <ul class="pull-right btn btn-outline-secondary btn-issues dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter By
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li class="dropdown-item">Date</li>
                <li class="dropdown-item">Issue</li>
              </div>
            </ul>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <!-- <h3>Feedback Report:</h3> -->
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">
                    <span class="fb-first-field">&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="d-inline" type="checkbox" >
                        <b>
                          <p class="d-inline">Name &nbsp; <i class="fa fa-angle-down"></i></p>
                        </b>
                      </span> 
                </th>
                <th scope="col">
                    <div>
                        <span class="d-inline">Updated &nbsp; <i class="fa fa-angle-down"></i></span>
                    </div>
                </th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">
                    <span class="d-inline">
                        Gender&nbsp;<i class="fa fa-angle-down"></i>
                    </span>   
                </th>
                <th scope="col">
                    <span class="d-inline" >
                        Age &nbsp;<i class="fa fa-angle-down"></i>
                    </span> 
                </th>
                <th scope="col">
                    <span class="d-inline" >
                        Locality &nbsp;<i class="fa fa-angle-down"></i>
                    </span> 
                </th>
              </tr>
            </thead>
            <ng-template class="link-row problem-box" id="accordion" ngFor let-report [ngForOf]="reportProblemData" let-i="index">
              <tbody class="" id="problem-row1">
                  <tr>
                    <td>
                        <span class="d-inline">
                            <p class="text-muted d-inline"><i class="fa fa-ellipsis-v"></i>&nbsp;<i class="fa fa-ellipsis-v"></i></p>
                            <input  type="checkbox">
                            <b><p class="name-feedback d-inline">{{report.name}}</p></b>
                        </span> 
                    </td>
                    <td>{{report.submitted_at}}</td>
                    <td>{{report.email}}</td>
                    <td>{{report.phone}}</td>
                    <td>Male</td>
                    <td>
                        <p class="">25</p>
                    </td>
                    <td>
                      <span class="d-inline">
                            <p class="d-inline">Karimnagar</p>
                            <p class="text-muted d-inline pull-right">
                             <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                               <i class="fa fa-caret-down"></i>
                             </a> 
                            </p>
                        </span>
                    </td>
                  </tr>
                  </tbody>                  
                  <tbody class="" id="collapseOne">
                    <tr>
                      <td colspan="2">
                          <span class="d-inline file-icon text-muted">
                              <i class="fa fa-paperclip"> </i> &nbsp;
                            </span> 
                          <span  class="d-inline report-file-descr"> Now is the time for all good men to come to the aid of their party.</span>
                      </td>
                      <td>
                          <span class="text-muted d-inline">
                              Category:&nbsp;
                            </span>
                            <span class="d-inline">Email</span>
                      </td>
                      <td>
                          <span class="text-muted d-inline">
                              Source:&nbsp;
                            </span>
                            <span class="d-inline">Website</span>
                      </td>
                      
                      <td colspan="2"><span class="text-muted d-inline">
                          Address:&nbsp;
                        </span>
                        <span class="d-inline">
                          123, Yogi <br/>is a Kati
                        </span>
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <td colspan="2">
                          <!-- <form class="example-form">
                              <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{ option }}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                            </form> -->
                      </td>
                      <td></td>
                      <td></td>
                      <td colspan="2">

                      </td>
                      <td></td>
                    </tr>
                  </tbody>
                </ng-template>
          </table>
        </div>
      </div>
    <!-- <div *ngFor="let report of reportProblemData" class="link-row"  fxLayout.xs="column"  fxLayout="row">
      <div class="problem-box" fxFlex fxLayout="column" fxLayoutGap="15px">
        <div fxLayout="row" fxLayoutGap="3rem" >
          <div class="" fxFlex="20%" fxLayoutAlign="start center">
              <span fxLayoutGap="5px">
                <p class="text-muted d-inline"><i class="fa fa-ellipsis-v"></i>&nbsp;<i class="fa fa-ellipsis-v"></i></p>
                <input class="d-inline" type="checkbox" >
                <b>
                  <p class="d-inline">{{report.name}}</p>
                </b>
              </span> 
          </div>
          <div fxFlex="25%"  fxLayoutAlign="start center">
              <span class="text-muted d-inline">
                4 hrs ago&nbsp;
              </span>
              <span class="d-inline">{{report.date_now}}</span>
          </div>
          <div fxFlex="20%"  fxLayoutAlign="start center">
              <span class="text-muted d-inline">
                Source:&nbsp;
              </span>
              <span class="d-inline">Website</span>
          </div>
          <div  fxFlex  fxLayoutAlign="end end">
              <span class="popup-base text-muted d-inline dropdown">
                  <button class="d-inline btn-dropdown" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                    <ul class="dropdown-menu">
                      <li>Options</li>
                      <li>Download</li>
                      <li>Move</li>
                      <li>Assign</li>
                      <li>Delete</li>
                    </ul>
              </span>

          </div>

        </div>
        <div class="divide-line"></div>
        <div fxLayout="row" fxLayoutGap="3rem">
          <div fxFlex="20%"  fxLayoutAlign="start">
                <span class="text-muted">
                  Email:&nbsp;
                </span>
                <span>{{report.email}}</span>
          </div>
          <div fxFlex="25%"  fxLayoutAlign="start">
                <span class="text-muted">
                  Phone:&nbsp;
                </span>
                <span>{{report.phone}}</span>
          </div>
          <div fxFlex="40%"  fxLayoutAlign="start">
                <span class="text-muted">
                  <i class="fa fa-paperclip"> </i> &nbsp;
                </span> 
                <span  class="report-file-descr"> Now is the time for all good men to come to the aid of their party</span>
          </div>
        </div>
      </div>
      
    </div> -->
    <div fxLayout="row">
      <div class="sendMail-data">
        <form action="" [formGroup]="reportCsvMail" fxLayout="row" fxLayoutGap="15px">
          <input class="form-control" formControlName="email" id="email" placeholder="Enter email">
          <div [hidden]="reportCsvMail.controls.email.valid || (reportCsvMail.controls.email.pristine && !submitted)" class="form-error-msg">
            enter valid email
          </div>
          <button (click)="reportCsvMailSubmit(reportCsvMail.value)" class="btn btn-outline-secondary btn-sm btn-report">Send As Email</button>
        </form>
      </div>
       <div fxLayoutAlign="end center" fxFlex>
        <button (click)="exportReportProblemData()" class="btn btn-outline-secondary btn-sm btn-report pull-right">Export</button>
       </div>
</div>