.sendMail-data {
    position: relative;
    display: inline-block;
    .content-box {
        padding: 8px;
        position: absolute;
        top: 0;
        left: 100%;
        margin-left: 20px;
        box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.5);
        input {
            padding: 8px;
            font-size: 12px;
            width: 100%;
            margin-bottom: 5px;
            outline: none;
            border: 1px solid #eeeeee;
        }
        textarea {
            border: 1px solid #eeeeee;
            outline: none;
            font-size: 12px;
        }
        input:focus,textarea:focus {
            border-color: #000000;
        }
    }
}
.form-error-msg {
    position: absolute;
    top: 100%;
    color: red;
}