.card_pb {
    width: 700px;
    height: 300px;
    box-shadow: 0px 1.5px 18px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    background-color: #ffffff;
  }
  .problem_type {
      max-width: 40%;
      margin: 0 auto;
      .button_submit {
          min-width: 100px;
      }
  }
  .view_items {
    box-shadow: 0px 1.5px 7.5px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: calc( 100vh - 200px);
    .view_item {
      background-color: #ffffff;
      padding: 20px;
      border-bottom: 1.5px solid #f5f5f5;
      min-height: 80px;
    }
    .view_item:last-child {
      border: none;
    }
    .name {
      font-size: 14px;
      font-weight: 500;
      color: #666666;
    }
    .code {
      font-size: 14px;
      color: #919191;
    }
  }
  