<ng4-loading-spinner></ng4-loading-spinner>
<ngx-alerts maxMessages="3" timeout="5000"></ngx-alerts>

<div fxLayout="column" fxLayoutGap="30px" class="problem_type page_padding">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <p class="areas-head">Problem Category</p>
    </div>
    <div class="input_fields input_box" fxLayoutGap="15px" fxFlex fxLayoutAlign="end center">
      <!-- <form [formGroup]="problemForm" fxLayout="row" fxLayoutGap="15px"> -->
        <!-- <input type="text" class="input" id="addOrUpdate" placeholder="Problem type" [value]="problemTypeNameNew" formControlName="problemtypenamenew"> -->
        <!-- <input type="text" class="input" id="addOrUpdate" placeholder="Problem type in Telugu" [value]="problemTypeNameTeluguNew" formControlName="problemtypenametelugunew"> -->
        <button class="button_submit" (click)="openDialog(add)">{{actionText}}</button>
      <!-- </form> -->
    </div>
  </div>
  <div class="view_items" fxLayout="column" fxLayoutGap="0px" [perfectScrollbar]="config">
    <div class="problem-category-data">
      <div fxLayout="row"  class="view_item" fxLayoutGap="30px" fxLayoutAlign="start center">
          <div class="d-inline code name-head" fxFlex="20%">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input (change)="selectAll()" [(ngModel)]="checked" class="d-inline pc-checkbox" type="checkbox">&nbsp;&nbsp;
            <p class="d-inline"><b>Category</b></p>
          </div>
          <div class="code" fxFlex="20%">
            <b>Category in Telugu</b>
          </div>
          <div class="code" fxFlex="20%">
            <b>Created By</b>
          </div>
          <div class="code" fxFlex="20">
            <b>Date</b>
          </div>
    </div>
    <div *ngFor="let problem of problemTypeData" class="view_item problem_item" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
      <div class="name" fxFlex="25%">
          <span class="text-muted d-inline">
              <i class="fa fa-ellipsis-v"></i>
              <i class="fa fa-ellipsis-v"></i>
        </span>&nbsp;&nbsp;
        <input [(ngModel)]="problem.selected" class="d-inline pc-checkbox" type="checkbox">&nbsp;&nbsp;
        <p class="d-inline">{{problem.problem_type}}</p>
      </div>
      <div class="code" fxFlex="25%">
       {{problem.problem_type_telugu}}
      </div>
      <div class="code" fxFlex="35%">
        {{problem.created_by}}
      </div>
      <div class="code" fxFlex="15%">
        5th April 2018
      </div>
      <div class="btn-stack" fxLayout="row" fxLayoutGap="15px" fxFlex fxLayoutAlign="end center">
        <button (click)="updateProblemData(problem)" type="button" class="btn">
          <i class="fa fa-pencil"></i>
        </button>
        <button type="button" class="btn">
          <i class="fa fa-eye"></i>
        </button>
        <button (click)="deleteProblem(problem)" type="button" class="btn">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
    </div>
  </div>
</div>
