.biography {
  height: 100%;
  .card {
    box-shadow: 0 1.5px 18px 0 rgba(0, 0, 0, 0.15); // padding: 30px 40px;
    width: 40vw;
  }
  .biography_header {
    padding: 22px 40px;
    border-bottom: 1px solid #f7f7f7;
    position: relative;
  }
  .header_title {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #666666;
    text-transform: uppercase;
  }
  .biography_form {
    padding: 30px 40px;
    padding-top: 15px;
  }
  .input {
    outline: none;
    padding: 13px 15px;
    font-size: 14px;
    text-align: left;
    color: #c1c1c1;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1.5px #f7f7f7;
  }
  .submit {
    max-width: 130px;
    border: solid 1.5px #4a2565;
    border-radius: 20px;
    float: right;
  }
}

.bio_colorPicker {
  input {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: transparent;
    border: 1px solid #333;
  }
}