<!-- ====== SMTP Edit Block -->
<ng4-loading-spinner></ng4-loading-spinner>
<ngx-alerts maxMessages="3" timeout="5000">
    <strong>{{successMessage }}</strong>
  </ngx-alerts>
<div class="smtp_box" fxLayoutAlign="center center">
  <div class="smtp-config-view">
    <!-- ====== SMTP View Block -->
    <div *ngIf="!isEdit" class="view-block">
      <div class="smtp_header">
        <h3 class="header_title">SMTP Configurations</h3>
      </div>
      <div class="smtp_body" fxLayout="row">
        <div *ngIf="smtpItems" class="smtp-confgs" fxLayout="column" fxLayoutGap="20px" fxFlex="90">
          <div fxLayout="column">
            <label>Host name</label>
            <p>{{smtpItems[0].host_name}}</p>
            <hr>
          </div>
          <div fxLayout="column">
            <label>From name</label>
            <p>{{smtpItems[0].from_name}}</p>
            <hr>
          </div>
          <div fxLayout="column">
            <label>From Email</label>
            <p>{{smtpItems[0].from_email}}</p>
            <hr>
          </div>
          <div fxLayout="column">
            <label>User name</label>
            <p>{{smtpItems[0].user_name}}</p>
            <hr>
          </div>
          <!-- <div fxLayout="column" class="hidden">
                <label>Password</label>
                <p>{{smtpItems.password}}</p>
              </div> -->
        </div>
      </div>
      <div class="smtp_footer" fxLayoutAlign="end center">
        <button mat-raised-button class="edit-button" (click)="EditSMTPLinks(smtpItems)">Edit</button>
      </div>
    </div>

    <form *ngIf="isEdit" [formGroup]="smtpUpdationForm" method="post">
      <div class="smtp_header">
        <h3 class="header_title">SMTP Configurations</h3>
      </div>
      <div class="smtp_body" fxLayout="row">
        <div fxLayout="column" fxLayoutGap="10px" fxFlex="90">
          <div  class="form-group" fxLayout="column">
            <label>Host Name:</label>
            <input class="form-control" formControlName="host_name" id="host_name">
            <!-- <control-messages [control]="smtpupForm.controls.host_name"></control-messages> -->
          </div>
          <div  class="form-group" fxLayout="column">
            <label>From Name:</label>
            <input class="form-control" formControlName="from_name" id="from_name">
            <!-- <control-messages [control]="smtpupForm.controls.from_name"></control-messages> -->
          </div>
          <div  class="form-group" fxLayout="column">
            <label>From Email:</label>
            <input class="form-control" formControlName="from_email" id="from_email">
            <!-- <control-messages [control]="smtpupForm.controls.from_email"></control-messages> -->
          </div>
          <div  class="form-group" fxLayout="column">
            <label>User Name:</label>
            <input type="text" class="form-control" formControlName="user_name" id="user_name">
            <!-- <control-messages [control]="smtpupForm.controls.user_name"></control-messages> -->
          </div>
          <div  class="form-group" fxLayout="column">
            <label>Password:</label>
            <input class="form-control" type="password" formControlName="password" id="password">
            <!-- <control-messages [control]="smtpupForm.controls.password"></control-messages> -->
          </div>
        </div>
      </div>
      <div class="smtp_footer" fxLayoutAlign="end center">
        <button mat-button class="btn" (click)="cancelFileEdit()">Cancel</button>
        <button mat-raised-button [hidden]="Ishide1" class="edit-button" type="submit" (click)="SmtpPost(smtpUpdationForm.value)"
          [disabled]="!smtpUpdationForm.valid">{{btn_text}}</button>
        <!-- <button mat-raised-button type="submit" class="edit-button" (click)="deleteSMTP(smtpUpdationForm.value)">delete</button> -->
      </div>
    </form>
  </div>
</div>