<!-- <div class="chat-windows" style="display: none;" #chatWindow>
  <div class="scrollBlock">
    <div>
      <div #smallWindow class="flujoChat-box smallWindow" *ngFor="let item of test">
        <div class="chat-header" fxLayout="row">
          <div fxFlex class="user-name">
            <div class="dropdown d-inline-block">
              <a class="dropdown-toggle user-dropdown d-inline-block" data-toggle="dropdown">
                <span class="user-logo">
                  <img src="assets/team/kk.jpeg" class="img-fluid" alt="user logo">
                </span>
                {{item.name}}
              </a>
            </div>
          </div>
          <div fxFlex="40" class="action-icons">
            <ul fxLayout="row" fxLayoutGap="20px">
              <li>
                <a href="#chat" class="fa fa-video-camera"></a>
              </li>
              <li>
                <a href="#chat" class="fa fa-phone"></a>
              </li>
              <li>
                <a href="#chat" class="fa fa-calendar-o"></a>
              </li>
              <li>
                <a href="#chat" class="fa fa-info-circle"></a>
              </li>
              <li>
                <a href="#chat" class="fa fa-times-circle-o"></a>
              </li>
              <li (click)="minimizeWindow()">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" viewBox="0 0 485.6 485.6" style="width: 20px; margin-top: 8px; cursor: pointer;"
                  xml:space="preserve">
                  <g>
                    <path d="M0,455.7h358.5v-298H0V455.7z M63.4,221.1h231.5v171.1H63.4V221.1z M158.9,29.9h326.7v266.3h-63.5V93.4H158.9V29.9z" />
                  </g>
                </svg>
              </li>
            </ul>
          </div>

          <div class="smallWindow_actions">
            <div>
              <button><svg class="cc-icons" viewBox="0 0 22 24" preserveAspectRatio="none" width="19px" height="24px">
                  <path d="M 5 11 L 5 13 L 19 13 L 19 11 Z "></path>
                </svg></button>
              <button (click)="maximizeWindow()"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                  xml:space="preserve">
                  <g>
                    <g>
                      <path d="M497,76H15C6.716,76,0,82.716,0,91v330c0,8.284,6.716,15,15,15h482c8.284,0,15-6.716,15-15V91
             C512,82.716,505.284,76,497,76z M482,406H30V106h452V406z" />
                    </g>
                  </g>
                </svg>
              </button>
              <button>
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" viewBox="0 0 31.112 31.112" style="enable-background:new 0 0 31.112 31.112;"
                  xml:space="preserve">
                  <polygon points="31.112,1.414 29.698,0 15.556,14.142 1.414,0 0,1.414 14.142,15.556 0,29.698 1.414,31.112 15.556,16.97 
           29.698,31.112 31.112,29.698 16.97,15.556 " />
                </svg>
              </button>
            </div>
          </div>
        </div>

        <div class="chat-body">
          <div>
            <div class="message-block msg-in">
              <div>
                <span class="user-logo">
                  <img src="assets/team/yogesh.jpeg" class="img-fluid" alt="user logo">
                </span>
              </div>
              <div class="message-data">
                Hi Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </div>
            </div>

            <div class="message-block msg-out">
              <div class="message-data">
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took
                a
                galley of type
                and scrambled it to make a type specimen book.
              </div>
              <div>
                <span class="user-logo">
                  <img src="assets/team/kk.jpeg" class="img-fluid" alt="user logo">
                </span>
              </div>
            </div>

          </div>
        </div>
        <div class="chat-input">
          <form>
            <div class="inputMsg">
              <input type="text" class="input-message" placeholder="Write Your Message..!">
            </div>
            <div class="chat_controls">
              <a (click)="addEmoji($event)">
                <i class="fa fa-smile-o"></i>
              </a>
              <a href="#file">
                <i class="fa fa-paperclip"></i>
              </a>
              <button class="send-button" type="submit">Send</button>
            </div>
          </form>
        </div>
        <div class="emojies_block" *ngIf="isEmoji">
          <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
        </div>

      </div>
    </div>
  </div>
</div> -->
<div #chat_box style="display: none" class="chatBoxes">
  <div>
    <div class="chat_item" *ngFor="let selecteduseritem of selectedUsers,let i=index">
      <div class="chat_box">
        <div class="chat_header">
          <p>{{selecteduseritem.receiver_name}}</p>
          <p style="color:darkgreen; font-size: 10px" *ngIf="selecteduseritem.isTyping">Typing</p>
          <div class="chat_controls">
            <div (click)="chatToggle($event, i)" class="minimize_icon control_icon">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"
                />
              </svg>
            </div>
            <div class="control_icon" (click)="maximizeWindow($event)">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="459px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve">
                <path d="M408,51v357H51V51H408 M408,0H51C22.95,0,0,22.95,0,51v357c0,28.05,22.95,51,51,51h357c28.05,0,51-22.95,51-51V51
        C459,22.95,436.05,0,408,0L408,0z" />
              </svg>
            </div>
            <div (click)="closeChatWindow(selecteduseritem, i)">X</div>
          </div>
        </div>
        <div #chatBody class="chat_body">
          <div #windowchathistory  class="chatTexts_items" (scroll)="onScroll($event)">
            <div class="chat_scrollChat">
              <div #listHeight *ngFor="let chatItem of selecteduseritem.chat_history" class="chat_text" [ngClass]="{'rightSideText':chatItem?.sender_id === loggedinUserObject.user_id}">
                <div  class="text_item">
                  <div>
                      <!-- {{chatItem.message}} -->
                      <div *ngIf="chatItem.message_type == 'text'">{{chatItem.message}}</div>
                      <div *ngIf="chatItem.message_type =='image/png' || chatItem.message_type =='image/jpg' || chatItem.message_type =='image/gif'">
                        <img width="200" height='100' src='{{chatItem.message}}'>
                      </div>
                    <div *ngIf="chatItem?.sender_id === loggedinUserObject.user_id">{{chatItem.created_time | date:'medium'}}
                      <label *ngIf="chatItem.status === -1">Sent</label>
                      <label *ngIf="chatItem.status === 0">Delivered</label>
                      <label *ngIf="chatItem.status === 1">Read</label>
                    </div>
                    <label *ngIf="chatItem?.sender_id !== loggedinUserObject.user_id">{{chatItem.received_time | date:'medium'}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="send_input">
              <div [formGroup]="messageInputForm"><input formControlName="message" (input)="onMessageInputListener($event.target.value, selecteduseritem)" (keyup.enter)="sendMessageToSelectedReceiver(selecteduseritem, i)"></div>
              <input  type="file" id="picked" #picked multiple="multiple" (change)="onFileUpload($event, selecteduseritem, i)" style="display:none"/>
              <img (click)="triggerUpload()" class='m-2' id='file-upload-icon' src="assets/attachment.png" width="24" height="24"/>
            <button type="submit" [disabled]="message?.length == 0" (click)="sendMessageToSelectedReceiver(selecteduseritem, i)">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>