<div class="flujoChat-box">
  <!-- Chat Header -->
  <div class="chat-header" fxLayout="row">
    <div fxFlex class="user-name">
      <div class="dropdown d-inline-block">
        <a class="dropdown-toggle user-dropdown d-inline-block" data-toggle="dropdown">
          <span class="user-logo">
            <img src="assets/team/kk.jpeg" class="img-fluid" alt="user logo">
          </span>
          Krishna Kanth
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#" class="activity">
              Edit Profile</a>
          </li>
          <li>
            <a href="#" class="activity">
              Change Password</a>
          </li>
        </ul>
      </div>
    </div>
    <div fxFlex="40" class="action-icons">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <a href="#chat" class="fa fa-video-camera"></a>
        </li>
        <li>
          <a href="#chat" class="fa fa-phone"></a>
        </li>
        <li>
          <a href="#chat" class="fa fa-calendar-o"></a>
        </li>
        <li>
          <a href="#chat" class="fa fa-info-circle"></a>
        </li>
        <li>
          <a href="#chat" class="fa fa-times-circle-o"></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Chat Massage Body -->
  <div class="chat-body ps" [perfectScrollbar]="config">
    <div fxLayout="column" fxLayoutGap="15px">
      <div class="message-block">
        <div fxLayout="row" fxFlex="50%">
          <span class="user-logo">
            <img src="assets/team/yogesh.jpeg" class="img-fluid" alt="user logo">
            <!-- <i class="fa fa-user-o"></i> -->
          </span>
          <div class="message-data">
            Hi Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </div>
        </div>
      </div>

      <div class="message-block" fxLayoutAlign="end none">
        <div class="my-message" fxLayout="row" fxFlex="50%">
          <div class="message-content ml-auto">
            <div class="message-data">
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
              and scrambled it to make a type specimen book.
            </div>
            <span class="user-logo" fxFlex="40px">
              <img src="assets/team/kk.jpeg" class="img-fluid" alt="user logo">
            </span>
          </div>
        </div>
      </div>

      <div class="message-block">
        <div fxLayout="row" fxFlex="50%">
          <span fxFlex="40px" class="user-logo">
            <img src="assets/team/yogesh.jpeg" class="img-fluid" alt="user logo">
            <!-- <i class="fa fa-user-o"></i> -->
          </span>
          <div class="message-data">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
            book.
          </div>
        </div>
      </div>

      <div class="message-block" fxLayoutAlign="end none">
        <div class="my-message" fxLayout="row" fxFlex="50%">
          <div class="message-content ml-auto">
            <div class="message-data">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            </div>
            <span class="user-logo" fxFlex="40px">
              <img src="assets/team/kk.jpeg" class="img-fluid" alt="user logo">
            </span>
          </div>
        </div>
      </div>

      <div class="message-block" fxLayoutAlign="end none">
        <div class="my-message" fxLayout="row" fxFlex="50%">
          <div class="message-content ml-auto">
            <div class="message-data">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
            <span class="user-logo" fxFlex="40px">
              <img src="assets/team/kk.jpeg" class="img-fluid" alt="user logo">
            </span>
          </div>
        </div>
      </div>

      <div class="message-block" fxLayoutAlign="end none">
        <div class="my-message" fxLayout="row" fxFlex="50%">
          <div class="message-content ml-auto">
            <div class="message-data">
              Good Night!
            </div>
            <span class="user-logo" fxFlex="40px">
              <img src="assets/team/kk.jpeg" class="img-fluid" alt="user logo">
            </span>
          </div>
        </div>
      </div>

      <div class="message-block">
        <div fxLayout="row" fxFlex="50%">
          <span fxFlex="40px" class="user-logo">
            <img src="assets/team/yogesh.jpeg" class="img-fluid" alt="user logo">
            <!-- <i class="fa fa-user-o"></i> -->
          </span>
          <div class="message-data">
            It’s hard to say when in our lives each of us become It’s hard to say when in our lives each of us become It’s hard to say
            when in our lives each of us become
          </div>
        </div>
      </div>
      <div class="message-block">
        <div fxLayout="row" fxFlex="50%">
          <span fxFlex="40px" class="user-logo">
            <img src="assets/team/yogesh.jpeg" class="img-fluid" alt="user logo">
            <!-- <i class="fa fa-user-o"></i> -->
          </span>
          <div class="message-data">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing
            and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Chat Input Block -->
  <div class="chat-input">
    <form fxLayout="row">
      <div fxFlex>
        <input type="text" class="input-message" placeholder="Write Your Message..!">
      </div>
      <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-around center">
        <a href="#smile">
          <i fxFlex class="fa fa-smile-o"></i>
        </a>
        <a href="#file">
          <i fxFlex class="fa fa-paperclip"></i>
        </a>
        <button fxFlex="40" class="send-button" type="submit">Send</button>
      </div>
    </form>
  </div>
</div>
