
<!-- 
<div class="container">
  <div class="row">
      
    <div class="col scrollContent">
      <div>
          <a (click)="getDebugToken()" class="btn btn-primary">Login with facebook</a>
          <a *ngIf="!isFbLogedin" (click)="fbLogin()" class="btn btn-primary">Login with facebook</a>
        <div *ngIf="fbResponseDataItems">
          <div class="card" *ngFor="let fbItem of fbResponseDataItems">


            <img *ngIf="fbItem.full_picture" class="img-fluid" src={{fbItem.full_picture}} alt="Card image cap">


            <div class="card-body">
              <p class="card-text">{{fbItem.message}}</p>
              <p>likes: {{fbItem.likes.summary.total_count}}</p>
              <p>comments: {{fbItem.comments.summary.total_count}}</p>
            </div>

          </div>
        </div>
        <a *ngIf="isFbLogedin" (click)="fbLoadMore()" class="btn btn-primary">Load More</a>
      </div>
    </div>
    <div class="col scrollContent">
      <div>
          <a *ngIf="!isShowTwitter" (click)="getTwitterFeed()" class="btn btn-primary">Show Twitter</a>
        <ngx-twitter-timeline *ngIf="isShowTwitter" [data]="{
            sourceType: 'url',
            url: 'https://twitter.com/@dasyamofficial'}" [opts]="{
            tweetLimit: 20
        }"></ngx-twitter-timeline>
      </div>
    </div>
  </div>
</div> -->

<div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="center center" class="group_btns" data-toggle="buttons">
        <button  name="options" id="option1" autocomplete="off" checked>
            Add Stream
        </button>
        <button   name="options" id="option2" autocomplete="off">
            Add Social Network
        </button>
    </div>
    <div class="new-postt-box" fxLayout="row" fxLayoutAlign="space-between center">
      <span  fxFlex  class="d-inline">
        <i class="fa fa-pencil d-inline"></i>&nbsp;<input  fxFlex type="text" placeholder="New Post">
      </span>
      <div fxLayout="row" fxLayoutGap="1rem">
          <i class="fa fa-smile-o"></i>
          <i class="fa fa-picture-o"></i>
          <i class="fa fa-video-camera"></i>
          <i class="fa fa-map-marker"></i>
      </div>
    </div>
    <div fxLayoutAlign="center center" class="group_btns" data-toggle="buttons">
        <button  name="options" id="option1" autocomplete="off" checked>
           <i class="fa fa-th"></i>
        </button>
        <button   name="options" id="option2" autocomplete="off">
              <i class="fa fa-list"></i>
        </button>
    </div>
</div><br/>
<div class="test" fxLayout="row">
    <div class="social-tabs">
      <mat-tab-group>
          <mat-tab label="Facebook"><br/>
            <div  fxLayout="row">
                <div class="col-md-4" style="margin-left:0;overflow-y:scroll;height:600px;">              
                    <div class="social-card">
                      <div class="nav-social" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="social-cards-header">
                          <h6>Mentions</h6>
                        </div>
                        <div class="social-cards-header-icnons d-inline">
                          <div fxLayout="row" fxLayoutGap="1rem">
                            <i class="fa fa-search"></i>
                            <i class="fa fa-repeat"></i>
                            <i class="fa fa-ellipsis-v"></i>
                          </div>
                        </div>
                      </div>
                      <ul style="margin-left:-35px">
                        <li>
                          <mat-card class="example-card">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Shiba Inu</mat-card-title>
                              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                              <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                              </p>
                            </mat-card-content>
                            <div class="social-image">
                              <img mat-card-image src="../assets/profile_user.jpg" alt="Photo of a Shiba Inu">
                            </div>
                            <mat-card-actions>
                              <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                  <span>
                                    <i class="fa fa-thumbs-o-up"></i>&nbsp; Like</span>
                                </div>
                                <div>
                                  <span>
                                    <i class="fa fa-comment-o"></i>&nbsp; Comment</span>
                                </div>
                                <div>
                                  <span>
                                    <i class="fa fa-share"></i>&nbsp; Share</span>
                                </div>
                                <div>
                                  <span>
                                    <i class="fa fa-ellipsis-v"></i>
                                  </span>
                                </div>
                              </div>
                              <br/>
                            </mat-card-actions>
                            <mat-card-header>
                              <div mat-card-avatar class="d-inline example-header-image"></div>
                              <input class="d-inline input-commet" type="text" placeholder="Comment">
                            </mat-card-header>
                          </mat-card>
                        </li>
                      </ul>
                    </div>
                  </div>
                <div class="col-md-4" style="margin-left:0;overflow-y:scroll;height:600px;">              
                    <div class="social-card">
                      <div class="nav-social" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="social-cards-header">
                          <h6>Mentions</h6>
                        </div>
                        <div class="social-cards-header-icnons d-inline">
                          <div fxLayout="row" fxLayoutGap="1rem">
                            <i class="fa fa-search"></i>
                            <i class="fa fa-repeat"></i>
                            <i class="fa fa-ellipsis-v"></i>
                          </div>
                        </div>
                      </div>
                      <ul style="margin-left:-35px">
                        <li>
                          <mat-card class="example-card">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Shiba Inu</mat-card-title>
                              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                              <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                              </p>
                            </mat-card-content>
                            <div class="social-image">
                              <img mat-card-image src="../assets/profile_user.jpg" alt="Photo of a Shiba Inu">
                            </div>
                            <mat-card-actions>
                              <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                  <span>
                                    <i class="fa fa-thumbs-o-up"></i>&nbsp; Like</span>
                                </div>
                                <div>
                                  <span>
                                    <i class="fa fa-comment-o"></i>&nbsp; Comment</span>
                                </div>
                                <div>
                                  <span>
                                    <i class="fa fa-share"></i>&nbsp; Share</span>
                                </div>
                                <div>
                                  <span>
                                    <i class="fa fa-ellipsis-v"></i>
                                  </span>
                                </div>
                              </div>
                              <br/>
                            </mat-card-actions>
                            <mat-card-header>
                              <div mat-card-avatar class="d-inline example-header-image"></div>
                              <input class="d-inline input-commet" type="text" placeholder="Comment">
                            </mat-card-header>
                          </mat-card>
                        </li>
                      </ul>
                    </div>
                  </div>
                <div class="col-md-4" style="margin-left:0;overflow-y:scroll;height:600px;">              
                    <div class="social-card">
                      <div class="nav-social" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="social-cards-header">
                          <h6>Mentions</h6>
                        </div>
                        <div class="social-cards-header-icnons d-inline">
                          <div fxLayout="row" fxLayoutGap="1rem">
                            <i class="fa fa-search"></i>
                            <i class="fa fa-repeat"></i>
                            <i class="fa fa-ellipsis-v"></i>
                          </div>
                        </div>
                      </div>
                      <ul style="margin-left:-35px">
                        <li>
                          <mat-card class="example-card">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Shiba Inu</mat-card-title>
                              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                              <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                              </p>
                            </mat-card-content>
                            <div class="social-image">
                              <img mat-card-image src="../assets/profile_user.jpg" alt="Photo of a Shiba Inu">
                            </div>
                            <mat-card-actions>
                              <div class="social-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                  <span>
                                    <i class="fa fa-thumbs-o-up"></i>&nbsp; Like</span>
                                </div>
                                <div>
                                  <span>
                                    <i class="fa fa-comment-o"></i>&nbsp; Comment</span>
                                </div>
                                <div>
                                  <span>
                                    <i class="fa fa-share"></i>&nbsp; Share</span>
                                </div>
                                <div>
                                  <span>
                                    <i class="fa fa-ellipsis-v"></i>
                                  </span>
                                </div>
                              </div>
                              <br/>
                            </mat-card-actions>
                            <mat-card-header>
                              <div mat-card-avatar class="d-inline example-header-image"></div>
                              <input class="d-inline input-commet" type="text" placeholder="Comment">
                            </mat-card-header>
                          </mat-card>
                        </li>
                      </ul>
                    </div>
                  </div>
           
              
            </div>
          </mat-tab>
          <mat-tab label="Twitter">Twitter</mat-tab>
          <mat-tab label="Instagram">Instagram</mat-tab>
          <mat-tab label="YouTube">YouTube</mat-tab>
      </mat-tab-group>
    </div>
    <div style="position:relative;z-index:999;top:5px;right:15px;right:100px;">
        <div class="btn-group">
            <button type="button" class="btn-filter  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter
            </button>
            <div style="line-height:2" class="dropdown-menu">
              <span class="dropdown-item"></span>
              <span class="dropdown-item"> <input type="checkbox">&nbsp;&nbsp; Timelines</span>
              <span class="dropdown-item"> <input type="checkbox">&nbsp;&nbsp; Mentions</span>
              <span class="dropdown-item"> <input type="checkbox">&nbsp;&nbsp; Likes</span>
              <span class="dropdown-item"> <input type="checkbox">&nbsp;&nbsp; Shares</span>
              <span class="dropdown-item"> <input type="checkbox">&nbsp;&nbsp; Comments</span>
            </div>
        </div>
    </div>
</div>
