
<div fxLayout="column" fxLayoutGap="15px">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="center center" class="group_btns" data-toggle="buttons">
          <button  name="options" id="option1" autocomplete="off" checked (click)="addSocialStreem()">
        Add Stream
      </button>
      <button name="options" id="option2" autocomplete="off">
        Add Social Network
      </button>
    </div>
    <div [ngClass]="highLighted" class="new-postt-box" fxLayout="row" fxLayoutAlign="space-between center">
      <span fxFlex class="d-inline">
        <span class="icons-default">
          <img src="../assets/social/new-post-normal@3x.png" class="d-inline" />
        </span>&nbsp;
        <input class="d-inline" (click)="openmessageComposeDialog()" fxFlex="90" type="text" placeholder="New Post">
      </span>
      <div fxLayout="row" fxLayoutGap="1rem">
        <span class="icons-default">
          <img src="../assets/social/emoji-icon-default@3x.png" />
        </span>
        <span class="icons-default">
          <img src="../assets/social/image-icon-default@3x.png" />
        </span>
        <span class="icons-default">
          <img class="img3" src="../assets/social/video-icon-default@3x.png" />
        </span>
        <span class="icons-default">
          <img class="img4" src="../assets/social/location-icon-default@3x.png" />
        </span>
      </div>
    </div>
    <div fxLayoutAlign="center center" class="group_btns" data-toggle="buttons">
      <button class="" name="options" id="option1" autocomplete="off" checked>
        <img src="../assets/social/grid-view-icon-normal@3x.png" class="img5">
      </button>
      <button class="" name="options" id="option2" autocomplete="off">
        <img src="../assets/social/list-view-icon-active@3x.png" class="img6">
      </button>
    </div>
  </div>
  <div class="social-tabs-hub" fxLayout="column">
    <div class="social-tabs">
      <mat-tab-group class="posts-card-row" [selectedIndex]="selectedIndex" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Facebook">
          <br/>
          <app-facebook *ngIf="FbLongLivedToken && userAccountId" [FbLongLivedToken]="FbLongLivedToken"></app-facebook>
        </mat-tab>
        <mat-tab label="Twitter">
            <br/>
          <app-twitter></app-twitter>
        </mat-tab>
        <mat-tab label="Instagram">Instagram</mat-tab>
        <mat-tab label="YouTube">YouTube</mat-tab>
      </mat-tab-group>
    </div>
    <div class="pos-streams">
      <div class="btn-group">
        <button type="button" class="btn-filter  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Streams
        </button>
        <div class="filter-items dropdown-menu" (click)="$event.stopPropagation();">
          <span class="dropdown-item">Streams
            <span class="pull-right">
              <i class="fa fa-angle-up"></i>
            </span>
          </span>
          <label class="dropdown-item">
            <input class="Check-box-normal" type="checkbox">&nbsp;&nbsp; Dasyam Vinay Bhaskar</label>
          <label class="dropdown-item">
            <input class="Check-box-normal" type="checkbox">&nbsp;&nbsp; Dasyam Abhinav Bhaskar</label>
          <label class="dropdown-item">
            <input class="Check-box-normal" type="checkbox">&nbsp;&nbsp; Dasyam Official</label>
          <label class="dropdown-item">
            <input class="Check-box-normal" type="checkbox">&nbsp;&nbsp; Art Republiq</label>
          <label class="dropdown-item">
            <input class="Check-box-normal" type="checkbox">&nbsp;&nbsp; Valmiki Warangal</label>
          <label class="dropdown-item">
            <input class="Check-box-normal" type="checkbox">&nbsp;&nbsp; ICICI South</label>
        </div>
      </div>
    </div>
    <div class="pos-filter">
      <div class="btn-group">
        <button type="button" class="btn-filter  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter
        </button>
        <div class="filter-items dropdown-menu" (click)="$event.stopPropagation();">
          <span class="dropdown-item">Filters
            <span class="pull-right">
              <i class="fa fa-angle-up"></i>
            </span>
          </span>
          <label class="dropdown-item">
            <input class="Check-box-normal" type="checkbox">&nbsp;&nbsp; Timelines</label>
          <label class="dropdown-item">
            <input class="Check-box-normal" type="checkbox">&nbsp;&nbsp; Mentions</label>
          <label class="dropdown-item">
            <input class="Check-box-normal" type="checkbox">&nbsp;&nbsp; Likes</label>
          <label class="dropdown-item">
            <input class="Check-box-normal" type="checkbox">&nbsp;&nbsp; Shares</label>
          <label class="dropdown-item">
            <input class="Check-box-normal" type="checkbox">&nbsp;&nbsp; Comments</label>
        </div>
      </div>
    </div>
  </div>
</div>