<div class=" page_padding database" fxLayout="column" fxLayoutGap="15px">

  <div class="example-header" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center">
    <div class="item_count">
      <p>Total Items: {{dataCount}}</p>
    </div>
    <div fxLayout="row" fxLayoutGap="15px">
      <div>
        <button class="choose_button" (click)="generateCSV()">
          Export as CSV
        </button>
      </div>
      <div class="custom_input_mat">
        <mat-form-field class="select_dropdown">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="database_table" [perfectScrollbar]="config">
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element; let i=index;"> {{i+1}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <!-- Phone Number Column -->
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="sendMail-data form-group">
      <div fxLayout="row" fxLayoutGap="15px" >
        <div class="input_box p-rel">
          <input id="email" placeholder="Enter email" email="true" [(ngModel)]="postEmailValue">
          <!-- <div  class="form-error-msg">
            enter valid email
          </div> -->
        </div>
        <div>
          <button mat-button class="button_submit" (click)="sendEmail()">Send As Email</button>
        </div>
      </div>
    </div>
    <!-- Paginator  -->
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>

</div>
