<ng4-loading-spinner></ng4-loading-spinner>
<ngx-alerts maxMessages="3" timeout="5000">
</ngx-alerts>
<div class="profile_block" fxLayoutAlign="center center">
  <div class="profile_logo">
    <!-- Logo View Block -->
    <div *ngIf="!isEdit">
      <div class="profile_header">
        <h3 class="header_title">Logo Properties</h3>
      </div>
      <div class="profile_body" fxLayout="row" fxLayoutGap="40px">
        <div class="profile_img">
          <div fxLayoutAlign="center center" class="logo-img">
            <span *ngIf="!logoItems?.logo_url_path">
              <img src="../assets/default_logo.png" class="img-fluid">
            </span>
            <img *ngIf="logoItems?.logo_url_path" alt="upload image" class="figure img-fluid" src="data:image/png;base64,{{logoItems.logo_url_path}}">
          </div>
          <div class="upload-logo">
            <input mat-raised-button type="file" (change)="onFileChange($event)" accept=".jpg, .png, .jpeg" #fileInput>
            <p *ngIf="!logoItems?.logo_url_path" class="hover-upload">Upload Logo Image</p>
            <p *ngIf="logoItems?.logo_url_path" class="hover-upload">Update Logo Image</p>
            <button *ngIf="logoItems?.logo_url_path" class="delete_logo" matTooltip="Delete Image" matTooltipPosition="right" (click)="onDelete()">
              <i class="fa fa-times"></i>
            </button>
            <div class="bg-layer"></div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="40" fxLayoutGap="25px">
          <!-- Logo Text-->
          <div fxLayout="column">
            <label>Logo Text</label>
            <p>{{logoItems?.logo_text}}</p>
          </div>
          <!-- Logo Alt Text -->
          <div fxLayout="column">
            <label>Logo Caption</label>
            <p>{{logoItems?.logo_caption}}</p>
          </div>
          <!-- Logo Width & Height -->
          <div fxLayout="row" class="logo-dimensions" fxLayoutGap="15px">
            <div fxLayout="column">
              <label>Width</label>
              <p>{{logoItems?.logo_width}}</p>
            </div>
            <div fxLayout="column">
              <label>Height</label>
              <p>{{logoItems?.logo_height}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="profile_footer" fxLayoutAlign="end center">
        <!-- <button mat-raised-button class="logoCtrl_button" (click)="editLogo()">Edit Logo</button> -->
        <button mat-raised-button class="logoCtrl_button" (click)="EditInfo()">Edit</button>
      </div>
    </div>
    <!-- //.. Logo View Block -->

    <!-- Logo Edit Block -->
    <form *ngIf="isEdit" [formGroup]="form" (submit)="onSubmit(form.value)">
      <!-- Header -->
      <div class="profile_header">
        <h3 class="header_title">Logo Properties</h3>
      </div>
      <div class="profile_body" fxLayout="row" fxLayoutGap="40px">
        <div class="" fxLayout="column" fxLayoutGap="20px">
          <!-- Logo Image Upload -->
          <div class="profile_img">
            <div fxLayoutAlign="center center" class="logo-img">
              <span *ngIf="!logoItems?.logo_url_path">
                <img src="../assets/default_logo.png" class="img-fluid">
              </span>
              <img *ngIf="logoItems?.logo_url_path" alt="upload image" class="figure img-fluid" src="data:image/png;base64,{{logoItems.logo_url_path}}">
            </div>
            <div class="upload-logo">
              <!-- <input mat-raised-button type="file"  (change)="onFileChange($event)" #fileInput> -->
              <p *ngIf="!logoItems?.logo_url_path" class="hover-upload">Upload Logo Image</p>
              <p *ngIf="logoItems?.logo_url_path" class="hover-upload">Update Logo Image</p>
              <input mat-raised-button type="file" (change)="onFileChange($event)" accept=".jpg, .png, .jpeg" #fileInput>
              <button *ngIf="logoItems?.logo_url_path" class="delete_logo" matTooltip="Delete Image" matTooltipPosition="right" (click)="onDelete()">
                <i class="fa fa-times"></i>
              </button>
              <div class="bg-layer"></div>
            </div>
          </div>
          <!-- Logo File Details -->
          <div class="logo-details">
            <p class="file_Name">flujo_logo.svg</p>
            <p class="file_Prop">Original : {{logoItems?.logo_width}} px x {{logoItems?.logo_height}} px</p>
          </div>
        </div>
        <div fxLayout="column" fxFlex="40" fxLayoutGap="25px">
          <!-- Logo Text-->
          <div fxLayout="column">
            <label>Logo Text</label>
            <input type="text" formControlName="logo_text" id="logo_text" placeholder="Enter Logo Text">
          </div>
          <!-- Logo Alt Text -->
          <div fxLayout="column">
            <label>Logo Caption</label>
            <input type="text" placeholder="Enter Alt Text" id="logo_caption" formControlName="logo_caption">
          </div>
          <!-- Logo Width & Height -->
          <div fxLayout="row" class="logo-dimensions" fxLayoutGap="15px">
            <div fxLayout="column">
              <label>Width</label>
              <input type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" id="logo_width"
                placeholder="Logo width" formControlName="logo_width">
            </div>
            <div fxLayout="column">
              <label>Height</label>
              <input type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" id="logo_height"
                placeholder="Logo height" formControlName="logo_height">
            </div>
          </div>
        </div>
      </div>
      <!-- Save Button -->
      <div class="profile_footer" fxLayoutAlign="end center">
        <!-- <p>You can also resize and position logo, when you are in visual editor</p> -->
        <button mat-button class="logoCtrl_button cancel" (click)="cancelFileEdit()">Cancel</button>
        <button mat-button class="logoCtrl_button" [disabled]="form.invalid || loadingSave">Save</button>
        <!-- <button mat-button class="logoCtrl_button" (click)="onDelete(form.value)" [disabled]="form.invalid || loadingSave">Delete</button> -->
      </div>
    </form>
    <!-- //.. Logo Edit Block -->
  </div>
</div>
