<div>
  <ngx-alerts maxMessages="3" timeout="5000">
    <strong>{{successMessage }}</strong>
  </ngx-alerts>
  <!-- ==== Logo Edit Block ===== -->
  <form *ngIf="isEdit" fxFlex fxLayout="column" fxLayoutGap="30px" class="logo-edit" [formGroup]="form" (submit)="onSubmit(form.value)">
    <div fxFlex>
      <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex>
          <div class="form-group" fxLayout="row">
            <label for="logo_text">Logo Text</label>
            <input fxFlex type="text" class="form-control" id="logo_text" placeholder="Logo text" formControlName="logo_text">
          </div>
          <div class="form-group" fxLayout="row">
            <label for="logo_caption">Logo caption</label>
            <input fxFlex type="text" class="form-control" id="logo_caption" placeholder="Logo caption" formControlName="logo_caption">
          </div>
          <div class="form-group" fxLayout="row">
            <label for="logo_height">Logo height</label>
            <input fxFlex type="text" class="form-control" id="logo_height" placeholder="Logo height" formControlName="logo_height">
          </div>
          <div class="form-group" fxLayout="row">
            <label for="logo_width">Logo width</label>
            <input fxFlex type="text" class="form-control" id="logo_width" placeholder="Logo width" formControlName="logo_width">
          </div>
        </div>
        <div>
          <div *ngIf="logoItems.logo_url_path" class="logo-image">
            <label for="avatar">Existing Logo</label>
            <img *ngIf="logoItems.logo_url_path" alt="upload image" class="figure img-fluid" src="data:image/png;base64,{{logoItems.logo_url_path}}">
            <br>
          </div>
          <br>
          <label for="avatar">Choose Logo</label>

          <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
          <br>
          <button type="button" mat-raised-button class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
        </div>
      </div>
    </div>
    <div fxFlex class="text-center logo-actionButtons">
      <button type="submit" mat-raised-button color="accent" [disabled]="form.invalid || loadingSave">{{button_text}}
        <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loadingSave"></i>
      </button>
      <button mat-raised-button (click)="onDelete(form.value)" color="warn" [disabled]="form.invalid || loadingDelete">Delete
        <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loadingDelete"></i>
      </button>
    </div>
  </form>
  <!-- ==== Logo View Form ===== -->
  <div *ngIf="!isEdit" fxFlex>
    <div *ngIf="logoItems" class="properties-viewBlock" fxLayout="column" fxLayoutGap="15px">
      <div class="view-block" fxLayout="row" fxLayoutGap="30px">
        <h3>Logo Text</h3>
        <p>{{logoItems.logo_text}}</p>
      </div>
      <div class="view-block" fxLayout="row" fxLayoutGap="30px">
        <h3>Logo Caption</h3>
        <p>{{logoItems.logo_caption}}</p>
      </div>
      <div class="view-block" fxLayout="row" fxLayoutGap="30px">
        <h3>Logo Height</h3>
        <p>{{logoItems.logo_height}}</p>
      </div>
      <div class="view-block" fxLayout="row" fxLayoutGap="30px">
        <h3>Logo Width</h3>
        <p>{{logoItems.logo_width}}</p>
      </div>
      <button mat-raised-button class="edit-button" (click)="EditInfo()">Edit</button>
    </div>

  </div>
  <!-- ==== Logo View Logo ===== -->
  <div *ngIf="!isEdit" fxFlex class="logo-align">
    <div *ngIf="logoItems" class="logo-image">
      <span *ngIf="!logoItems.logo_url_path">no image</span>
      <img *ngIf="logoItems.logo_url_path" alt="upload image" class="figure img-fluid" src="data:image/png;base64,{{logoItems.logo_url_path}}"> </div>
    <!-- <button mat-button colspan="2" (click)="editLogo()">Edit Logo</button> -->
    <!-- <button class="mt-5 btn btn-primary" colspan="2" (click)="editLogo()">Edit Logo</button> -->
    <br>
    <button mat-raised-button class="edit-button pull-left" (click)="editLogo()">Edit Logo</button>
  </div>
</div>
