<ng4-loading-spinner></ng4-loading-spinner>
<div class="analytics_block" fxLayout="column" fxLayoutGap="25px">
  <!-- Analytics Header -->
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <div fxLayout="row" fxFlex="40" fxLayoutGap="10px" fxLayoutAlign="start center">
      <h6 class="analytics">Analytics</h6>
      <input type="date">
    </div>
    <div fxFlex fxLayoutAlign="start center" class="text-center button-group">
      <button class="btn btn-outline-secondary btn-start" (click)="timeChange('option1')" name="options" id="option1" autocomplete="off">Today</button>
      <button class="btn btn-outline-secondary btn-options" (click)="timeChange('option2')" name="options" id="option2" [ngClass]="{'active':isActive}"
        autocomplete="off"> Week</button>
      <button class="btn btn-outline-secondary btn-options" (click)="timeChange('option3')" name="options" id="option3" autocomplete="off">
        Month</button>
      <button class="btn btn-outline-secondary btn-options" (click)="timeChange('option4')" name="options" id="option4" autocomplete="off">
        Quarter</button>
      <button class="btn btn-outline-secondary btn-end" (click)="timeChange('option5')" name="options" id="option5" autocomplete="off">
        Year</button>
    </div>
  </div>
  <!-- ..// Analytics Header -->

  <div class="divide-line"></div>
  <div class="problem-header">
    <h6>Problem Category</h6>
  </div>
  <div fxLayout="row" fxLayoutGap="1rem" class="problems" [perfectScrollbar]="config">
    <div class="" *ngFor="let problem of problem_category">

      <mat-card class="example-card">
        <mat-card-content>

          <div fxLayout="column" fxLayoutGap="1rem">
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <div class="solved">{{problem.completed}}</div>
              <div class="pending">{{problem.unresolved}}</div>
            </div>
            <div fxLayout="column" fxLayoutAlign="end center">
              <div class="tproblems" fxFlex>{{problem.count}}</div>
              <div class="category" fxFlex>{{problem.category}}</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <br>
    </div>
    
  </div>
</div>
<!-- ..// Problem Cards -->

<!-- ======= Charts Cards ======== -->
<div fxLayout="column" fxLayoutGap="15px">
  <div fxLayout="row" fxLayoutGap="15px">
    <div fxFlex class="chart_card">
      <div class="cart_header" fxLayout="row" fxLayoutAlign="space-between ">
        <h3 class="title">Gender</h3>
        <i class="fa fa-ellipsis-v"></i>
      </div>
      <div class="chart_body">

      </div>
      <div class="chart_footer" fxLayout="row" fxLayoutGap="30px">
        <h3 class="chart_item fmale">Female</h3>
        <h3 class="chart_item male">Male</h3>
      </div>
    </div>

    <div fxFlex class="chart_card">
      <div class="cart_header" fxLayout="row" fxLayoutAlign="space-between ">
        <h3 class="title">Assign</h3>
        <i class="fa fa-ellipsis-v"></i>
      </div>
      <div class="chart_body">

      </div>
      
    </div>
    <div fxFlex class="chart_card">
      <div class="cart_header" fxLayout="row" fxLayoutAlign="space-between ">
        <h3 class="title">Age</h3>
        <i class="fa fa-ellipsis-v"></i>
      </div>
      <div class="chart_body">
          <app-charts-age-pie></app-charts-age-pie>
      </div>
      <div class="chart_footer">

      </div>
    </div>
  </div>
  <div class="rect_card" fxLayout="row" fxLayoutGap="15px">
    <div fxFlex class="chart_card">
      <div class="cart_header" fxLayout="row" fxLayoutAlign="space-between ">
        <h3 class="title">Status</h3>
        <i class="fa fa-ellipsis-v"></i>
      </div>
      <div class="chart_body">
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div fxFlex class="chart_card">
      <div class="cart_header" fxLayout="row" fxLayoutAlign="space-between ">
        <h3 class="title">Locality</h3>
        <i class="fa fa-ellipsis-v"></i>
      </div>
      <div class="chart_body">

      </div>
    </div>
  </div>
</div>
<h2>Options</h2>
<p>
  <mat-form-field color="accent">
    <mat-label>Min date</mat-label>
    <input matInput [matDatepicker]="minDatePicker" [(ngModel)]="minDate"
        [disabled]="inputDisabled">
    <mat-datepicker-toggle matSuffix [for]="minDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #minDatePicker [touchUi]="touch" [disabled]="datepickerDisabled"></mat-datepicker>
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>Max date</mat-label>
    <input matInput [matDatepicker]="maxDatePicker" [(ngModel)]="maxDate"
        [disabled]="inputDisabled">
    <mat-datepicker-toggle matSuffix [for]="maxDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #maxDatePicker [touchUi]="touch" [disabled]="datepickerDisabled"></mat-datepicker>
  </mat-form-field>
</p>