<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar" value=""></mat-progress-bar>
<ngx-alerts maxMessages="3" timeout="5000"></ngx-alerts>
<div class="mailing_list_block">
  <h1 class="header">
    Mail campaigns
  </h1>
  <div class="form_container">
    <div class="mailist_form">
      <form enctype="single/form-data" [formGroup]="fileUploadForm">
        <div class="form_details">
          <div class="form__field">
            <mat-form-field class="input_fields">
              <mat-select formControlName="campaign_address" placeholder="Select Campaign List">
                <mat-option *ngFor="let campaign of campaignListDetails" [value]="campaign.address">{{campaign.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <div>
              <button (click)="downLoadCsvFormat()">Download Csv format</button>
            </div>
          </div>
          <div class="form__field">
            <div class="input_fields">
              <input class="upload_csv" accept=".csv" type="file" (change)="onFileChange($event)" />
            </div>
            <!-- or
            <mat-form-field class="input_fields">
              <mat-select placeholder="Select from DB" formControlName="database">
                <mat-option *ngFor="let database of databases" [value]="database.database">{{database.name}}</mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>
        </div>
        <div class="submit_list input_fields">
          <button (click)="submitFile()" [disabled]="fileUploadForm.invalid" mat-raised-button>
            Save & Send emails
          </button>
        </div>
      </form>
    </div>
  </div>
</div>