<mat-tab-group #tabGroup>
  <mat-tab label="Create Domain">
    <app-create-domain></app-create-domain>
  </mat-tab>
  <mat-tab label="Add Domain">
    <app-add-domains></app-add-domains>
  </mat-tab>
  <mat-tab label="List Of Domains">
    <app-list-of-domains></app-list-of-domains>
  </mat-tab>
  <mat-tab label="Deployments">
    <app-domain-deployments></app-domain-deployments>
  </mat-tab>
  <mat-tab label="List Of Certificates">
    <app-certificates></app-certificates>
  </mat-tab>
</mat-tab-group>
