<ng4-loading-spinner></ng4-loading-spinner>
<ngx-alerts maxMessages="3" timeout="5000">
  <strong>{{successMessage }}</strong>
</ngx-alerts>

<div class="profile_block" fxLayoutAlign="center center">
  <div class="profile_logo">
    <!-- Logo View Block -->
    <div *ngIf="!isEdit">
      <div class="profile_header">
        <h3 class="header_title">Logo Properties</h3>
      </div>
      <div class="profile_body" fxLayout="row" fxLayoutGap="40px">
        <div class="profile_img">
          <div fxLayoutAlign="center center" class="logo-img">
            <span *ngIf="!profileData.avatar">no image</span>
            <img fxLayoutAlign="center center" *ngIf="profileData.avatar" class="figure img-fluid" src="data:image/png;base64,{{profileData.avatar}}">
          </div>
          <div class="upload-logo">
            <div class="custom-file">
              <button mat-raised-button (click)="editLogo()">Edit Logo</button>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="40" fxLayoutGap="25px">
          <div fxLayout="column">
            <label>Company Name</label>
            <p>{{profileData.company_name}}</p>
          </div>
          <div fxLayout="column">
            <label>Website URL</label>
            <p>{{profileData.website_url}}</p>
          </div>
          <div fxLayout="column">
            <label>Mobile Number</label>
            <p>{{profileData.mobile_number}}</p>
          </div>
        </div>
      </div>
      <div class="profile_footer" fxLayoutAlign="end center">
        <button mat-raised-button class="logoCtrl_button" (click)=EditProfileData()>Edit</button>
      </div>
    </div>
    <!-- //.. Logo View Block -->
<!-- ==== Profile View Block ==== -->
<div *ngIf="!isEdit" class="profileView-block">
  <div *ngIf="profileData" fxLayout="column" fxFlex="40%" fxLayoutGap="30px">
    <div class="item-block" fxLayout="row" fxLayoutGap="30px">
      <h3>Company Name:</h3>
      <p>{{profileData.company_name}}</p>
    </div>
    <div class="item-block" fxLayout="row" fxLayoutGap="30px">
      <h3>Website URL:</h3>
      <p>{{profileData.website_url}}</p>
    </div>
    <div class="item-block" fxLayout="row" fxLayoutGap="30px">
      <h3>Mobile Number:</h3>
      <p>{{profileData.mobile_number}}</p>
    </div>
    <button (click)=EditProfileData() mat-raised-button class="edit-button">Edit</button>
    </div>
    <div fxLayout="column" fxFlex="50%">
      <div fxLayout="row" class="item-block">
        <h3>Avatar:</h3>
        <span *ngIf="!profileData?.avatar">no image</span>
        <div fxLayout="row" class="defaultavatar">
          <img fxLayoutAlign="center center" *ngIf="profileData?.avatar" class="figure img-fluid" src="data:image/png;base64,{{profileData.avatar}}">
          <!-- <button (click)=EditProfileData()  class="hoverbuttons">
              <i class="fa fa-edit"></i>
    <!-- Logo Edit Block -->
    <form *ngIf="isEdit" [formGroup]="form" (submit)="onSubmit(form.value)">
      <!-- Header -->
      <div class="profile_header">
        <h3 class="header_title">Logo Properties</h3>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </div>
      <div class="profile_body" fxLayout="row" fxLayoutGap="40px">
        <div class="" fxLayout="column" fxLayoutGap="20px">
          <!-- Logo Image Upload -->
          <div class="profile_img">
            <div fxLayoutAlign="center center" class="logo-img">
              <img *ngIf="profileData.avatar" src="data:image/png;base64,{{profileData.avatar}}" alt="Logo" class="img-fluid">
            </div>
            <div class="upload-logo">
              <div class="custom-file">
                <button mat-raised-button class=""> Upload Your File</button>
                <input mat-raised-button type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
              </div>
            </div>
          </div>
          <!-- Logo File Details -->
          <div class="logo-details">
            <p class="file_Name">flujo_logo.svg</p>
            <p class="file_Prop">Original : 48 px x 48 px</p>
            <p class="file_Prop">3 kb</p>
          </div>
        </div>
        <div fxLayout="column" fxFlex="40" fxLayoutGap="25px">
          <div fxLayout="column">
            <label>Company Name</label>
            <input type="text" id="company_name" placeholder="company name" formControlName="company_name">
          </div>
          <div fxLayout="column">
            <label>Website URL</label>
            <input type="text" id="website_url" placeholder="website URL" formControlName="website_url">
          </div>
          <div fxLayout="column">
            <label>Mobile Number</label>
            <input type="text" id="mobile_number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
              maxlength="10" placeholder="Mobile Number" formControlName="mobile_number">
          </div>
        </div>
      </div>
      <!-- Save Button -->
      <div class="profile_footer" fxLayoutAlign="end center">
        <!-- <p>You can also resize and position logo, when you are in visual editor</p> -->
        <button mat-button class="logoCtrl_button" (click)="cancelFileEdit()">Cancel</button>
        <button mat-button class="logoCtrl_button" [disabled]="form.invalid || loading">Update
          <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
        </button>
        <button mat-button class="logoCtrl_button"  (click)="onDelete(form.value)" [disabled]="form.invalid || loading">Delete
          <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
        </button>
      </div>
    </form>
    <!-- //.. Logo Edit Block -->
  </div>
</div>
