<ng4-loading-spinner></ng4-loading-spinner>
<ngx-alerts maxMessages="3" timeout="5000">
  <strong>{{successMessage}}</strong>
</ngx-alerts>

<div class="profile_block" fxLayoutAlign="center center">
  <div class="profile_logo">
    <!-- Logo View Block -->
    <div *ngIf="!isEdit">
      <div class="profile_header">
        <h3 class="header_title">Profile Properties</h3>
      </div>
      <div class="profile_body" fxLayout="row" fxLayoutGap="40px">
        <div class="profile_img">
          <div fxLayoutAlign="center center" class="logo-img">
            <span *ngIf="!profileItems?.avatar">
              <img src="../assets/default_logo.png" class="img-fluid">
            </span>
            <img fxLayoutAlign="center center" *ngIf="profileItems?.avatar" class="figure img-fluid" src="data:image/png;base64,{{profileItems.avatar}}">
          </div>
          <div class="upload-logo">
            <input mat-raised-button type="file" id="avatar" accept=".jpg, .png, .jpeg" (change)="onFileChange($event)" #fileInput>
            <p *ngIf="!profileItems?.avatar" class="hover-upload">Upload Your Image</p>
            <p *ngIf="profileItems?.avatar" class="hover-upload">Update Your Image</p>
            <button *ngIf="profileItems?.avatar" class="delete_logo" matTooltip="Delete Profile Pic" matTooltipPosition="right" (click)="onDelete()">
              <i class="fa fa-times"></i>
            </button>
            <div class="bg-layer"></div>
          </div>
        </div>
        <div *ngIf="profileItems" fxLayout="column" fxFlex="40" fxLayoutGap="25px">
          <div fxLayout="column">
            <label>Company Name</label>
            <p>{{profileItems.company_name}}</p>
          </div>
          <div fxLayout="column">
            <label>Website URL</label>
            <p>{{profileItems.website_url}}</p>
          </div>
          <div fxLayout="column">
            <label>Mobile Number</label>
            <p>{{profileItems.mobile_number}}</p>
          </div>
          <div fxLayout="column">
            <label>Email</label>
            <p>{{profileItems.email}}</p>
          </div>
        </div>
      </div>
      <div class="profile_footer" fxLayoutAlign="end center">
        <button mat-raised-button class="button_submit" (click)=EditInfo()>Edit</button>
      </div>
    </div>
    <!-- //.. Logo View Block -->
    <!-- Logo Edit Block -->
    <form *ngIf="isEdit" [formGroup]="form" (submit)="onSubmit(form.value)">
      <!-- Header -->
      <div class="profile_header">
        <h3 class="header_title">Profile Properties</h3>
        <!-- <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <span>Disable alerts</span>
          </button>
        </mat-menu> -->
      </div>
      <div class="profile_body" fxLayout="row" fxLayoutGap="40px">
        <div class="" fxLayout="column" fxLayoutGap="20px">
          <!-- Logo Image Upload -->
          <div class="profile_img">
            <div fxLayoutAlign="center center" class="logo-img">
              <span *ngIf="!profileItems?.avatar">
                <img src="../assets/default_logo.png" class="img-fluid">
              </span>
              <img *ngIf="profileItems.avatar" src="data:image/png;base64,{{profileItems.avatar}}" alt="Logo" class="img-fluid">
            </div>
            <div class="upload-logo">
              <input mat-raised-button type="file" id="avatar" accept=".jpg, .png, .jpeg" (change)="onFileChange($event)" #fileInput>
              <p *ngIf="!profileItems?.avatar" class="hover-upload">Upload Your Image</p>
              <p *ngIf="profileItems?.avatar" class="hover-upload">Update Your Image</p>
              <button *ngIf="profileItems?.avatar" class="delete_logo" matTooltip="Delete Profile Pic" matTooltipPosition="right" (click)="onDelete()">
                <i class="fa fa-times"></i>
              </button>
              <div class="bg-layer"></div>
            </div>
          </div>
          <!-- Logo File Details -->
          <!-- <div class="logo-details">
            <p class="file_Name">flujo_logo.svg</p>
            <p class="file_Prop">Original : 48 px x 48 px</p>
            <p class="file_Prop">3 kb</p>
          </div> -->
        </div>
        <div fxLayout="column" fxFlex="40" fxLayoutGap="25px">
          <div fxLayout="column">
            <label>Company Name</label>
            <input type="text" id="company_name" placeholder="company name" formControlName="company_name">
          </div>
          <div fxLayout="column">
            <label>Website URL</label>
            <input type="text" id="website_url" placeholder="website URL" formControlName="website_url">
          </div>
          <div fxLayout="column">
            <label>Mobile Number</label>
            <input type="text" id="mobile_number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
              maxlength="10" placeholder="Mobile Number" formControlName="mobile_number">
          </div>
          <div fxLayout="column" class="p-rel">
            <label>Email</label>
            <input type="email" id="email" placeholder="Email" formControlName="email">
            <div fxLayoutAlign="start" [hidden]="form.controls.email.valid || form.controls.email.pristine && !submitted" class="form-error-msg">
                Valid Email is required
            </div>
          </div>
        </div>
      </div>
      <!-- Save Button -->
      <div class="profile_footer" fxLayoutAlign="end center">
        <!-- <p>You can also resize and position logo, when you are in visual editor</p> -->
        <button mat-button class="button_cancel" (click)="cancelFileEdit()">Cancel</button>
        <button mat-button class="button_submit" [disabled]="form.invalid || loading">Update
          <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
        </button>
        <!-- <button mat-button class="logoCtrl_button" (click)="onDelete(form.value)" [disabled]="form.invalid || loading">Delete</button> -->
      </div>
    </form>
    <!-- //.. Logo Edit Block -->
  </div>
</div>
