<ng4-loading-spinner></ng4-loading-spinner>


<div class="" ng-show="successMessagebool ">
  <ngx-alerts maxMessages="3" timeout="5000">
  </ngx-alerts>
</div>

<form role="form" [formGroup]="createEmailTemplateForm" class="admin-form">
  <div fxLayout="column" fxLayoutGap="15px">
    <div>
      <div fxLayout="row" fxLayoutGap="50px">
        <div fxFlex class="input_box" fxLayout="column" fxLayoutGap="0">
          <label>Template Category</label>
          <mat-form-field class="example-full-width">
            <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div fxFlex>
          <div>
            <div class="input_box" fxLayout="column" fxLayoutGap="15px">
              <label>Template Name</label>
              <input type="text" formControlName="template_name" [value]="" placeholder="Enter template name">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="13px">
      <label>Edit Template</label>
      <div>
        <div id="gjs"></div>
      </div>
    </div>
    <br/>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between ">
    <div>
      <button type="button" routerLink="../emailconfiguration" class="button_cancel">Cancel</button>
    </div>
    <div>
      <button type="button" (click)="submitTemplate()" class="button_submit">Submit</button>
    </div>
  </div>
</form>