<div class="message-compose-pop" fxLayout="row">
    <div class="col-list-accounts" fxLayout="column" fxFlex="37">
        <div fxLayout="row">
            <ul fxFlex="100%">
                <li fxLayoutAlign="space-between center" *ngFor="let twitUser of data.data">
                    <label class="d-inline">
                        <input class="Check-box-normal" (change)="onCheckEvent($event)" type="checkbox">&nbsp;&nbsp;{{twitUser.screen_name}}</label>
                    <span class="pull-right">

                        <i *ngIf="data.type == 'twitter'" class="fa fa-twitter"></i>
                        <i *ngIf="data.type == 'facebook' " class="fa fa-facebook"></i>
                    </span>
                </li>
                <li fxLayoutAlign="space-between center" *ngFor="let twitUser of data.data">
                    <label class="d-inline">
                        <input class="Check-box-normal" type="checkbox">&nbsp;&nbsp;{{twitUser.screen_name}}</label>
                    <span class="pull-right">

                        <i *ngIf="data.type == 'twitter'" class="fa fa-twitter"></i>
                        <i *ngIf="data.type == 'facebook' " class="fa fa-facebook"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <form fxLayout="column" [formGroup]="postStatusForm" fxFlex="63">
        <div fxLayout="column" fxLayoutGap="0.5rem" class="message-config-box">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="head-msg">
                    <p>Compose message</p>
                </div>
                <div class="account-target-count">
                    <p>3 accounts selected</p>
                </div>
            </div>
            <div fxFlex="75px" class="postt-msg" fxLayout="row" fxLayoutAlign="space-between center">
                <span fxFlex="100%" class="d-inline">
                    <textarea placeholder="Type here" rows="5" cols="55" formControlName="postStatus"></textarea>
                </span>
                <div class="emoji-stack" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="1rem">
                    <span class="icons-default">
                        <img src="../assets/social/emoji-icon-default@3x.png" />
                    </span>
                    <span class="icons-default">
                        <img src="../assets/social/image-icon-default@3x.png" />
                    </span>
                    <span class="icons-default">
                        <img class="img3" src="../assets/social/video-icon-default@3x.png" />
                    </span>
                    <span class="icons-default">
                        <img class="img4" src="../assets/social/location-icon-default@3x.png" />
                    </span>
                </div>
            </div>
            <br/>
            <div fxFlex="40px">
                <input fxFlex="100%" type="text" placeholder="Add Link(optional)">
            </div>
            <div fxLayout="column" fxFlex="200px">
                <div class="checkbox d-inline">
                    <label>
                        <input class="Check-box-normal" type="checkbox" (change)="scheduleCheckBox($event)" value="">&nbsp;&nbsp;Schedule Post</label>
                </div>
                <div class="date-schedule" *ngIf="doSchedule" fxLayout="row">
                    <div class="date-from">
                        <!-- <mat-form-field class="example-full-width">
                            <input class="date-from" matInput [matDatepicker]="picker1" (click)="picker1.open()" placeholder="From">
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field> -->
                        <!-- <div class="form-group">
                            <div class="input-group date" id='datetimepicker4'>
                                <input class="form-control date-from input-group-addon" a2e-datetimepicker date [(ngModel)]="startDate" [options]="startOptions" [ngModelOptions]="{standalone: true}"
                                    (ngModelChange)="update()" />
                            </div>
                        </div> -->
                        <!-- <input class="date-from" type="text"  (minimumdate)="true" (onlydatepicker)="false" id="startdate_id" appFlujodatepicker (datechange)="onStartDateChange($event)"> -->
                        <angular2-date-picker  class="" [(ngModel)]="date" [settings]="settings" [ngModelOptions]="{standalone: true}">
                        </angular2-date-picker>
                    </div>
                    <div class="date-to">
                        <!-- <mat-form-field class="example-full-width">
                            <input class="date-to" matInput [matDatepicker]="picker2" (click)="picker2.open()" placeholder="To">
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field> -->
                        <!-- <div class="form-group">
                            <div class="input-group date" id='datetimepicker4'>
                                <input class="form-control date-to input-group-addon" a2e-datetimepicker date [(ngModel)]="endDate" [options]="endOptions" [ngModelOptions]="{standalone: true}"
                                    (ngModelChange)="update()" />
                            </div>
                        </div> -->
                        <!-- <input class="date-to" type="text" id="startdate_id" appFlujodatepicker (datechange)="onStartDateChange($event)"> -->
                        <angular2-date-picker class="" [(ngModel)]="date" [settings]="settings" [ngModelOptions]="{standalone: true}">
                        </angular2-date-picker>
                    </div>
                </div><br/>
                <div>
                    <mat-select class="select_dropdown_mat" placeholder="Select Target Audience" required id="rolename">
                        <mat-option selected disabled>Select Target Audience</mat-option>
                        <mat-option class='option' value=""></mat-option>
                    </mat-select>
                </div>
                <br/>

            </div>
            <br/>
        </div>
        <div fxFlex="1.5px" class="hor-line"></div>
        <div fxFlex="55px" class="btn-stack-action" fxLayoutAlign="end end">
            <button class="button_cancel" mat-button (click)="closeDialog()">Cancel</button>
            <button class="button_submit pull-right" [disabled]="postStatusForm.invalid" (click)="postSocialStatus()">Save</button>
        </div>
    </form>
</div>

<!-- <script type="text/javascript">
    $(function() {              
       // Bootstrap DateTimePicker v4
       $('#datetimepicker4').datetimepicker({
             format: 'DD/MM/YYYY HH:mm',
             locale: 'fr', format: 'L LT',
             pickTime: true 
       });
    });      
</script> -->
<!-- <script>
    $(function() {
      $( "#appFlujodatepicker" ).datepicker();
    });
</script> -->