
<ng4-loading-spinner></ng4-loading-spinner>
<ngx-alerts maxMessages="3" timeout="5000">
  <!-- <strong>{{successMessage }}</strong> -->
</ngx-alerts>
<div fxLayout="column" class="page_padding">
  <!-- === Buttons ==== -->
  <!-- <div class="addview-buttons">
    <div class="page-header">
      <span *ngIf="isEdit">Terms & Conditions</span>
    </div>
    <button mat-raised-button color="primary" (click)="viewPagesGrid()">
      <i class="fa fa-th"></i>
      <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
    </button>
    <button mat-raised-button color="primary" (click)="viewPages()">
      <i class="fa fa-th-list"></i>
      <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
    </button>
    <button *ngIf="!isEdit" class="choose_button" mat-raised-button color="primary" (click)="addPages()">Create Terms & Conditions +</button>
  </div> -->

  <div fxLayout="row" fxLayoutAlign="space-between center" class="addview-buttons">
    <div *ngIf="isEdit" class="page-header">
        Terms &amp; Conditions
    </div>
    <div *ngIf="isGridView" class="main-category">
        Terms &amp; Conditions Grid View
    </div>
    <div></div>
    <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="end center">
      <button class="page_viewButton" (click)="viewPagesGrid()">
        <img src="./assets/grid-view-icon-active.png" />
      </button>
      <button class="page_viewButton" (click)="viewPages()">
        <img src="./assets/list-view-icon-normal.png" />
      </button>
      <button *ngIf="isButton" class="choose_button" (click)="addPages()">Create Terms & Conditions
        <span class="add_icon">
          <img src="../../assets/icons/create-icon-normal@3x.png" alt="+">
        </span>
      </button>
    </div>
  </div>

  <!-- ===== Add Pages ======= -->
  <div *ngIf="isEdit" class="add-pages">
    <form [formGroup]="tncSubmitForm" (submit)="onSubmit(tncSubmitForm.value)" fxLayout="column" fxLayoutGap="45px">
      <!-- Input PageDetails -->
      <div fxLayout="row" fxLayoutGap="15px">
        <div class="input_box" fxFlex fxLayout="column" fxLayoutGap="12px">
          <label for="title">Title</label>
          <input fxFlex type="text" class="input-feild" id="title" placeholder="Terms Title" formControlName="title">
        </div>
      </div>

      <!-- Module Description Block -->
      <div class="input_box" fxLayout="column" fxLayoutGap="12px">
        <label for="terms_conditions">Description</label>
        <ck-editor fxFlex name="editor1" formControlName="terms_conditions" skin="moono-lisa" lang="en" [fullPage]="true"></ck-editor>
        
      </div>
      <!-- Action Buttons -->
      <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="end center">
        <button (click)="cancelFileEdit()" class="button_cancel" mat-button>Cancel
          <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
        </button>
        <button type="submit" [disabled]="tncSubmitForm.invalid || loading" class="button_submit" mat-button>{{button_text}}
          <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
        </button>
      </div>
    </form>
  </div>
  <!-- // ===== Add Pages End ======= -->


  <!-- ====== Pages Table ======= -->
  <div *ngIf="isTableView">
    <div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let termsItem of termsDetails">
            <td>{{termsItem.title}}</td>
            <td [innerHtml]=termsItem.terms_conditions></td>
            <td>
              <button (click)="editCompnent(termsItem)" class="btn btn-success">EDIT</button>
            </td>
            <td>
              <button (click)="deleteCompnent(termsItem)" class="btn btn-danger">DELETE</button>
            </td>
          </tr>

        </tbody>
      </table>
      <br/>
    </div>
  </div>
  <!-- // ====== Pages Table End ======= -->


  <!-- =========grid view parent====== -->

  <div *ngIf="isGridView">

    <!-- <div class="main-category">
      <h6>Terms & Conditions Grid View</h6>
    </div> -->
    <div fxLayout="row" class="child-pages" [perfectScrollbar]="config">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let detail of termsDetails">
        <mat-card class="example-card">
          <div id="pageview">
          </div>
          <mat-card-content>
            <div id="pageheader">
              <div class="edit-title">
                <h6 fxFlex="50%" id="page-title">{{detail.title}}</h6>
                <i fxFlex="50%" fxLayoutAlign="end center" (click)="editCompnent(detail)" class="fa fa-pencil pull-right"></i>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <br>
        <br>
      </div>
    </div>

    <!-- // =========grid view parents End====== -->
  </div>
</div>