.card_pb {
  width: 700px;
  height: 300px;
  box-shadow: 0px 1.5px 18px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  background-color: #ffffff;
}
.area_problem {
    // max-width: 40%;
    margin: 0 auto;
    .button_submit {
        min-width: 100px;
    }
}
.areas-head{
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}
.view_items {
  box-shadow: 0px 1.5px 7.5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: calc( 100vh - 200px);
  .area-data{
    min-width: 1200px;
    overflow: auto;
  }
  .view_item {
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1.5px solid #f5f5f5;
    min-height: 80px;
    padding-left: 30px;
  }
  .view_item:last-child {
    border: none;
  }
  .name {
    font-size: 14px;
    font-weight: 500;
    color: #666666;
  }
  .code,.name-head {
    font-size: 14px;
    color: #919191;
    margin-left: 10px;
  }
  .btn:focus {
    outline: 0;
    box-shadow: none;
  }
  button i {
    font-family: FontAwesome !important;
    opacity: 0.6;
  }
  button i:hover {
    opacity: 1;
  }
}
