<!-- <ng4-loading-spinner></ng4-loading-spinner> -->

<ngx-alerts maxMessages="3" timeout="5000">
</ngx-alerts>

<div class="container tconfig page_padding" fxLayout="column" fxLayoutGap="30px">

  <div fxLayout="row" class="p-rel" fxLayoutAlign="space-between center">
    <div class="page-header">
      Whatsapp message Configuration
    </div>
    <div>
      <button class="choose_button" (click)="templateSelectionPopup()">Choose Template
        <span class="add_icon">
          <img src="../../assets/icons/create-icon-normal@3x.png" alt="+">
        </span>
      </button>
    </div>
  </div>

  <form role="form" [formGroup]="whatsAppSendingForm" class="admin-form" method="post" enctype="multipart/form-data">
    <div fxLayout="column" fxLayoutGap="13px">
      <div fxLayout="row" fxLayoutGap="48px">
        <div fxFlex="50%" fxLayout="column" fxLayoutGap="20px" class="input_box">
          <div class="form-group form-inline">
            <label>Choose Contacts from DB</label>
            <input class="form-control" formControlName="database" type="checkbox" #checkbox/>
          </div>
        </div>
        <div fxLayout="column" fxFlex="50%" class="input_box" fxLayoutGap="20px">
          <div>
            <label>Send to Group</label>
            <input formControlName="group" type="checkbox" #checkbox1>
          </div>
        </div>
      </div>
      <br/>
      <div fxLayout="column" fxLayoutGap="13px" class="input_box">
        <label>Enter the Message</label>
        <div class="input_box">
          <textarea formControlName="message" *ngIf="totalWhatsAppTemplateData" [ngModel]="totalWhatsAppTemplateData" id="message"
            placeholder="Message"></textarea>
          <textarea *ngIf="!totalWhatsAppTemplateData" formControlName="message" id="message" placeholder="Message"></textarea>
        </div>
      </div>
      <br/>
    </div>
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="end center">
      <button type="submit" (click)="submitwhatsAppSendingForm()" [disabled]="whatsAppSendingForm.invalid" class="button_submit">Send</button>
    </div>
  </form>
</div>
