<ng4-loading-spinner></ng4-loading-spinner>
<ngx-alerts maxMessages="3" timeout="5000"></ngx-alerts>

<!-- File Uploader -->
<div fxLayout="row" fxLayoutGap="50px" class="uploader_block">
  <form class="file_uploader" enctype="multipart/form-data">
    <div class="">
        <a href="javascript:void(0)" (click)="file.click()">
            Click to browse
          </a>
          Or Drag & Drop to upload your files
          <input type="file" class="form-control" #file [multiple]="(maxFiles == 1)" (change)="onFileChange($event)" style="display:none"
            id="file_path" />
      <!-- <input  type="file" id="image" (change)="selectMedia($event)" #fileInput multiple> -->
      <!-- <input  type="file" (removed)="onRemoved($event)" (uploadStateChanged)="onUploadStateChanged($event)" class="image-upload" id="image"
        [buttonCaption]="'Choose file'" [dropBoxMessage]="'or drag ‘n’ drop here'" (change)="onFileChange($event)" [style]="customStyle"
        #fileInput> -->
      <!-- <button class="upload-button" mat-raised-button [hidden]="ishide" type="submit" (click)="mediaManagementFormSubmit()">Upload</button> -->
    </div>
  </form>

  <div class="uploader_content" fxLayout="column" fxLayoutAlign=" center">
    <h3>Feed me dude I’m hungry, will you?</h3>
    <p>Shit man, What the f***!</p>
  </div>
</div>
<!-- //.. File Uploader -->
<br>
<br>

<!-- Header Title -->
<div fxLayout="row" class="header-media" fxLayoutAlign=" center">
  <h3 class="title m-0" fxFlex>
    Floders
  </h3>
  <div class="sort_controls" fxLayoutAlign=" center" fxLayout="row" fxLayoutGap="30px">
    <i class="fa fa-th-large"></i>
    <i class="fa fa-th"></i>
    <mat-form-field>
      <mat-select placeholder="Sort by Popularity">
        <mat-option value="option1" (click)='UsedImages()'>A to Z</mat-option>
        <mat-option value="option3" (click)='UnUsedImages()'>File Size</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<!-- //.. Header Title -->
<!-- Floders -->
<div class="row" *ngIf="repositories.length > 0">
  <div class="col-md-3" *ngFor="let repositoryitem of repositories; let i = index">
    <div class="floder_block" [ngClass]="{'active' : repositoryitem.isActive}" fxLayout="row" fxLayoutGap="15px" (click)="getDocuments(repositories, repositoryitem.folder, i)">
      <i class="fa fa-file-o"></i>
      <p class="floder_name">{{repositoryitem.folder}}</p>
    </div>
  </div>
</div>
<br>
<br>
<div>
  <h3 class="title" *ngIf="filtered_repositories.length > 0">Files</h3>
  <div class="row" *ngIf="filtered_repositories.length > 0">
    <div class="col-md-3" *ngFor="let filtered_item of filtered_repositories">
      <div class="file_block">
        <div fxLayoutAlign="center center" class="file_icon">
          <i class="fa fa-file-o" aria-hidden="true"></i>
        </div>
        <div class="file_footer">
          <h3 class="title">{{filtered_item.file_name +"."+ filtered_item.file_extension}}</h3>
        </div>
        <div class="file_actions">
          <div fxLayout="row" fxLayoutGap="15px">
            <a href="http://{{filtered_item.file_path}}" download="{{filtered_item.file_name}}.{{filtered_item.file_extension}}" class="fa fa-download action"></a>
            <i class="fa fa-trash action" (click)="deleteFile(filtered_item.id, filtered_item.client_id, filtered_repositories)"></i>
          </div>
        </div>
        <div class="bg-layer"></div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<!-- 
<form [formGroup]="FileUploadControl" (submit)="onSubmit()" enctype="multipart/form-data">
  <div draggable="true" ngClass="{{dragAreaClass}}">
    <div class="row">
      <div class="col-md-12 text-center" class="form-group">
        <a href="javascript:void(0)" (click)="file.click()">
          Click to browse
        </a>
        Or Drag & Drop to upload your files
        <input type="file" class="form-control" #file [multiple]="(maxFiles == 1)" (change)="onFileChange($event)" style="display:none"
          id="file_path" />
      </div>
    </div>
    <div class="form-group">
      <label>File Name</label>
      <input id="file_name" class="form-control" [(ngModel)]="file_name" value="file_name" formControlName="file_name" />
    </div>
    <div>
      <label>
        Folder Name
      </label>
      <input id="folder" class="form-control" [(ngModel)]="folder" value="folder" formControlName="folder" />
    </div>
  </div>
  <div>
    <button [disabled]="disable()">Submit</button>
  </div>
</form>
<div class="row error" *ngIf="errors.length > 0">
  <ul>
    <li *ngFor="let err of errors">{{err}}</li>
  </ul>
</div> -->
