<ng4-loading-spinner></ng4-loading-spinner>
<ngx-alerts maxMessages="3" timeout="5000"></ngx-alerts>

<div class="show_upload">
  <h3 (click)="uploadFile()">Upload Files</h3>
</div>

<!-- File Uploader -->
<div class="toggleShow_uploader" [ngClass]="{'ShowFileUploader': toggleFileUploader }">
  <div fxLayout="row" fxLayoutGap="50px" class="uploader_block">
    <form class="file_uploader" enctype="multipart/form-data">
      <div class="">
        <!-- <a href="javascript:void(0)" (click)="file.click()">
          Click to browse
        </a> -->
        <div fxLayout="column" class="choose-block" fxLayoutAlign="center center">
          <div class="choose_files">
            <button>Choose</button>
            <input type="file" #file [multiple]="(maxFiles == 1)" (change)="onFileChange($event)" id="file_path" />
          </div>
          <p>or drag ‘n’ drop here</p>
        </div>
      </div>
    </form>

    <div class="uploader_content" fxLayout="column" fxLayoutAlign="center start">
      <h3>Feed me dude I’m hungry, will you?</h3>
      <p>Shit man, What the f***!</p>
    </div>
  </div>
</div>
<!-- //.. File Uploader -->

<!-- Header Title -->
<div fxLayout="row" class="header-media" fxLayoutAlign=" center">
  <h3 class="title m-0" fxFlex>
    Folders
  </h3>
  <div class="sort_controls" fxLayoutAlign=" center" fxLayout="row" fxLayoutGap="30px">
    <!-- <div> -->
    <p class="file_storage_details" *ngIf=" (total_size/1048576).toFixed(2) >= 1.0 ">{{ (total_size/1048576).toFixed(2)}} MB used of 1 GB</p>
    <p class="file_storage_details" *ngIf=" (total_size/1048576).toFixed(2) < 1.0 ">{{ (total_size/1024).toFixed(2)}} KB used of 1 GB</p>
    <!-- </div> -->
    <i class="fa fa-th-large"></i>
    <i class="fa fa-th"></i>
    <mat-form-field>
      <mat-select placeholder="Sort by Popularity">
        <mat-option value="option1" (click)='sortByFolderName()'>A to Z</mat-option>
        <mat-option value="option1" (click)='sortByFolderNameDesc()'>Z to A</mat-option>
        <mat-option value="option3" (click)='sortBySize()'>File Size</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<!-- //.. Header Title -->
<!-- Floders -->
<div class="row" *ngIf="repositories.length > 0">
  <div class="col-md-3" *ngFor="let repositoryitem of repositories; let i = index">
    <div class="floder_block" [ngClass]="{'active' : repositoryitem.isActive}" fxLayout="row" fxLayoutGap="15px" (click)="getDocuments(repositories, repositoryitem.folder, i)">
      <i class="fa fa-folder-o"></i>
      <i class="fa fa-folder-open"></i>
      <p class="floder_name">{{repositoryitem.folder}}</p>
    </div>
  </div>
</div>
<br>
<br>
<div>
  <h3 class="title" *ngIf="filtered_repositories.length > 0">Files</h3>
  <h3 *ngIf="!filtered_repositories.length > 0">No files available</h3>
  <div class="row" *ngIf="filtered_repositories.length > 0 ">
    <div class="col-md-3" *ngFor="let filtered_item of filtered_repositories">
      <div class="file_block">
        <div fxLayoutAlign="center center" class="file_icon" (click)="openViewDialog(filtered_item.file_path, filtered_item.file_extension, filtered_item.file_name)">
          <i class="fa {{filtered_item.file_extension.toLowerCase()}}" aria-hidden="true"></i>
        </div>
        <div class="file_footer">
          <h3 class="title">{{filtered_item.file_name +"."+ filtered_item.file_extension}}</h3>
          <p class="file_size" *ngIf=" (filtered_item.file_size/1048576).toFixed(2) >= 1.0 ">{{(filtered_item.file_size/1048576).toFixed(2)}} MB</p>
          <p class="file_size" *ngIf=" (filtered_item.file_size/1048576).toFixed(2) < 1.0 ">{{(filtered_item.file_size/1024).toFixed(2)}} KB</p>
        </div>
        <div class="file_actions">
          <div fxLayout="row" fxLayoutGap="15px">
            <a href="http://{{filtered_item.file_path}}" download="{{filtered_item.file_name}}.{{filtered_item.file_extension}}" class="fa fa-download action">
            </a>
            <i class="fa fa-trash action" (click)="deleteFile(filtered_item.id, filtered_repositories)"></i>
          </div>
        </div>
        <!-- <div class="bg-layer"></div> -->
      </div>
    </div>
  </div>
</div>
<!-- <dialog-overview-example-dialog (getData)="myEvent($event)"></dialog-overview-example-dialog> -->
